@media (-moz-platform: linux),

       /* ESR / Waterfox */
       (-moz-gtk-csd-available)
{
    
    @supports -moz-bool-pref("Style.WaveFox") or
              -moz-bool-pref("Style.Australis") or
              -moz-bool-pref("Style.Chrome") or
              -moz-bool-pref("Style.Chrome-Old") or
              -moz-bool-pref("Style.Edge")
    {
        :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .tabbrowser-tab[visuallyselected] .tab-background::before,
        :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .tabbrowser-tab[visuallyselected] .tab-background::after
        {
            fill: color-mix(in srgb, var(--toolbar-bgcolor), white 7.5%) !important;
        }
    }
    
    @supports -moz-bool-pref("Style.Menu-Icons-Regular") or
              -moz-bool-pref("Style.Menu-Icons-Filled")
    {
        :root
        {
            --align-menu-icons: -2px -18px -2px -2px;
        }
    }

    @supports -moz-bool-pref("Style.Tab-Indicator-Enabled")
    {
        :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .tabbrowser-tab[visuallyselected] .tab-background
        {
            box-shadow: inset 0 2px 0 color-mix(in srgb, -moz-accent-color, transparent) !important;
        }
    }

    @supports -moz-bool-pref("Style.Linux-Transparency-Enabled")
    {
        #main-window:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode])
        {
            background-color: color-mix(in srgb, -moz-Dialog 85%, transparent) !important;
        }

        :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox-background
        {
            appearance: none !important;
        }

        :root:not([tabsintitlebar]):is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-color
        {
            appearance: none !important;
        }
    }
}
