@media (-moz-platform: linux)
{

    @supports -moz-bool-pref("userChrome.WaveFoxTabs-Enabled") or
              -moz-bool-pref("userChrome.AustralisTabs-Enabled") or
              -moz-bool-pref("userChrome.ChromeTabs-Enabled") or
              -moz-bool-pref("userChrome.LegacyChromeTabs-Enabled") or
              -moz-bool-pref("userChrome.EdgeTabs-Enabled")
    {
        :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .tabbrowser-tab[visuallyselected] .tab-background::before,
        :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .tabbrowser-tab[visuallyselected] .tab-background::after
        {
            fill: color-mix(in srgb, var(--toolbar-bgcolor), white 7.5%) !important;
        }
    }
    
    @supports -moz-bool-pref("userChrome.RegularMenuIcons-Enabled") or
              -moz-bool-pref("userChrome.FilledMenuIcons-Enabled")
    {
        :root
        {
            --align-menu-icons: -2px -18px -2px -2px;
        }
    }

    @supports -moz-bool-pref("userChrome.LinuxSemiTransparency-Enabled")
    {
        #main-window:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode])
        {
            background-color: color-mix(in srgb, -moz-Dialog 90%, transparent) !important;
        }

        :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox-background
        {
            appearance: none !important;
        }

        :root:not([tabsintitlebar]):is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-color
        {
            appearance: none !important;
        }
    }

    @supports -moz-bool-pref("userChrome.LinuxTransparency-Enabled")
    {
        #main-window:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode])
        {
            background-color: transparent !important;
        }

        :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox-background
        {
            appearance: none !important;
        }

        :root:not([tabsintitlebar]):is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-color
        {
            appearance: none !important;
        }
    }

    /* ---------- Drag Space ---------- */
    
    @supports -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        #toolbar-menubar:not([inactive]) + #TabsToolbar
        {
            --drag-space: 0px !important;
        }
    }

    @supports not -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        :root:not([tabsintitlebar]),
        #toolbar-menubar:not([inactive]) + #TabsToolbar
        {
            --drag-space: 8px !important;
        }
    }
    
    /* One Line */
    
    @supports -moz-bool-pref("userChrome.OneLine-Enabled") and
              -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        #navigator-toolbox
        {
            grid-template-columns: max-content auto !important;
        }

        #titlebar
        {
            grid-area: 1 / 2 / span 1 / span 2 !important;
        }
    }

}
