@supports -moz-bool-pref("userChrome.RegularMenuIcons-Enabled") or
          -moz-bool-pref("userChrome.FilledMenuIcons-Enabled")
{
    :root
    {
        --align-menu-icons: -2px -18px;
    }
}

@supports -moz-bool-pref("userChrome.Linux.Transparency.Low.Enabled")      or
          -moz-bool-pref("userChrome.Linux.Transparency.Medium.Enabled")   or
          -moz-bool-pref("userChrome.Linux.Transparency.High.Enabled")     or
          -moz-bool-pref("userChrome.Linux.Transparency.VeryHigh.Enabled")
{
    :root[tabsintitlebar][sizemode="normal"]:not([gtktiledwindow="true"]):is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive)
    {
        appearance: none !important;
    }

    :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive)
    {
        @supports -moz-bool-pref("userChrome.Linux.Transparency.Low.Enabled")
        {
            --titlebar-bgcolor: color-mix(in srgb, ActiveCaption 75%, transparent);
        }

        @supports -moz-bool-pref("userChrome.Linux.Transparency.Medium.Enabled")
        {
            --titlebar-bgcolor: color-mix(in srgb, ActiveCaption 50%, transparent);
        }

        @supports -moz-bool-pref("userChrome.Linux.Transparency.High.Enabled")
        {
            --titlebar-bgcolor: color-mix(in srgb, ActiveCaption 25%, transparent);
        }

        @supports -moz-bool-pref("userChrome.Linux.Transparency.VeryHigh.Enabled")
        {
            --titlebar-bgcolor: transparent;
        }

        background-color: var(--titlebar-bgcolor) !important;

        #navigator-toolbox
        {
            appearance: none !important;
            background-color: var(--titlebar-bgcolor) !important;
        }

        #navigator-toolbox-background
        {
            appearance: none !important;
        }
    }
}
