@media (-moz-bool-pref: "userChrome.Menu.Icons.Regular.Enabled") or
       (-moz-bool-pref: "userChrome.Menu.Icons.Filled.Enabled")
{
    :root
    {
        --align-menu-icons: -2px -18px;
    }
}

@media (-moz-bool-pref: "userChrome.Linux.Transparency.Low.Enabled")      or
       (-moz-bool-pref: "userChrome.Linux.Transparency.Medium.Enabled")   or
       (-moz-bool-pref: "userChrome.Linux.Transparency.High.Enabled")     or
       (-moz-bool-pref: "userChrome.Linux.Transparency.VeryHigh.Enabled")
{
    :root
    {
        @media (-moz-bool-pref: "userChrome.Linux.Transparency.Low.Enabled")
        {
            --toolbox-transparency: 25%;
        }

        @media (-moz-bool-pref: "userChrome.Linux.Transparency.Medium.Enabled")
        {
            --toolbox-transparency: 50%;
        }

        @media (-moz-bool-pref: "userChrome.Linux.Transparency.High.Enabled")
        {
            --toolbox-transparency: 75%;
        }

        @media (-moz-bool-pref: "userChrome.Linux.Transparency.VeryHigh.Enabled")
        {
            --toolbox-transparency: 100%;
        }

        &[tabsintitlebar]:not([lwtheme]) #navigator-toolbox
        {
            background-color: color-mix(in srgb, ActiveCaption, transparent var(--toolbox-transparency)) !important;
        }
    }
}
