@media (-moz-platform: macos)
{
    :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox-background
    {
        appearance: -moz-mac-source-list !important;
    }

    :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox
    {
        background-color: transparent !important;
        transform: translateY(0px) !important;
        z-index: 1 !important;
    }

}
