@media (-moz-bool-pref: "userChrome.MacOS.Vibrancy.Enabled")
{
    :root[tabsintitlebar]:not([lwtheme], :-moz-window-inactive)
    {
        appearance: menupopup !important;

        #navigator-toolbox
        {
            background-color: transparent !important;
        }

        .titlebar-color
        {
            --toolbarbutton-hover-background: color-mix(in srgb, currentColor 17%, transparent) !important;
            --toolbarbutton-active-background: color-mix(in srgb, currentColor 30%, transparent) !important;
        }
    }
}
