@media (-moz-platform: macos)
{
    :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox-background
    {
        appearance: -moz-mac-source-list !important;
    }

    :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox
    {
        background-color: transparent !important;
        transform: translateY(0px) !important;
        z-index: 1 !important;
    }

    /* ---------- Drag Space ---------- */

    @supports not -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        :root:not([tabsintitlebar])
        {
            --drag-space: 8px !important;
        }
    }
    
    /* One Line */
    
    @supports -moz-bool-pref("userChrome.OneLine-Enabled") and
              -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        #titlebar
        {
            order: 1 !important;
        }
        
        #nav-bar
        {
            order: 3 !important;
        }
    }

}
