@media (-moz-platform: windows-win8),
       (-moz-platform: windows-win7)
{

    @media (-moz-windows-glass)
    {
        :root:not(:-moz-lwtheme) #titlebar
        {
            color: white !important;
        }
    }

    .titlebar-color
    {
        background-image: none !important;
    }

    @supports -moz-bool-pref("userChrome.RegularMenuIcons-Enabled") or
              -moz-bool-pref("userChrome.FilledMenuIcons-Enabled")
    {
        :root
        {
            --align-menu-icons: 0 -22px 0 2px;
        }
    }

    @supports -moz-bool-pref("userChrome.OneLine.TabBarFirst.Enabled") or
              -moz-bool-pref("userChrome.OneLine.NavBarFirst.Enabled")
    {
        #titlebar
        {
            appearance: none !important;
        }

        :root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox
        {
            margin-top: 8px !important;
        }
    }
       
    @supports -moz-bool-pref("userChrome.TabsOnBottom-Enabled")
    {
        .toolbar-items
        {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }
    }

}
