@media (-moz-platform: windows-win10),
    
       /* Legacy (Firefox 99) */
       (-moz-os-version: windows-win10)
{
    
    @supports -moz-bool-pref("Style.Proton") or
              -moz-bool-pref("Style.Photon") or
              -moz-bool-pref("Style.WaveFox") or
              -moz-bool-pref("Style.Australis") or
              -moz-bool-pref("Style.Chrome") or
              -moz-bool-pref("Style.Chrome-Old") or
              -moz-bool-pref("Style.Edge")
    {
        @media (-moz-windows-default-theme)
        {
            @media (-moz-windows-accent-color-in-titlebar)
            {
                :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive) .titlebar-color
                {
                    background-color: -moz-accent-color !important;
                    color: -moz-accent-color-foreground !important;
                }
            }

            .titlebar-buttonbox-container
            {
                -moz-box-align: start !important;
            }

            .titlebar-button:not(.titlebar-close):hover
            {
                background-color: var(--toolbarbutton-hover-background) !important;
            }

            .titlebar-button:not(.titlebar-close):hover:active
            {
                background-color: var(--toolbarbutton-active-background) !important;
            }
        }
    }
    
    @supports -moz-bool-pref("Style.WaveFox") or
              -moz-bool-pref("Style.Australis") or
              -moz-bool-pref("Style.Chrome") or
              -moz-bool-pref("Style.Chrome-Old") or
              -moz-bool-pref("Style.Edge")
    {    
        @media (prefers-contrast)
        {
            :root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected] .tab-background::before,
            :root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected] .tab-background::after
            {
                fill: color-mix(in srgb, var(--toolbar-bgcolor), white 15%) !important;
            }
        }
    }
    
    @supports -moz-bool-pref("Style.Menu-Icons-Regular") or
              -moz-bool-pref("Style.Menu-Icons-Filled")
    {
        :root
        {
            --align-menu-icons: -2px 6px -2px -2px;
        }
    }
    
    @media (-moz-windows-non-native-menus)
    {
        menupopup[needsgutter] menu:not([icon], .menu-iconic),
        menupopup[needsgutter] menuitem:not([checked="true"], [icon], .menuitem-iconic)
        {
            padding-inline-start: 1em !important;
        }
    }

}
