@media (-moz-platform: windows-win10)
{
    @media (-moz-windows-default-theme: 1)
    {
        @media (-moz-windows-accent-color-in-titlebar: 1)
        {
            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive) #navigator-toolbox-background
            {
                background-color: AccentColor !important;
            }

            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive) #navigator-toolbox
            {
                background-color: transparent !important;
            }

            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive) .titlebar-color
            {
                color: AccentColorText !important;
            }
        }

        .titlebar-button:not(.titlebar-close):hover
        {
            background-color: var(--toolbarbutton-hover-background) !important;
        }

        .titlebar-button:not(.titlebar-close):hover:active
        {
            background-color: var(--toolbarbutton-active-background) !important;
        }
    }

    @supports -moz-bool-pref("userChrome.WindowsSystemEffects-Enabled")
    {
        @media (-moz-windows-accent-color-in-titlebar: 0)
        {
            #main-window:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode])
            {
                appearance: -moz-win-borderless-glass !important;
                background-color: transparent !important;
            }

            :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox
            {
                background-color: transparent !important;
            }

            :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-buttonbox:not(:hover, :hover:active)
            {
                opacity: 0 !important;
            }
        }
    }

    @supports -moz-bool-pref("userChrome.RegularMenuIcons-Enabled") or
              -moz-bool-pref("userChrome.FilledMenuIcons-Enabled")
    {
        :root
        {
            --align-menu-icons: -2px 6px -2px -2px;
        }
    }
    
    @media (-moz-windows-non-native-menus)
    {
        menupopup[needsgutter] menu:not([icon], .menu-iconic),
        menupopup[needsgutter] menuitem:not([checked="true"], [icon], .menuitem-iconic)
        {
            padding-inline-start: 1em !important;
        }
    }

}
