@media (-moz-platform: windows-win8),
       (-moz-platform: windows-win7)
{

    @media (-moz-windows-glass)
    {
        :root:not(:-moz-lwtheme) #titlebar
        {
            color: white !important;
        }
    }

    .titlebar-color
    {
        background-image: none !important;
    }

    @supports -moz-bool-pref("userChrome.WaveFoxTabs-Enabled") or
              -moz-bool-pref("userChrome.AustralisTabs-Enabled") or
              -moz-bool-pref("userChrome.ChromeTabs-Enabled") or
              -moz-bool-pref("userChrome.LegacyChromeTabs-Enabled") or
              -moz-bool-pref("userChrome.EdgeTabs-Enabled")
    {   
        @media (prefers-contrast)
        {
            :root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected] .tab-background::before,
            :root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected] .tab-background::after
            {
                fill: color-mix(in srgb, var(--toolbar-bgcolor), white 15%) !important;
            }
        }
    }
       
    @supports -moz-bool-pref("userChrome.RegularMenuIcons-Enabled") or
              -moz-bool-pref("userChrome.FilledMenuIcons-Enabled")
    {
        :root
        {
            --align-menu-icons: 0 -22px 0 2px;
        }
    }
       
    /* ---------- Drag Space ---------- */
       
    @supports -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        #toolbar-menubar:not([inactive]) + #TabsToolbar
        {
            --drag-space: 0px !important;
        }
    }

    @supports not -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        :root:not([tabsintitlebar]),
        #toolbar-menubar:not([inactive]) + #TabsToolbar
        {
            --drag-space: 8px !important;
        }
    }
       
    /* One Line */

    @supports -moz-bool-pref("userChrome.OneLine-Enabled") and
              -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        #titlebar
        {
            appearance: none !important;
            order: 3 !important;
        }
        
        #nav-bar
        {
            order: 1 !important;
        }
           
        :root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox
        {
            margin-top: 8px !important;
        }

        .toolbar-items
        {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }
    }
       
    @supports -moz-bool-pref("userChrome.TabsOnBottom-Enabled")
    {
        .toolbar-items
        {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }
    }

}
