@media (-moz-platform: windows-win10)
{
    @media (-moz-windows-default-theme: 1)
    {
        @media (-moz-windows-accent-color-in-titlebar: 1)
        {
            :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive) #navigator-toolbox
            {
                background-color: AccentColor !important;
            }
                
            :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive) .titlebar-color
            {
                color: AccentColorText !important;
            }
        }

        .titlebar-buttonbox-container
        {
            -moz-box-align: start !important;
        }

        .titlebar-button:not(.titlebar-close):hover
        {
            background-color: var(--toolbarbutton-hover-background) !important;
        }

        .titlebar-button:not(.titlebar-close):hover:active
        {
            background-color: var(--toolbarbutton-active-background) !important;
        }
    }

    @supports -moz-bool-pref("userChrome.WindowsSystemEffects-Enabled")
    {
        @media (-moz-windows-accent-color-in-titlebar: 0)
        {
            #main-window:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode])
            {
                appearance: -moz-win-glass !important;
                background-color: transparent !important;
            }

            :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox
            {
                background-color: transparent !important;
            }

            :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-buttonbox
            {
                background-color: var(--toolbar-bgcolor) !important;
                border-bottom-left-radius: 8px !important;
                filter: var(--special-main-outer-shadow) var(--special-additional-outer-shadow) !important;
                opacity: 0 !important;
            }

            :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-buttonbox:hover
            {
                opacity: 1 !important;
            }

            :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-min
            {
                border-bottom-left-radius: 8px !important;
            }
        }
    }

    @supports -moz-bool-pref("userChrome.WaveFoxTabs-Enabled") or
              -moz-bool-pref("userChrome.AustralisTabs-Enabled") or
              -moz-bool-pref("userChrome.ChromeTabs-Enabled") or
              -moz-bool-pref("userChrome.LegacyChromeTabs-Enabled") or
              -moz-bool-pref("userChrome.EdgeTabs-Enabled")
    {    
        @media (prefers-contrast)
        {
            :root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected] .tab-background::before,
            :root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected] .tab-background::after
            {
                fill: color-mix(in srgb, var(--toolbar-bgcolor), white 15%) !important;
            }
        }
    }
    
    @supports -moz-bool-pref("userChrome.RegularMenuIcons-Enabled") or
              -moz-bool-pref("userChrome.FilledMenuIcons-Enabled")
    {
        :root
        {
            --align-menu-icons: -2px 6px -2px -2px;
        }
    }
    
    @media (-moz-windows-non-native-menus)
    {
        menupopup[needsgutter] menu:not([icon], .menu-iconic),
        menupopup[needsgutter] menuitem:not([checked="true"], [icon], .menuitem-iconic)
        {
            padding-inline-start: 1em !important;
        }
    }
    
    /* ---------- Drag Space ---------- */
    
    @supports -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        #toolbar-menubar:not([inactive]) + #TabsToolbar
        {
            --drag-space: 0px !important;
        }
    }

    @supports not -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        :root:not([tabsintitlebar]),
        #toolbar-menubar:not([inactive]) + #TabsToolbar
        {
            --drag-space: 8px !important;
        }
    }
    
    /* One Line */

    @supports -moz-bool-pref("userChrome.OneLine-Enabled") and
              -moz-bool-pref("userChrome.ProtonTabs-Enabled")
    {
        #titlebar
        {
            appearance: none !important;
            order: 3 !important;
        }
        
        #nav-bar
        {
            order: 1 !important;
        }
    }

}
