@media (-moz-platform: windows-win10)
{
    @media (-moz-windows-default-theme: 1)
    {
        @media (-moz-windows-accent-color-in-titlebar: 1)
        {
            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive) #navigator-toolbox-background
            {
                background-color: AccentColor !important;
            }

            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive) #navigator-toolbox
            {
                background-color: transparent !important;
            }

            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not(:-moz-window-inactive) .titlebar-color
            {
                color: AccentColorText !important;
            }
        }

        .titlebar-buttonbox-container
        {
            align-items: flex-start !important;
        }

        .titlebar-button:not(.titlebar-close):hover
        {
            background-color: var(--toolbarbutton-hover-background) !important;
        }

        .titlebar-button:not(.titlebar-close):hover:active
        {
            background-color: var(--toolbarbutton-active-background) !important;
        }
    }

    @supports -moz-bool-pref("userChrome.Windows.SystemEffects.Enabled")
    {
        @media (-moz-windows-accent-color-in-titlebar: 0)
        {
            #main-window[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode])
            {
                appearance: -moz-win-borderless-glass !important;
                background-color: transparent !important;
            }

            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox
            {
                background-color: transparent !important;
            }

            :root[sizemode="normal"][tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox
            {
                margin-block-start: 1px !important;
            }

            /* System window control buttons */

            @media (min-resolution: 1dppx)
            {
                .titlebar-buttonbox-container
                {
                    --titlebar-button-inline-padding: 16px;
                    --titlebar-close-inline-padding: 17px;
                }
            }

            @media (min-resolution: 1.25dppx)
            {
                .titlebar-buttonbox-container
                {
                    --titlebar-button-inline-padding: 17px;
                    --titlebar-close-inline-padding: 18px;
                }
            }

            @media (min-resolution: 1.5dppx)
            {
                .titlebar-buttonbox-container
                {
                    --titlebar-button-inline-padding: 17px;
                    --titlebar-close-inline-padding: 17px;
                }
            }

            @media (min-resolution: 1.75dppx)
            {
                .titlebar-buttonbox-container
                {
                    --titlebar-button-inline-padding: 17px;
                    --titlebar-close-inline-padding: 17px;
                }
            }

            @media (min-resolution: 2dppx)
            {
                .titlebar-buttonbox-container
                {
                    --titlebar-button-inline-padding: 16px;
                    --titlebar-close-inline-padding: 17px;
                }
            }

            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not([sizemode="fullscreen"]) .titlebar-button:not(.titlebar-close:hover, .titlebar-close:hover:active) .toolbarbutton-icon
            {
                opacity: 0 !important;
            }

            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not([sizemode="fullscreen"]) .titlebar-button:not(.titlebar-close)
            {
                margin-inline-end: 1px !important;
            }

            :root[sizemode="normal"][tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-button
            {
                padding-inline: var(--titlebar-button-inline-padding) !important;
            }

            :root[sizemode="normal"][tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-close
            {
                padding-inline: var(--titlebar-close-inline-padding) !important;
            }

            :root[sizemode="maximized"][tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-button
            {
                padding-inline: var(--titlebar-button-inline-padding) !important;
            }

            :root[sizemode="maximized"][tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-close
            {
                margin-inline-end: 2px !important;
                padding-inline: var(--titlebar-close-inline-padding) !important;
            }
        }
    }

    @supports -moz-bool-pref("userChrome.RegularMenuIcons-Enabled") or
              -moz-bool-pref("userChrome.FilledMenuIcons-Enabled")
    {
        :root
        {
            --align-menu-icons: -2px 6px;
        }
    }
    
    @media (-moz-windows-non-native-menus)
    {
        menupopup[needsgutter] menu:not([icon], .menu-iconic),
        menupopup[needsgutter] menuitem:not([checked="true"], [icon], .menuitem-iconic)
        {
            padding-inline-start: 1em !important;
        }
    }

}
