@media (-moz-os-version: windows-win10),
       (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win7),
       (-moz-gtk-csd-available),
       (-moz-mac-big-sur-theme)
{

/* ---------------------------------------- Custom settings ---------------------------------------- */

/* -------------------- Compact mode -------------------- */

:root[uidensity="compact"][lwtheme-mozlightdark]:is(:not(:-moz-lwtheme), :-moz-lwtheme-darktext)
{
    /* ---------- Shadows (Light theme / Compact mode) ---------- */
    --primary-shadow-color:         black;
    --secondary-shadow-color:       black;
    --primary-shadow-blur:          2px;     /* Even values only */
    --secondary-shadow-blur:        8px;     /* Even values only */
    --primary-shadow-saturation:    10%;
    --secondary-shadow-saturation:  20%;
}

:root[uidensity="compact"][lwtheme-mozlightdark]:is([lwt-default-theme-in-dark-mode], :-moz-lwtheme-brighttext)
{
    /* ---------- Shadows (Dark theme / Compact mode) ---------- */
    --primary-shadow-color:         black;
    --secondary-shadow-color:       black;
    --primary-shadow-blur:          2px;     /* Even values only */
    --secondary-shadow-blur:        8px;     /* Even values only */
    --primary-shadow-saturation:    25%;
    --secondary-shadow-saturation:  50%;
}

:root[uidensity="compact"]
{
    /* ---------- Drag space (Compact mode) ---------- */
    --top-side-drag-space-windowed:          8px;
    --top-side-drag-space-maximized:         0px;
    --top-side-drag-space-menubar-titlebar:  8px;
    --left-side-drag-space:                  40px;
    --right-side-drag-space:                 40px;

    /* ---------- Context menus (Compact mode) ---------- */
    --browser-context-menu-margin-padding:        4px;
    --win11-win10-context-menu-margin-padding:    4px;

    /* ---------- Tabs (Compact mode) ---------- */
    --separators-color-saturation:           50%;
    --first-separator-saturation:            50%;
}

/* -------------------- Normal mode -------------------- */

:root[lwtheme-mozlightdark]:is(:not(:-moz-lwtheme), :-moz-lwtheme-darktext)
{
    /* ---------- Shadows (Light theme / Normal mode) ---------- */
    --primary-shadow-color:         black;
    --secondary-shadow-color:       black;
    --primary-shadow-blur:          2px;     /* Even values only */
    --secondary-shadow-blur:        8px;     /* Even values only */
    --primary-shadow-saturation:    10%;
    --secondary-shadow-saturation:  20%;
}

:root[lwtheme-mozlightdark]:is([lwt-default-theme-in-dark-mode], :-moz-lwtheme-brighttext)
{
    /* ---------- Shadows (Dark theme / Normal mode) ---------- */
    --primary-shadow-color:         black;
    --secondary-shadow-color:       black;
    --primary-shadow-blur:          2px;     /* Even values only */
    --secondary-shadow-blur:        8px;     /* Even values only */
    --primary-shadow-saturation:    25%;
    --secondary-shadow-saturation:  50%;
}

:root
{
    /* ---------- Drag space (Normal mode) ---------- */
    --top-side-drag-space-windowed:          8px;
    --top-side-drag-space-maximized:         0px;
    --top-side-drag-space-menubar-titlebar:  8px;
    --left-side-drag-space:                  40px;
    --right-side-drag-space:                 40px;

    /* ---------- Context menus (Normal mode) ---------- */
    --browser-context-menu-margin-padding:        6px;
    --win11-win10-context-menu-margin-padding:    6px;

    /* ---------- Tabs (Normal mode) ---------- */
    --separators-color-saturation:           50%;
    --first-separator-saturation:            50%;
}

/* -------------------- Touch mode -------------------- */

:root[uidensity="touch"][lwtheme-mozlightdark]:is(:not(:-moz-lwtheme), :-moz-lwtheme-darktext)
{
    /* ---------- Shadows (Light theme / Touch mode) ---------- */
    --primary-shadow-color:         black;
    --secondary-shadow-color:       black;
    --primary-shadow-blur:          2px;     /* Even values only */
    --secondary-shadow-blur:        8px;     /* Even values only */
    --primary-shadow-saturation:    10%;
    --secondary-shadow-saturation:  20%;
}

:root[uidensity="touch"][lwtheme-mozlightdark]:is([lwt-default-theme-in-dark-mode], :-moz-lwtheme-brighttext)
{
    /* ---------- Shadows (Dark theme / Touch mode) ---------- */
    --primary-shadow-color:         black;
    --secondary-shadow-color:       black;
    --primary-shadow-blur:          2px;     /* Even values only */
    --secondary-shadow-blur:        8px;     /* Even values only */
    --primary-shadow-saturation:    25%;
    --secondary-shadow-saturation:  50%;
}

:root[uidensity="touch"]
{
    /* ---------- Drag space (Touch mode) ---------- */
    --top-side-drag-space-windowed:          8px;
    --top-side-drag-space-maximized:         0px;
    --top-side-drag-space-menubar-titlebar:  8px;
    --left-side-drag-space:                  40px;
    --right-side-drag-space:                 40px;

    /* ---------- Context menus (Touch mode) ---------- */
    --browser-context-menu-margin-padding:        8px;
    --win11-win10-context-menu-margin-padding:    8px;

    /* ---------- Tabs (Touch mode) ---------- */
    --separators-color-saturation:           50%;
    --first-separator-saturation:            50%;
}

/* -------------------- Alpenglow / Repository -------------------- */

:root:not([lwtheme-mozlightdark])
{
    /* ---------- Selected tab indicator ---------- */
    --tab-indicator-color: var(--toolbarbutton-icon-fill);  /* var(--toolbarbutton-icon-fill) */
    --tab-indicator-saturation: 100%;
}

/* ------------------------------------------------------------------------------------------------- */

/* ---------------------------------------- Shadows ---------------------------------------- */

:root[lwtheme-mozlightdark]
{
    --primary-shadow: color-mix(in srgb, var(--primary-shadow-color) var(--primary-shadow-saturation), transparent);
    --secondary-shadow: color-mix(in srgb, var(--secondary-shadow-color) var(--secondary-shadow-saturation), transparent);
}

:root[lwtheme-mozlightdark]
{
    --outer-shadows: 0 0 var(--primary-shadow-blur) 0 var(--primary-shadow),
                     0 0 var(--secondary-shadow-blur) 0 var(--secondary-shadow);
    --inner-shadows: inset 0 calc(-1 * var(--primary-shadow-blur)) var(--primary-shadow-blur) calc(-1 * var(--primary-shadow-blur)) var(--primary-shadow),
                     inset 0 calc(-1 * var(--secondary-shadow-blur)) var(--secondary-shadow-blur) calc(-1 * var(--secondary-shadow-blur)) var(--secondary-shadow);
    --special-outer-shadows: drop-shadow(0 0 calc(var(--primary-shadow-blur) / 2) var(--primary-shadow))
                             drop-shadow(0 0 calc(var(--secondary-shadow-blur) / 2) var(--secondary-shadow));
}

/* ---------------------------------------- Unneeded styles ---------------------------------------- */

:root
{
    --tab-selected-bgcolor: unset !important;
    --lwt-selected-tab-background-color: unset !important;
    --tabs-border-color: unset !important;
}

/* ---------------------------------------- Density ---------------------------------------- */

:root[uidensity="compact"]
{
    --tab-min-height: 30px !important;
}

:root[uidensity="touch"]
{
    --tab-min-height: 42px !important;
}

/* ---------------------------------------- Alpenglow / Repository ---------------------------------------- */

:root:not([lwtheme-mozlightdark])
{
    --tab-indicator: color-mix(in srgb, var(--tab-indicator-color) var(--tab-indicator-saturation), transparent);
}

:root:not([lwtheme-mozlightdark]) .tabbrowser-tab[visuallyselected] .tab-background
{
    box-shadow: inset 0 0 0 2px var(--tab-indicator) !important;
}

/* ---------------------------------------- Context menus (Not os related) ---------------------------------------- */

:root
{
    --arrowpanel-menuitem-margin: 0 var(--browser-context-menu-margin-padding) !important;
    --arrowpanel-menuitem-padding-block: var(--browser-context-menu-margin-padding) !important;
    --arrowpanel-menuitem-padding-inline: var(--browser-context-menu-margin-padding) !important;
    --panel-separator-margin-vertical: var(--browser-context-menu-margin-padding) !important;
    --panel-separator-margin-horizontal: var(--browser-context-menu-margin-padding) !important;
    --panel-subview-body-padding: var(--browser-context-menu-margin-padding) 0 !important;
}

/* ---------------------------------------- Context menus (Os related) ---------------------------------------- */

@media (-moz-os-version: windows-win10)
{
    @media (-moz-windows-non-native-menus)
    {
        menupopup:not(.in-menulist)
        {
            --panel-padding: var(--win11-win10-context-menu-margin-padding) 0 !important;
        }

        menupopup:not(.in-menulist) :is(menuitem, menu)
        {
            padding-block: var(--win11-win10-context-menu-margin-padding) !important;
        }
    }
}

/* ---------------------------------------- Titlebar ---------------------------------------- */

:root[lwtheme-mozlightdark] #titlebar
{
    --toolbarbutton-icon-fill: currentColor;
    --toolbarbutton-hover-background: color-mix(in srgb, currentColor 10%, transparent) !important;
    --toolbarbutton-active-background: color-mix(in srgb, currentColor 20%, transparent) !important;
}

/* ---------------------------------------- Tabs ---------------------------------------- */

.tabbrowser-tab
{
    color: inherit !important;
    --tab-label-mask-size: 2em !important;
}

.tabbrowser-tab[visuallyselected] .tab-stack
{
    color: var(--lwt-tab-text, var(--toolbar-color)) !important;
}

.tabbrowser-tab[visuallyselected] .tab-background
{
    filter: var(--special-outer-shadows);
}

.tab-background
{
    box-shadow: none !important;
    opacity: 1 !important;
}

.tabbrowser-tab:hover:not([visuallyselected],[multiselected]) .tab-background
{
    background: var(--toolbarbutton-hover-background) !important;
}

.tabbrowser-tab[multiselected]:not([visuallyselected]) .tab-background
{
    background: var(--toolbarbutton-active-background) !important;
}

.tab-loading-burst
{
    display: none !important;
}

.tab-close-button
{
    width: 24px !important;
    padding: 7px !important;
}

/* -------------------- Overflow Mode -------------------- */
    
#tabbrowser-tabs[overflow] .tabbrowser-tab:is([visuallyselected],:hover,[multiselected]):not([pinned]) .tab-stack
{
    justify-content: center !important;
}

#tabbrowser-tabs[overflow] .tabbrowser-tab:is([visuallyselected],:hover,[multiselected]):not([pinned]) :is(.tab-throbber, .tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay, .tab-icon-overlay)
{
    margin-right: 0 !important;
}

#tabbrowser-tabs[overflow] .tabbrowser-tab:is([visuallyselected],:hover,[multiselected]):not([pinned]) :is(.tab-label-container, .tab-close-button)
{
    display: none !important;
}

/* -------------------- Pinned Tabs -------------------- */

#tabbrowser-tabs[overflow] .tabbrowser-tab:is([visuallyselected],:hover,[multiselected]):not([pinned]) .tab-content,
.tab-content[pinned]
{
    padding: 0 calc(var(--tab-min-height) / 2 - var(--inline-tab-padding)) !important;
}

/* -------------------- Container Indicators -------------------- */

.tab-icon-stack::before
{
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    top: 18px;
    background-color: var(--identity-icon-color);
}

.tab-context-line
{
    display: none !important;
}

/* -------------------- Tab Icon Image -------------------- */

.tab-icon-image:not([src], [pinned], [crashed], [sharing], [pictureinpicture], [busy])
{
    display: revert !important;
}

/* -------------------- Tab Icon Indicator -------------------- */

#TabsToolbar
{
    --attention-icon-color: currentColor !important;
}

.tabbrowser-tab:is([image], [pinned]) .tab-content[attention]:not([selected]),
.tab-content[pinned][titlechanged]:not([selected])
{
    background-position: 50% 4px !important;
}

/* -------------------- Media Icons -------------------- */

:root
{
    --tab-media-icon-overlay-background: var(--toolbar-bgcolor);
    --tab-media-icon-overlay-color: var(--lwt-tab-text, var(--toolbar-color));
    --tab-media-icon-overlay-hover: color-mix(in srgb, currentColor 10%, var(--toolbar-bgcolor));
    --tab-media-icon-overlay-active: color-mix(in srgb, currentColor 20%, var(--toolbar-bgcolor));
    --tab-media-icon-overlay-shadows: var(--outer-shadows);
}

.tab-icon-overlay:not([crashed]):is([pinned], [sharing]):hover,
.tab-icon-overlay:not([pinned], [sharing], [crashed]):hover
{
    background-color: var(--tab-media-icon-overlay-hover) !important;
}

.tab-icon-overlay:not([crashed]):is([pinned], [sharing]):active,
.tab-icon-overlay:not([pinned], [sharing], [crashed]):active
{
    background-color: var(--tab-media-icon-overlay-active) !important;
}

.tabbrowser-tab:not([visuallyselected]) .tab-icon-overlay:not([crashed]):is([pinned], [sharing]),
.tabbrowser-tab:not([visuallyselected]) .tab-icon-overlay:not([pinned], [sharing], [crashed])
{
    box-shadow: var(--tab-media-icon-overlay-shadows);
}

/* ---------- Pinned Tabs ---------- */

.tab-icon-overlay:not([crashed]):is([pinned], [sharing])
{
    stroke: transparent !important;
    background-color: var(--tab-media-icon-overlay-background) !important;
    color: var(--tab-media-icon-overlay-color) !important;
    fill: currentColor !important;
    top: -6px !important;
}

/* ---------- Tabs ---------- */

.tab-icon-stack:not([pinned], [sharing], [crashed]) :is(.tab-icon-image, .tab-icon-overlay)
{
    opacity: 1 !important;    
}

.tab-icon-overlay:not([pinned], [sharing], [crashed])
{
    stroke: transparent !important;
    background-color: var(--tab-media-icon-overlay-background) !important;
    color: var(--tab-media-icon-overlay-color) !important;
    fill: currentColor !important;
    fill-opacity: 1 !important;
    border-radius: 50% !important;
    bottom: 6px;
    left: 6px;
}

.tabbrowser-tab:not([pinned]) :is(.tab-throbber, .tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay, .tab-icon-overlay)
{
    margin-inline-end: var(--inline-tab-padding) !important;
}

.tab-secondary-label
{
    -moz-box-ordinal-group: 0;
    font-size: xx-small !important;
}

/* ---------------------------------------- Tab bar ---------------------------------------- */

#TabsToolbar
{
    --toolbarbutton-inner-padding: inherit !important;
    position: relative;
    clip-path: fill-box;
}

#TabsToolbar::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: 0%;
    z-index: 2;
    box-shadow: var(--inner-shadows);
    background-repeat: no-repeat;
    pointer-events: none;
}

/* ---------------------------------------- Indents ---------------------------------------- */

/* -------------------- Base Styles -------------------- */

/* ---------- Tab Bar ---------- */

.titlebar-spacer[type="pre-tabs"]
{
    width: var(--left-side-drag-space) !important;
}

.titlebar-spacer[type="post-tabs"]
{
    width: var(--right-side-drag-space) !important;
}

:root[sizemode="normal"]
{
    --drag-space: var(--top-side-drag-space-windowed);
}

:root[sizemode="maximized"]
{
    --drag-space: var(--top-side-drag-space-maximized);
}

:root:not([tabsintitlebar]),
#toolbar-menubar:not([autohide][inactive]) + #TabsToolbar
{
    --drag-space: var(--top-side-drag-space-menubar-titlebar);
}

#TabsToolbar :is(.tabbrowser-tab, .toolbarbutton-1, separator, #personal-bookmarks, #search-container, .accessibility-indicator, .private-browsing-indicator)
{
    margin-top: var(--drag-space) !important;
}

#TabsToolbar-customization-target > :is(toolbarbutton, toolbaritem):first-child,
#TabsToolbar-customization-target > toolbarpaletteitem:first-child > :is(toolbarbutton, toolbaritem)
{
    margin-left: calc(var(--toolbar-start-end-padding) - var(--toolbarbutton-outer-padding)) !important;
}

#TabsToolbar-customization-target > :is(toolbarbutton, toolbaritem):last-child,
#TabsToolbar-customization-target > toolbarpaletteitem:last-child > :is(toolbarbutton, toolbaritem),
#tabs-newtab-button
{
    margin-right: calc(var(--toolbar-start-end-padding) - var(--toolbarbutton-outer-padding)) !important;
}

/* ---------- Shadow DOM ---------- */

#tabbrowser-tabs[overflow]
{
    --margin-top: var(--drag-space) !important;
}

#scrollbutton-up,
#scrollbutton-down,
spacer[part="overflow-start-indicator"],
spacer[part="overflow-end-indicator"]
{
    margin-top: var(--margin-top) !important;
}

/* -------------------- Derived Styles -------------------- */

/* ---------- Proton / Photon ---------- */

@supports not (-moz-bool-pref("Style.WaveFox") or
               -moz-bool-pref("Style.Australis") or
               -moz-bool-pref("Style.Chrome") or
               -moz-bool-pref("Style.Chrome-Old") or
               -moz-bool-pref("Style.Edge"))
{
    /* ---------- Tabs ---------- */

    .tabbrowser-tab[first-visible-unpinned-tab]
    {
        margin-left: 0 !important;
    }

    :root[sizemode="normal"] #tabbrowser-tabs:not([overflow]) .tabbrowser-tab[first-visible-tab],
    :root[sizemode="normal"] #tabbrowser-tabs[positionpinnedtabs],
    #tabbrowser-tabs:not([overflow], :first-child) .tabbrowser-tab[first-visible-tab],
    #tabbrowser-tabs[positionpinnedtabs]:not(:first-child)
    {
        margin-left: calc(var(--tab-min-height) / 3) !important;
    }

    :root[sizemode="maximized"] #tabbrowser-tabs:first-child:not([haspinnedtabs], [overflow]) #tabbrowser-arrowscrollbox
    {
        margin-left: -1px;
    }
}

/* ---------- WaveFox / Australis / Chrome-Old ---------- */

@supports -moz-bool-pref("Style.WaveFox") or
          -moz-bool-pref("Style.Australis") or
          -moz-bool-pref("Style.Chrome-Old")
{
    /* ---------- Tabs ---------- */

    #tabbrowser-tabs:not([overflow]) .tabbrowser-tab[first-visible-tab],
    #tabbrowser-tabs[positionpinnedtabs],
    .tabbrowser-tab[first-visible-unpinned-tab]
    {
        margin-left: calc(var(--tab-min-height) / 2) !important;
    }

    #tabbrowser-tabs:not([overflow]) .tabbrowser-tab[first-visible-unpinned-tab]
    {
        margin-left: 0 !important;
    }

    .tabbrowser-tab[last-visible-tab]
    {
        margin-right: calc(var(--tab-min-height) / 2) !important;
    }
}

/* ---------- Chrome / Edge ---------- */

@supports -moz-bool-pref("Style.Chrome") or
          -moz-bool-pref("Style.Edge")
{
    /* ---------- Tabs ---------- */

    #tabbrowser-tabs:not([overflow]) .tabbrowser-tab[first-visible-tab],
    #tabbrowser-tabs[positionpinnedtabs],
    .tabbrowser-tab[first-visible-unpinned-tab]
    {
        margin-left: calc(var(--tab-min-height) / 3 - 4px) !important;
    }

    #tabbrowser-tabs:not([overflow]) .tabbrowser-tab[first-visible-unpinned-tab]
    {
        margin-left: 0 !important;
    }

    .tabbrowser-tab[last-visible-tab]
    {
        margin-right: calc(var(--tab-min-height) / 3 - 4px) !important;
    }
}

/* ---------------------------------------- Separators ---------------------------------------- */

/* -------------------- Base Styles -------------------- */

.tabbrowser-tab:not([pinned])::before,
.tabbrowser-tab[last-visible-tab]:not([pinned])::after
{
    content: "";
    display: inherit;
    position: absolute;
    width: 1px;
    background-image: linear-gradient(transparent 25%, currentColor 25%, currentColor 75%, transparent 75%);
    opacity: var(--separators-color-saturation);
}

#tabbrowser-tabs:not([overflow])
    .tabbrowser-tab:is(
        [selected],
        [selected] + .tabbrowser-tab,
        :hover,
        :hover + .tabbrowser-tab,
        [multiselected],
        [multiselected] + .tabbrowser-tab)::before,
#tabbrowser-tabs:not([overflow])
    .tabbrowser-tab:is(
        [selected],
        :hover,
        [multiselected])::after
{
    opacity: 0;
}

.tabbrowser-tab::after
{
    margin-left: -1px;
}

.tabbrowser-tab[first-visible-unpinned-tab]::before
{
    opacity: var(--first-separator-saturation);
}

#tabbrowser-tabs[overflow] .tabbrowser-tab[first-visible-unpinned-tab]::before,
#tabbrowser-tabs[overflow] .tabbrowser-tab::after
{
    opacity: 0;
}

#tabbrowser-tabs[overflow] .tabbrowser-tab:active::before
{
    opacity: 0;
    transition-delay: 0.25s;
}

@media (min-resolution: 1.25dppx)
{
    .tabbrowser-tab::before,
    .tabbrowser-tab::after
    {
        width: 0.8px !important;
    }
}

@media (min-resolution: 1.5dppx)
{
    .tabbrowser-tab::before,
    .tabbrowser-tab::after
    {
        width: 0.66px !important;
    }
}

@media (min-resolution: 1.75dppx)
{
    .tabbrowser-tab::before,
    .tabbrowser-tab::after
    {
        width: 0.57px !important;
    }
}

@media (min-resolution: 2dppx)
{
    .tabbrowser-tab::before,
    .tabbrowser-tab::after
    {
        width: 0.5px !important;
    }
}

/* -------------------- Derived Styles -------------------- */

/* ---------- Proton ---------- */

@supports not (-moz-bool-pref("Style.WaveFox") or
               -moz-bool-pref("Style.Photon") or
               -moz-bool-pref("Style.Australis") or
               -moz-bool-pref("Style.Chrome") or
               -moz-bool-pref("Style.Chrome-Old") or
               -moz-bool-pref("Style.Edge"))
{
    .tabbrowser-tab::before
    {
        transform: translateX(-2px);
    }

    .tabbrowser-tab::after
    {
        transform: translateX(2px);
    }
}

/* ---------------------------------------- Linux ---------------------------------------- */

@media (-moz-gtk-csd-available)
{
    :root:not(:-moz-lwtheme) .tabbrowser-tab[selected] .tab-background::before,
    :root:not(:-moz-lwtheme) .tabbrowser-tab[selected] .tab-background::after
    {
        fill: color-mix(in srgb, var(--toolbar-bgcolor), white 15%) !important;
    }

    /* ---------- Tab media icons ---------- */

    :root:not(:-moz-lwtheme) .tab-icon-overlay:not([crashed]):is([pinned], [sharing]):not(:hover, :active),
    :root:not(:-moz-lwtheme) .tab-icon-overlay:not([pinned], [sharing], [crashed]):not(:hover, :active)
    {
        background-color: color-mix(in srgb, var(--tab-media-icon-overlay-background), white 15%) !important;
    }

    .tab-secondary-label
    {
        margin-block: 6px -6px !important;
    }

    @media (prefers-contrast)
    {
        :root:not(:-moz-lwtheme) .tab-background
        {
            outline: unset !important;
        }
    }
}

/* ---------------------------------------- MacOS ---------------------------------------- */

@media (-moz-mac-big-sur-theme)
{
    :root:not(:-moz-lwtheme) #titlebar
    {
        appearance: -moz-mac-vibrant-titlebar-light;
    }

    :root[lwt-default-theme-in-dark-mode] #titlebar
    {
        appearance: -moz-mac-vibrant-titlebar-dark;
    }

    :root:is(:not(:-moz-lwtheme),[lwt-default-theme-in-dark-mode]) #navigator-toolbox
    {
        background-color: transparent !important;
    }

    /* ---------- Tab media icons ---------- */

    .tab-secondary-label
    {
        margin-block: 4px -4px !important;
    }

    .tab-label
    {
        margin-block: 0 !important;
    }
}

/* ---------------------------------------- Windows 11 / Windows 10 / Windows 8 / Windows 7 ---------------------------------------- */

@media (-moz-os-version: windows-win10),
       (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win7)
{

@media (prefers-contrast)
{
    :root:not(:-moz-lwtheme) .tab-background
    {
        outline: unset !important;
    }

    :root:not(:-moz-lwtheme) .tabbrowser-tab[selected] .tab-background::before,
    :root:not(:-moz-lwtheme) .tabbrowser-tab[selected] .tab-background::after
    {
        fill: color-mix(in srgb, var(--toolbar-bgcolor), white 15%) !important;
    }

    /* ---------- Tab media icons ---------- */

    :root:not(:-moz-lwtheme) .tab-icon-overlay:not([crashed]):is([pinned], [sharing]):not(:hover, :active),
    :root:not(:-moz-lwtheme) .tab-icon-overlay:not([pinned], [sharing], [crashed]):not(:hover, :active)
    {
        background-color: color-mix(in srgb, var(--tab-media-icon-overlay-background), white 15%) !important;
    }
}

/* ---------- Tab media icons ---------- */

.tab-secondary-label
{
    margin-block: 4px -4px !important;
}

}

/* ---------------------------------------- Windows 10 ---------------------------------------- */

@media (-moz-os-version: windows-win10)
{
    @media not (prefers-contrast)
    {
        @media (-moz-windows-accent-color-in-titlebar)
        {
            :root:is(:not(:-moz-lwtheme),[lwt-default-theme-in-dark-mode]) #toolbar-menubar,
            :root:is(:not(:-moz-lwtheme),[lwt-default-theme-in-dark-mode]) #TabsToolbar
            {
                background: -moz-accent-color !important;
            }

            :root:is(:not(:-moz-lwtheme),[lwt-default-theme-in-dark-mode]) #titlebar
            {
                color: -moz-accent-color-foreground !important;
            }
        }

        .titlebar-buttonbox-container
        {
            -moz-box-align: start !important;
        }

        .titlebar-button:not(.titlebar-close):hover
        {
            background-color: var(--toolbarbutton-hover-background) !important;
        }

        .titlebar-button:not(.titlebar-close):hover:active
        {
            background-color: var(--toolbarbutton-active-background) !important;
        }
    }
}

/* ---------------------------------------- Windows 7 ---------------------------------------- */

@media (-moz-os-version: windows-win7)
{
    @media (-moz-windows-compositor)
    {
        :root:not(:-moz-lwtheme) #toolbar-menubar,
        :root:not(:-moz-lwtheme) #TabsToolbar
        {
            background: color-mix(in srgb, white 50%, transparent) !important;
        }

        :root:not(:-moz-lwtheme) #toolbar-menubar[autohide][inactive] + #TabsToolbar
        {
            background: linear-gradient(transparent, color-mix(in srgb, white 75%, transparent)) !important;
        }

        :root[lwtheme-mozlightdark]:is(:-moz-lwtheme-darktext,:-moz-lwtheme-brighttext) #TabsToolbar
        {
            background: unset !important;
        }

        :root:-moz-lwtheme #TabsToolbar
        {
            color: unset !important;
        }
    }

    @media (-moz-windows-compositor: 0)
    {
        :root[lwtheme-mozlightdark] #TabsToolbar
        {
            background: unset !important;
        }
    }
}

/* ---------------------------------------- Derived Styles ---------------------------------------- */

@supports -moz-bool-pref("Style.WaveFox")
{
    :root
    {
        --left-side-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='context-fill' d='m 0,100 c 16.666667,0 33.334333,0 41.667167,-16.666167 C 50,66.667667 50,33.334333 58.333833,16.667167 66.667667,0 83.333333,0 100,0 c 0,0 0,100 0,100 0,0 -100,0 -100,0 z'/><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='M 0,98 C 16.666667,98 33.334333,98 41.667167,82.0005 50,66.001 50,34.001 58.333833,18.0005 66.667667,2 83.333333,2 100,2'/></svg>");
        --right-side-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='context-fill' d='M 100,100 C 83.333333,100 66.667667,100 58.333833,83.333833 50,66.667667 50,33.334333 41.667167,16.667167 33.334333,0 16.666667,0 0,0 c 0,0 0,100 0,100 0,0 100,0 100,0 z'/><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='M 0,2 C 16.666667,2 33.334333,2 41.667167,18.0005 50,34.001 50,66.001 58.333833,82.0005 66.667667,98 83.333333,98 100,98'/></svg>");
    }
}

@supports -moz-bool-pref("Style.Australis")
{
    :root
    {
        --left-side-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='context-fill' d='m 0,100 c 8.3333333,0 16.667667,0 24.833823,-4.166656 C 32.99998,91.666687 40.99998,83.333354 45.333304,70.833823 49.666628,58.334292 50.333295,41.667625 54.666638,29.167156 58.99998,16.666687 66.99998,8.3333541 75.167157,4.1666771 83.334333,0 91.666667,0 100,0 c 0,0 0,100 0,100 0,0 -100,0 -100,0 z'/><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='m 0,98 c 8.3333333,0 16.667667,0 24.833844,-3.833344 8.166178,-3.833343 16.166178,-11.50001 20.499481,-23.666187 4.333303,-12.166177 4.99997,-28.832844 9.333333,-41 C 59.000022,17.333313 67.000022,9.6666459 75.167178,5.8333229 83.334333,2 91.666667,2 100,2'/></svg>");
        --right-side-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='context-fill' d='M 100,100 C 91.666667,100 83.334333,100 75.167656,95.833843 67.000979,91.667687 59.000979,83.334353 54.667177,70.834362 50.333375,58.334372 49.666708,41.667705 45.333844,29.167696 41.000979,16.667687 33.000979,8.3343533 24.834323,4.1671767 16.667667,0 8.3333333,0 0,0 c 0,0 0,100 0,100 0,0 100,0 100,0 z'/><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='M 100,98 C 91.666843,98 83.334333,98 75.167677,94.167156 67.001021,90.334312 59.001021,82.667645 54.667198,70.501008 c -4.333823,-12.166636 -5.00049,-28.833303 -9.333333,-41 C 41.001021,17.334312 33.001021,9.6676449 24.834344,5.8338225 16.667667,2 8.3331795,2 0,2'/></svg>");
    }
}

@supports -moz-bool-pref("Style.Chrome")
{
    :root
    {
        --left-side-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='context-fill' d='m 0,100 c 3.3333333,1.2e-4 6.6676667,2.5e-4 15.001,2.5e-4 8.333333,0 21.666667,-1.3e-4 28.332896,-6.666354 6.666229,-6.666229 6.666354,-19.999563 6.666354,-29.999563 0,-10 -1.25e-4,-16.666666 -1.87e-4,-26.666666 C 50,26.667667 50,13.334333 56.667167,6.6672292 63.334333,1.2500938e-4 76.667667,2.5000938e-4 85.001,2.4998594e-4 93.334333,2.499625e-4 96.666667,1.25e-4 100,0 c 0,0 0,100 0,100 0,0 -100,0 -100,0 z'/><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='m 0,98 c 3.3340156,0 6.6676667,0 15.001,0 8.333333,0 21.666667,0 28.332833,-6.332833 C 50,85.334333 50,72.667667 50,63.001 c 0,-9.666667 0,-16.333333 0,-26 C 50,27.334333 50,14.667667 56.667167,8.3338333 63.334333,2 76.667667,2 85.001,2 93.334333,2 96.675315,2 100,2'/></svg>");
        --right-side-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='context-fill' d='m 100,100 c -3.333333,0 -6.665667,0 -14.999,0 -8.333333,0 -21.666667,0 -28.333833,-6.666167 C 50,86.667667 50,73.334333 50,63.334333 c 0,-10 0,-16.666666 0,-26.666666 0,-10 0,-23.333334 -6.666167,-30.0005003 C 36.667667,0 23.334333,0 15.001,0 6.6676667,0 3.3333333,0 0,0 c 0,0 0,100 0,100 0,0 100,0 100,0 z'/><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='M 0,2 C 3.3333333,2 6.6676667,2 15.001,2 23.334333,2 36.667667,2 43.333833,8.3338333 50,14.667667 50,27.334333 50,37.001 c 0,9.666667 0,16.333333 0,26 0,9.666667 0,22.333333 6.667167,28.666167 C 63.334333,98 76.667667,98 85.001,98 93.334333,98 96.666667,98 100,98'/></svg>");
    }
}

@supports -moz-bool-pref("Style.Chrome-Old")
{
    :root
    {
        --left-side-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='context-fill' d='m 0,100 c 0,0 30,0 30,0 0,0 40,-100 40,-100 0,0 30,0 30,0 0,0 0,100 0,100 0,0 -100,0 -100,0 z'/><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='m 0,98 c 0,0 30,0 30,0 0,0 40,-96 40,-96 0,0 30,0 30,0'/></svg>");
        --right-side-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='context-fill' d='m 100,100 c 0,0 -30,0 -30,0 C 70,100 30,0 30,0 30,0 0,0 0,0 c 0,0 0,100 0,100 0,0 100,0 100,0 z'/><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='m 0,2 c 0,0 30,0 30,0 0,0 40,96 40,96 0,0 30,0 30,0'/></svg>");
    }
}

@supports -moz-bool-pref("Style.Edge")
{
    :root
    {
        --left-side-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='context-fill' d='m 0,100 c 8.3333333,0 16.667667,0 25.001,0 8.333333,0 16.666667,0 20.832833,-4.166167 C 50,91.667667 50,83.334333 50,70.834333 c 0,-12.5 0,-29.166666 0,-41.666666 0,-12.5 0,-20.8333337 4.167167,-25.0005003 C 58.334333,0 66.667667,0 75.001,0 83.334333,0 91.666667,0 100,0 c 0,0 0,100 0,100 0,0 -100,0 -100,0 z'/><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='m 0,98 c 8.3335004,0 16.667667,0 25.001,0 8.333333,0 16.666667,0 20.832833,-3.832833 C 50,90.334333 50,82.667667 50,70.501 50,58.334333 50,41.667667 50,29.501 50,17.334333 50,9.6676667 54.167167,5.8338333 58.334333,2 66.667667,2 75.001,2 83.334333,2 91.673235,2 100,2'/></svg>");
        --right-side-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='context-fill' d='m 100,100 c -8.333333,0 -16.665667,0 -24.999,0 -8.333333,0 -16.666667,0 -20.833833,-4.166167 C 50,91.667667 50,83.334333 50,70.834333 c 0,-12.5 0,-29.166666 0,-41.666666 0,-12.5 0,-20.8333337 -4.166167,-25.0005003 C 41.667667,0 33.334333,0 25.001,0 16.667667,0 8.3333333,0 0,0 c 0,0 0,100 0,100 0,0 100,0 100,0 z'/><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='M 0,2 C 8.3333333,2 16.667667,2 25.001,2 33.334333,2 41.667667,2 45.833833,5.8338333 50,9.6676667 50,17.334333 50,29.501 c 0,12.166667 0,28.833333 0,41 0,12.166667 0,19.833333 4.167167,23.666167 C 58.334333,98 66.667667,98 75.001,98 83.334333,98 91.666667,98 100,98'/></svg>");
    }
}

@supports -moz-bool-pref("Style.WaveFox") or
          -moz-bool-pref("Style.Photon") or
          -moz-bool-pref("Style.Australis") or
          -moz-bool-pref("Style.Chrome") or
          -moz-bool-pref("Style.Chrome-Old") or
          -moz-bool-pref("Style.Edge")
{
    /* ---------- Tabs ---------- */

    .tabbrowser-tab
    {
        padding-inline: 0 !important;
    }

    .tab-background
    {
        margin-block: 0 !important;
        border-radius: 0 !important;
    }

    /* ---------- Shadow DOM ---------- */

    #tabbrowser-tabs[overflow]
    {
        --toolbarbutton-inner-padding: 0 !important;
    }

    /* ---------- Tab Bar ---------- */

    #TabsToolbar #search-container
    {
        padding-block: 0 !important;
    }

    /* ---------- Tab Icon Indicator ---------- */

    .tabbrowser-tab:is([image], [pinned]) .tab-content[attention]:not([selected]),
    .tab-content[pinned][titlechanged]:not([selected])
    {
        background-position: 50% 0% !important;
    }
}

@supports -moz-bool-pref("Style.WaveFox") or
          -moz-bool-pref("Style.Australis") or
          -moz-bool-pref("Style.Chrome") or
          -moz-bool-pref("Style.Chrome-Old") or
          -moz-bool-pref("Style.Edge")
{
    /* ---------- Rounded corners (SVG) ---------- */

    .tab-background::before,
    .tab-background::after
    {
        content: "";
        position: absolute;
        width: var(--tab-min-height);
        height: var(--tab-min-height);
        bottom: 0%;
        fill: transparent;
        z-index: -1;
        background-repeat: no-repeat;
        pointer-events: none;
        -moz-context-properties: fill, stroke;
    }

    .tab-background::before
    {
        right: 100%;
        background-image: var(--left-side-svg);
    }

    .tab-background::after
    {
        left: 100%;
        background-image: var(--right-side-svg);
    }

    .tabbrowser-tab[visuallyselected] .tab-background::before,
    .tabbrowser-tab[visuallyselected] .tab-background::after
    {
        fill: var(--toolbar-bgcolor) !important;
    }

    .tabbrowser-tab:hover .tab-background::before,
    .tabbrowser-tab:hover .tab-background::after
    {
        fill: var(--toolbarbutton-hover-background);
    }

    .tabbrowser-tab[multiselected] .tab-background::before,
    .tabbrowser-tab[multiselected] .tab-background::after
    {
        fill: var(--toolbarbutton-active-background);
    }

    /* ---------- Tabs ---------- */

    .tab-background
    {
        position: relative !important;
        margin-inline: calc(var(--tab-min-height) / 2) !important;
    }

    /* ---------- Overflow & Pinned ---------- */

    #tabbrowser-tabs[overflow] .tabbrowser-tab:is([visuallyselected],:hover,[multiselected]):not([pinned]) .tab-content,
    .tab-content[pinned]
    {
        padding: 0 calc(var(--tab-min-height) / 3) !important;
    }

    /* ---------- Alpenglow / Repository ---------- */

    :root:not([lwtheme-mozlightdark])
    {
        --middle-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='transparent' stroke='context-stroke' stroke-width='4px' d='M 0,2 C 0,2 100,2 100,2'/></svg>");
    }

    :root:not([lwtheme-mozlightdark]) .tabbrowser-tab[visuallyselected] .tab-background::before,
    :root:not([lwtheme-mozlightdark]) .tabbrowser-tab[visuallyselected] .tab-background::after
    {
        stroke: var(--tab-indicator);
    }

    :root:not([lwtheme-mozlightdark]) .tabbrowser-tab[visuallyselected] .tab-background
    {
        background-color: var(--toolbar-bgcolor) !important;
        background-image: var(--middle-svg) !important;
        stroke: var(--tab-indicator);
        -moz-context-properties: stroke;
    }

    :root:not([lwtheme-mozlightdark]) .tabbrowser-tab[visuallyselected] .tab-background
    {
        box-shadow: none !important;
    }
}

@supports -moz-bool-pref("Style.WaveFox") or
          -moz-bool-pref("Style.Australis") or
          -moz-bool-pref("Style.Chrome-Old")
{
    /* ---------- Tabs ---------- */

    .tab-close-button
    {
        border-radius: 50% !important;
    }
}

@supports -moz-bool-pref("Style.Photon")
{
    /* ---------- Alpenglow / Repository ---------- */

    :root:not([lwtheme-mozlightdark]) .tabbrowser-tab[visuallyselected] .tab-background
    {
        box-shadow: inset 2px 0 0 0 var(--tab-indicator), inset 0 2px 0 0 var(--tab-indicator), inset -2px 0 0 0 var(--tab-indicator) !important;
    }
}

}