/* Disables the pinning feature for tabs when dragging */

@media -moz-pref("WaveFox.Experimental.Tabs.Pin_By_Dragging.Disabled")
{
    #pinned-drop-indicator
    {
        display: none !important;
    }
}

/* Disable dragging tabs between panels */
/*
@media -moz-pref("WaveFox.Experimental.Tabs.Pin_And_Unpin_By_Dragging.Disabled")
{
    #pinned-tabs-container:has(.tabbrowser-tab[dragtarget]) ~  #tabbrowser-arrowscrollbox,
    #pinned-tabs-container:has(~ #tabbrowser-arrowscrollbox > .tabbrowser-tab[dragtarget])
    {
        pointer-events: none !important;
    }
}
*/

/* Removing the browser panel in PWA mode */
/*
:root[taskbartab] #navigator-toolbox
{
    display: none !important;
}
*/

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media -moz-pref("WaveFox.Experimental.Autohide")
{
    #navigator-toolbox
    {
        overflow: clip !important;
        position: absolute !important;
        
        background-color: color-mix(in srgb, var(--sidebar-text-color) 25%, transparent) !important;
        
        outline: 1px solid var(--chrome-content-separator-color) !important;
        outline-offset: 0px !important;

        box-shadow: var(--content-area-shadow) !important;
        
        width: 50% !important;

        z-index: 3 !important;

        transition-property: background-color, height, clip-path !important;
        transition-duration: 1s !important;
        
        inset-inline-end: 25% !important;

        backdrop-filter: blur(8px) !important;
        
        top: var(--space-medium) !important;
        
        clip-path: inset(0px 0px calc(100% - 4px) round 50px) !important;
        
        #urlbar
        {
            opacity: 0 !important;
            pointer-events: none !important;
        }
    }

    #navigator-toolbox:hover,
    #navigator-toolbox:has(*[open], *:focus)
    {
        clip-path: inset(-10px round 0px) !important;
        background-color: color-mix(in srgb, var(--sidebar-background-color) 75%, transparent) !important;
        border-radius: var(--border-radius-medium) !important;
        
        #urlbar
        {
            opacity: 1 !important;
            pointer-events: auto !important;
        }
    }
}
