@media -moz-pref("WaveFox.WebPage.Floating.Enabled")
{
    :root:not([inFullscreen], [inDOMFullscreen])
    {
        #navigator-toolbox
        {
            border-bottom: none !important;
        }

        @media -moz-pref("sidebar.visibility", 'expand-on-hover')
        {
            #browser > #sidebar-main
            {
                &[sidebar-launcher-expanded],
                &[sidebar-ongoing-animations]:not([sidebar-launcher-expanded])
                {
                    background-color: color-mix(in srgb, var(--toolbar-bgcolor) 75%, transparent) !important;
                    background-image: none !important;
                    backdrop-filter: blur(4px) !important;
                }
            }
        }

        #browser > #tabbrowser-tabbox
        {
            margin-block-start: 0px !important;
            margin-block-end: var(--space-small) !important;
            margin-inline: var(--space-small) !important;
            border-radius: var(--border-radius-medium) !important;
            box-shadow: var(--content-area-shadow) !important;
            outline: 0.5px solid var(--sidebar-border-color) !important;

            &[sidebar-shown]:not([sidebar-positionend])
            {
                margin-inline-start: 0px !important;
                
                &[sidebar-launcher-expanded][sidebar-launcher-hovered]:not([sidebar-panel-open]), &[sidebar-ongoing-animations]:not([sidebar-launcher-expanded], [sidebar-panel-open])
                {
                    margin-inline-start: var(--sidebar-launcher-collapsed-width) !important;
                }
            }
            
            &[sidebar-shown][sidebar-positionend]
            {
                margin-inline-end: 0px !important;
                
                &[sidebar-launcher-expanded][sidebar-launcher-hovered]:not([sidebar-panel-open]), &[sidebar-ongoing-animations]:not([sidebar-launcher-expanded], [sidebar-panel-open])
                {
                    margin-inline-end: var(--sidebar-launcher-collapsed-width) !important;
                }
            }

            @media (-moz-pref("WaveFox.TabsBelowURL.Enabled") and -moz-pref("browser.tabs.inTitlebar", 0)) or
                    -moz-pref("WaveFox.OneLine", 1) or 
                    -moz-pref("WaveFox.OneLine", 2)
            {
                margin-block-start: var(--space-small) !important;
            }
            
            > #tabbrowser-tabpanels
            {
                border-radius: var(--border-radius-medium) !important;
                overflow: clip !important;
                clip-path: border-box !important;
            }
        }

        &:is([style*="--lwt-header-image"], [style*="--lwt-additional-images"]) #browser > #tabbrowser-tabbox
        {
            margin-block-start: var(--space-small) !important;
        }
    }
}

@media (-moz-pref("WaveFox.WebPage.Transparency", 1)  or
        -moz-pref("WaveFox.WebPage.Transparency", 2)) and
        -moz-pref("extensions.activeThemeID", 'default-theme@mozilla.org') and
        -moz-pref("browser.tabs.allow_transparent_browser")
{
    #browser
    {
        background-color: transparent !important;

        #tabbrowser-tabpanels
        {
            background-color: color-mix(in srgb, var(--toolbar-bgcolor) var(--wavefox-webpage-background-saturation, 75%), transparent) !important;
            background-image: none !important;
        }
    }

    @media -moz-pref("WaveFox.WebPage.Floating.Enabled") and -moz-pref("sidebar.verticalTabs", false)
    {
        :root:not([inFullscreen], [inDOMFullscreen])
        {
            #navigator-toolbox
            {
                box-shadow: var(--wavefox-selected-tab-shadow, none) !important;
            }

            #browser > #tabbrowser-tabbox
            {
                margin-block-start: var(--space-small) !important;
            }
        }
    }

    @media -moz-pref("WaveFox.WebPage.Background.Saturation", 1)
    {
        :root
        {
            --wavefox-webpage-background-saturation: 50%;
        }
    }
    
    @media -moz-pref("WaveFox.WebPage.Background.Saturation", 2)
    {
        :root
        {
            --wavefox-webpage-background-saturation: 25%;
        }
    }
    
    @media -moz-pref("WaveFox.WebPage.Background.Saturation", 3)
    {
        :root
        {
            --wavefox-webpage-background-saturation: 0%;
        }
    }
}
