/* Roundings */

@media -moz-pref("WaveFox.Toolbar.Roundings", 1)
{
    :root
    {
        --border-radius-xsmall: 0px !important;
        --border-radius-small: 0px !important;
        --border-radius-medium: 0px !important;
        --border-radius-large: 0px !important;
    }
}

@media -moz-pref("WaveFox.Toolbar.Roundings", 2)
{
    :root
    {
        --border-radius-xsmall: 4px !important;
        --border-radius-small: 4px !important;
        --border-radius-medium: 4px !important;
        --border-radius-large: 4px !important;
    }
}

@media -moz-pref("WaveFox.Toolbar.Roundings", 3)
{
    :root
    {
        --border-radius-xsmall: 6px !important;
        --border-radius-small: 6px !important;
        --border-radius-medium: 6px !important;
        --border-radius-large: 6px !important;
    }
}

@media -moz-pref("WaveFox.Toolbar.Roundings", 4)
{
    :root
    {
        --border-radius-xsmall: 10px !important;
        --border-radius-small: 10px !important;
        --border-radius-medium: 10px !important;
        --border-radius-large: 10px !important;
    }
}

@media -moz-pref("WaveFox.Toolbar.Roundings", 5)
{
    :root
    {
        --border-radius-xsmall: 12px !important;
        --border-radius-small: 12px !important;
        --border-radius-medium: 12px !important;
        --border-radius-large: 12px !important;
    }
}
