body
{
    background-color: var(--toolbar-background-color) !important;
    background-image: var(--toolbox-background-image) !important;
    background-repeat: var(--toolbox-background-repeat) !important;
    background-position: var(--toolbox-background-position) !important;
    background-size: var(--toolbox-background-size) !important;
}
