@media (-moz-pref("WaveFox.WebPage.Transparency", 1)  or
        -moz-pref("WaveFox.WebPage.Transparency", 2)) and
        -moz-pref("extensions.activeThemeID", 'default-theme@mozilla.org') and
        -moz-pref("browser.tabs.allow_transparent_browser")
{
    #browser
    {
        background-color: transparent !important;

        .browserContainer
        {
            background-color: color-mix(in srgb, var(--toolbar-bgcolor) var(--wavefox-webpage-background-saturation, 75%), transparent) !important;
            background-image: none !important;
        }
    }

    @media -moz-pref("sidebar.verticalTabs", true) and
          (-moz-pref("WaveFox.VerticalTabs.WebPage.Floating", 1) or
           -moz-pref("WaveFox.VerticalTabs.WebPage.Floating", 2))
    {
        #sidebar-main
        {
            background-color: color-mix(in srgb, var(--sidebar-background-color) 75%, transparent) !important;
        }
    }

    @media -moz-pref("WaveFox.WebPage.Background.Saturation", 1)
    {
        :root
        {
            --wavefox-webpage-background-saturation: 50%;
        }
    }
    
    @media -moz-pref("WaveFox.WebPage.Background.Saturation", 2)
    {
        :root
        {
            --wavefox-webpage-background-saturation: 25%;
        }
    }
    
    @media -moz-pref("WaveFox.WebPage.Background.Saturation", 3)
    {
        :root
        {
            --wavefox-webpage-background-saturation: 0%;
        }
    }
}
