/* Disables the pinning feature for tabs when dragging */

@media -moz-pref("WaveFox.Experimental.Tabs.Pin_By_Dragging.Disabled")
{
    #pinned-drop-indicator
    {
        display: none !important;
    }
}

/* Disable dragging tabs between panels */
/*
@media -moz-pref("WaveFox.Experimental.Tabs.Pin_And_Unpin_By_Dragging.Disabled")
{
    #pinned-tabs-container:has(.tabbrowser-tab[dragtarget]) ~  #tabbrowser-arrowscrollbox,
    #pinned-tabs-container:has(~ #tabbrowser-arrowscrollbox > .tabbrowser-tab[dragtarget])
    {
        pointer-events: none !important;
    }
}
*/

/* Removing the browser panel in PWA mode */
/*
:root[taskbartab] #navigator-toolbox
{
    display: none !important;
}
*/

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media -moz-pref("WaveFox.Experimental.VerticalTabs.Autohide") and -moz-pref("sidebar.verticalTabs", true)
{
    :root[sizemode="normal"] #navigator-toolbox
    {
        border-radius var(--border-radius-medium) !important;
      
        top: calc(-2 * var(--space-small)) !important;
        clip-path: inset(calc(50% - var(--space-small)) 0px round 50px) !important;
    }

    #navigator-toolbox
    {
        overflow: clip !important;
        position: absolute !important;
        width: 50% !important;
        inset-inline-start: 25% !important;
        background-color: color-mix(in srgb, var(--sidebar-text-color) 25%, transparent) !important;
        border-radius: 0px 0px var(--border-radius-medium) var(--border-radius-medium) !important;
        box-shadow: var(--content-area-shadow) !important;
        transition-property: all !important;
        transition-duration: 0.5s !important;
        transition-delay: 0.5s !important;
        clip-path: inset(0px 0px calc(100% - var(--space-small)) 0px round 50px) !important;
        z-index: 3 !important;
        
        #urlbar
        {
            opacity: 0 !important;
            pointer-events: none !important;
            transition-delay: 0s !important;
        }

        &:hover,
        &:has(*[open], *:focus)
        {
            background-color: color-mix(in srgb, var(--sidebar-background-color) 75%, transparent) !important;
            clip-path: inset(-100%) !important;
            backdrop-filter: blur(8px) !important;
            transition-delay: 0s !important;

            #urlbar
            {
                opacity: 1 !important;
                pointer-events: auto !important;
                transition-delay: 0.5s !important;
            }
        }
    }
}
