@layer BasicPriority, HighPriority, VeryHighPriority;

/* ---------- General styles ---------- */

@import "modules/general_styles/MrOtherGuy_repository/icons/iconized_content_context_menu.css" layer(BasicPriority) /* supports() */ -moz-pref("WaveFox.Icons", 1);
@import "modules/general_styles/MrOtherGuy_repository/icons/iconized_main_menu.css"            layer(BasicPriority) /* supports() */ -moz-pref("WaveFox.Icons", 1);
@import "modules/general_styles/MrOtherGuy_repository/icons/iconized_places_context_menu.css"  layer(BasicPriority) /* supports() */ -moz-pref("WaveFox.Icons", 1);
@import "modules/general_styles/MrOtherGuy_repository/icons/iconized_tabs_context_menu.css"    layer(BasicPriority) /* supports() */ -moz-pref("WaveFox.Icons", 1);
@import "modules/general_styles/MrOtherGuy_repository/icons/iconized_textbox_context_menu.css" layer(BasicPriority) /* supports() */ -moz-pref("WaveFox.Icons", 1);

@import "Lepton_Icons/icons/Lepton_Icons.css"                                                  layer(BasicPriority) /* supports() */ -moz-pref("WaveFox.Icons", 2);

/* ---------- Horizontal tabs ---------- */

@import "modules/horizontal_tabs/wavefox_tabs.css"                      layer(BasicPriority) /* supports() */ -moz-pref("sidebar.verticalTabs", false);
@import "modules/horizontal_tabs/wavefox_tabs_background_inactive.css"  layer(BasicPriority) /* supports() */ -moz-pref("sidebar.verticalTabs", false);
@import "modules/horizontal_tabs/wavefox_selected_tab_indicator.css"    layer(BasicPriority) /* supports() */ -moz-pref("sidebar.verticalTabs", false);
@import "modules/horizontal_tabs/wavefox_tab_media_icons_and_text.css"  layer(BasicPriority) /* supports() */ -moz-pref("sidebar.verticalTabs", false);
@import "modules/horizontal_tabs/wavefox_toolbar_buttons.css"           layer(BasicPriority) /* supports() */ -moz-pref("sidebar.verticalTabs", false);
@import "modules/horizontal_tabs/wavefox_tab_separators.css"            layer(BasicPriority) /* supports() */ -moz-pref("sidebar.verticalTabs", false);
@import "modules/horizontal_tabs/wavefox_tab_shadows.css"               layer(BasicPriority) /* supports() */ -moz-pref("sidebar.verticalTabs", false);
@import "modules/horizontal_tabs/wavefox_drag_space.css"                layer(BasicPriority) /* supports() */ -moz-pref("sidebar.verticalTabs", false);
@import "modules/horizontal_tabs/wavefox_toolbar_transparency.css"      layer(BasicPriority) /* supports() */ -moz-pref("sidebar.verticalTabs", false);
@import "modules/horizontal_tabs/wavefox_transparency_on_windows10.css" layer(BasicPriority) /* supports() */ (-moz-platform: windows);
@import "modules/horizontal_tabs/wavefox_transparency_on_linux.css"     layer(BasicPriority) /* supports() */ (-moz-platform: linux);
@import "modules/horizontal_tabs/wavefox_web_page.css"                  layer(BasicPriority) /* supports() */ -moz-pref("sidebar.verticalTabs", false);

@import "modules/horizontal_tabs/wavefox_one_line.css"                  layer(HighPriority)  /* supports() */ -moz-pref("sidebar.verticalTabs", false);
@import "modules/horizontal_tabs/wavefox_tabs_below_url.css"            layer(HighPriority)  /* supports() */ -moz-pref("sidebar.verticalTabs", false);

/* ---------------------------------------- Third-party styles (Maximum priority) ---------------------------------------- */
/* =) */
