@media -moz-pref("WaveFox.WebPage.Transparency", 1) and -moz-pref("browser.tabs.allow_transparent_browser")
{
    @-moz-document url-prefix("about")
    {
        html, body
        {
            background-color: transparent !important;
        }
    }
}

@media -moz-pref("WaveFox.WebPage.Transparency", 2) and -moz-pref("browser.tabs.allow_transparent_browser")
{
    @-moz-document url-prefix("")
    {
        html, body
        {
            background-color: transparent !important;
        }
    }
}

/* Soundcloud / Light theme without account */

/*

@-moz-document domain("soundcloud.com")
{
    @media (prefers-color-scheme: light)
    {
        body
        {
            --surface-color: #fff !important;
            --surface-rgb: 255,255,255 !important;
            --primary-color: #121212 !important;
            --primary-rgb: 18,18,18 !important;
            --secondary-color: #666 !important;
            --secondary-rgb: 102,102,102 !important;
            --highlight-color: #f3f3f3 !important;
            --highlight-rgb: 243,243,243 !important;
            --link-color: #044dd2 !important;
            --link-rgb: 4,77,210 !important;
            --overlay-color: rgba(18,18,18,0.4) !important;
            --overlay-rgb: 18,18,18,0.4 !important;
            --imageBorder-color: rgba(18,18,18,0.15) !important;
            --imageBorder-rgb: 18,18,18,0.15 !important;
            --background-surface-color: #fff !important;
            --background-highlight-color: #f3f3f3 !important;
            --font-sans-serif-family: var(--font-inter,SoundCloud Sans),system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe UI Emoji" !important;
            --font-monospace-family: "Monaco","Courier New",monospace !important;
            --font-light-color: #fff !important;
            --font-dark-color: #121212 !important;
            --font-special-color: #f50 !important;
            --font-error-color: #d61348 !important;
            --font-primary-color: #121212 !important;
            --font-secondary-color: #666 !important;
            --font-link-color: #044dd2 !important;
            --button-light-background-color: #fff !important;
            --button-light-font-color: #121212 !important;
            --button-dark-background-color: #121212 !important;
            --button-dark-font-color: #fff !important;
            --button-special-background-color: #f50 !important;
            --button-special-font-color: #fff !important;
            --button-focused-box-shadow: 0 0 0 2px #044dd2 inset !important;
            --button-disabled-opacity: 0.4 !important;
            --button-active-opacity: 0.4 !important;
            --button-primary-background-color: #121212 !important;
            --button-primary-font-color: #fff !important;
            --button-primary-hover-font-color: hsla(0,0%,100%,0.4) !important;
            --button-primary-disabled-background-color: #121212 !important;
              --button-primary-disabled-font-color: #fff !important;
              --button-primary-selected-background-color: #f3f3f3 !important;
              --button-primary-selected-font-color: #121212 !important;
              --button-primary-selected-hover-font-color: rgba(18,18,18,0.4) !important;
              --button-primary-selected-active-background-color: #f3f3f3 !important;
              --button-primary-selected-active-font-color: #121212 !important;
              --button-primary-loading-background-color: #121212 !important;
              --button-primary-loading-font-color: hsla(0,0%,100%,0.6) !important;
              --button-primary-loading-icon-color: #fff !important;
              --button-primary-active-background-color: #121212 !important;
              --button-primary-active-font-color: #fff !important;
              --button-secondary-background-color: #f3f3f3 !important;
              --button-secondary-font-color: #121212 !important;
              --button-secondary-hover-font-color: rgba(18,18,18,0.4) !important;
              --button-secondary-disabled-background-color: #f3f3f3 !important;
              --button-secondary-disabled-font-color: #121212 !important;
              --button-secondary-selected-background-color: #f3f3f3 !important;
              --button-secondary-selected-font-color: #f50 !important;
              --button-secondary-selected-hover-font-color: rgba(255,85,0,0.4) !important;
              --button-secondary-selected-active-background-color: #f3f3f3 !important;
              --button-secondary-selected-active-font-color: #f50 !important;
              --button-secondary-loading-background-color: #f3f3f3 !important;
              --button-secondary-loading-font-color: rgba(18,18,18,0.6) !important;
              --button-secondary-loading-icon-color: #121212 !important;
              --button-secondary-active-background-color: #f3f3f3 !important;
              --button-secondary-active-font-color: #121212 !important;
              --button-tertiary-background-color: #fff !important;
              --button-tertiary-font-color: #121212 !important;
              --button-tertiary-hover-font-color: rgba(18,18,18,0.4) !important;
              --button-tertiary-disabled-background-color: #fff !important;
              --button-tertiary-disabled-font-color: #121212 !important;
              --button-tertiary-selected-background-color: #fff !important;
              --button-tertiary-selected-font-color: #f50 !important;
              --button-tertiary-selected-hover-font-color: rgba(255,85,0,0.4) !important;
              --button-tertiary-selected-active-background-color: #fff !important;
              --button-tertiary-selected-active-font-color: #f50 !important;
              --button-tertiary-loading-background-color: #fff !important;
              --button-tertiary-loading-font-color: rgba(18,18,18,0.6) !important;
              --button-tertiary-loading-icon-color: #121212 !important;
              --button-tertiary-active-background-color: #fff !important;
              --button-tertiary-active-font-color: #121212 !important;
              --overlay-default-color: rgba(18,18,18,0.4) !important;
              --link-standard-color: #044dd2 !important;
              --link-standard-focus-outline: none !important;
              --link-standard-focus-box-shadow: 0 0 0 2px #044dd2 !important;
              --link-standard-text-decoration: none !important;
              --link-standard-active-color: rgba(4,77,210,0.6) !important;
              --link-standard-hover-color: #044dd2 !important;
              --link-standard-hover-text-decoration: underline !important;
              --link-standard-border-radius: 4px !important;
              --link-standard-disabled-color: rgba(4,77,210,0.6) !important;
              --link-primary-color: #121212 !important;
              --link-primary-focus-box-shadow: 0 0 0 2px #044dd2 !important;
              --link-primary-disabled-color: rgba(18,18,18,0.6) !important;
              --link-primary-active-color: rgba(18,18,18,0.6) !important;
              --link-primary-hover-color: rgba(18,18,18,0.4) !important;
              --link-primary-hover-text-decoration: none !important;
              --link-primary-border-radius: 4px !important;
              --link-secondary-color: #666 !important;
              --link-secondary-focus-box-shadow: 0 0 0 2px #044dd2 !important;
              --link-secondary-disabled-color: hsla(0,0%,40%,0.6) !important;
              --link-secondary-active-color: hsla(0,0%,40%,0.6) !important;
              --link-secondary-hover-color: hsla(0,0%,40%,0.4) !important;
              --link-secondary-hover-text-decoration: none !important;
              --link-secondary-border-radius: 4px !important;
              --tag-body-height: 24px !important;
              --tag-body-padding: 2px 8px !important;
              --tag-body-cursor: pointer !important;
              --tag-body-border-radius: 100px !important;
              --tag-body-user-select: none !important;
              --tag-body-touch-callout: none !important;
              --tag-body-white-space: nowrap !important;
              --tag-body-hover-text-decoration: none !important;
              --tag-disabled-opacity: 60% !important;
              --tag-focused-box-shadow: 0 0 0 2px #044dd2 inset !important;
              --tag-focused-outline: none !important;
              --tag-default-background-color: #f3f3f3 !important;
              --tag-default-font-color: #121212 !important;
              --tag-default-font-hover-color: rgba(18,18,18,0.4) !important;
              --tag-selected-background-color: #121212 !important;
              --tag-selected-font-color: #fff !important;
              --tag-selected-font-hover-color: hsla(0,0%,100%,0.4) !important;
              --input-default-background-color: #f3f3f3 !important;
              --input-default-font-color: #121212 !important;
              --input-placeholder-background-color: #f3f3f3 !important;
              --input-placeholder-font-color: #666 !important;
              --input-focused-background-color: #f3f3f3 !important;
              --input-focused-border-color: #666 !important;
              --input-focused-font-color: #121212 !important;
              --input-invalid-background-color: #f3f3f3 !important;
              --input-disabled-background-color: rgba(18,18,18,0.15) !important;
              --input-disabled-font-color: #121212 !important;
              --toggle-focused-box-shadow: 0 0 0 2px #044dd2 !important;
              --toggle-disabled-opacity: 60% !important;
              --toggle-body-width: 40px !important;
              --toggle-body-height: 24px !important;
              --toggle-body-border-radius: 16px !important;
              --toggle-body-cursor: pointer !important;
              --toggle-body-user-select: none !important;
              --toggle-body-transition: all 0.2s !important;
              --toggle-handle-height: 20px !important;
              --toggle-handle-width: 20px !important;
              --toggle-handle-border-radius: 50px !important;
              --toggle-handle-left: 2px !important;
              --toggle-handle-top: 2px !important;
              --toggle-handle-z-index: 1 !important;
              --toggle-handle-transition: all 0.2s !important;
              --toggle-icon-on-opacity: 0 !important;
              --toggle-icon-left: 50% !important;
              --toggle-icon-top: 50% !important;
              --toggle-icon-transform: translate(-50%,-50%) !important;
              --toggle-icon-transition: opacity 0.2s !important;
              --toggle-on-body-color: #f50 !important;
              --toggle-on-body-hover-color: #f50 !important;
              --toggle-on-body-opacity: 1 !important;
              --toggle-on-body-transition: opacity 0.2s !important;
              --toggle-on-handle-color: #fff !important;
              --toggle-on-handle-hover-color: hsla(0,0%,100%,0.4) !important;
              --toggle-on-handle-left: 18px !important;
              --toggle-on-icon-off-opacity: 0 !important;
              --toggle-on-icon-on-opacity: 1 !important;
              --toggle-off-body-color: #666 !important;
              --toggle-off-body-hover-color: #666 !important;
              --toggle-off-body-opacity: 0 !important;
              --toggle-off-handle-color: #fff !important;
              --toggle-off-handle-hover-color: hsla(0,0%,100%,0.4) !important;
        }
    }
}

*/
