@media -moz-pref("WaveFox.VerticalTabs.WebPage.Floating", 1)
{
    :root:not([inFullscreen], [inDOMFullscreen])
    {
        .browser-toolbox-background:not(#navigator-toolbox)
        {
            overflow: clip !important;
            margin-block: 0px var(--space-small) !important;
            margin-inline: var(--space-small) !important;
            border-radius: var(--border-radius-medium) !important;
            border: 1px solid var(--chrome-content-separator-color) !important;
            box-shadow: var(--content-area-shadow) !important;
            background-clip: padding-box !important;
            background-color: color-mix(in srgb, var(--sidebar-background-color) 75%, transparent) !important;

            #sidebar-main
            {
                background-color: transparent !important;
                color: var(--sidebar-text-color) !important;
                border-radius: 0px !important;
            }

            #sidebar-launcher-splitter,
            #sidebar-splitter
            {
                width: var(--splitter-width) !important;
                margin-inline: calc(-1 * var(--splitter-width)) 0px !important;
                border: none !important;

                :is(#sidebar-main, #sidebar-box)[sidebar-positionend] + &
                {
                    margin-inline: 0px calc(-1 * var(--splitter-width)) !important;
                }
            }

            #sidebar-box
            {
                padding-block: 0px !important;
                z-index: 3 !important;

                #sidebar
                {
                    outline: none !important;
                    margin-block: 0px !important;
                    border-radius: 0px !important;
                    box-shadow: var(--content-area-shadow) !important;
                }
            }

            #tabbrowser-tabbox
            {
                box-shadow: var(--content-area-shadow) !important;
                
                #tabbrowser-tabpanels
                {
                    clip-path: content-box !important;
                }
            }
        }
    }
}

@media -moz-pref("WaveFox.VerticalTabs.WebPage.Floating", 2)
{
    :root:not([inFullscreen], [inDOMFullscreen])
    {
        .browser-toolbox-background:not(#navigator-toolbox)
        {
            overflow: clip !important;
            margin-block: 0px var(--space-small) !important;
            margin-inline: var(--space-small) !important;
            border-radius: var(--border-radius-medium) !important;
            border: 1px solid var(--chrome-content-separator-color) !important;
            box-shadow: var(--content-area-shadow) !important;
            background-clip: padding-box !important;
            background-color: color-mix(in srgb, var(--sidebar-background-color) 75%, transparent) !important;

            #sidebar-main
            {
                background-color: transparent !important;
                color: var(--sidebar-text-color) !important;
                border-radius: 0px !important;
            }

            #sidebar-launcher-splitter
            {
                width: var(--splitter-width) !important;
                margin-inline: calc(-1 * var(--splitter-width)) 0px !important;
                border: none !important;

                :is(#sidebar-main, #sidebar-box)[sidebar-positionend] + &
                {
                    margin-inline: 0px calc(-1 * var(--splitter-width)) !important;
                }
            }

            #sidebar-box
            {
                padding-block: 0px !important;

                #sidebar
                {
                    outline: none !important;
                    margin-block: var(--space-small) !important;
                    border: 1px solid var(--sidebar-border-color) !important;
                    box-shadow: var(--content-area-shadow) !important;
                    background-clip: padding-box !important;
                }
            }

            #tabbrowser-tabbox
            {
                outline: none !important;
                box-shadow: none !important;

                #tabbrowser-tabpanels
                {
                    overflow: clip !important;
                    margin: var(--space-small) !important;
                    border-radius: var(--border-radius-medium) !important;
                    border: 1px solid var(--sidebar-border-color) !important;
                    box-shadow: var(--content-area-shadow) !important;
                    background-clip: padding-box !important;
                }
            }
            
            #sidebar-main:not([sidebar-positionend], [hidden]) ~ #tabbrowser-tabbox > #tabbrowser-tabpanels
            {
                margin-inline-start: 0px !important;
            }
            
            #sidebar-main[sidebar-positionend]:not([hidden]) ~ #tabbrowser-tabbox > #tabbrowser-tabpanels
            {
                margin-inline-end: 0px !important;
            }
        }
    }
}

@media -moz-pref("WaveFox.VerticalTabs.WebPage.Floating", 3)
{
    :root:not([inFullscreen], [inDOMFullscreen])
    {
        .browser-toolbox-background:not(#navigator-toolbox)
        {
            #sidebar-main
            {
                border-radius: 0px !important;
            }

            #sidebar-launcher-splitter
            {
                width: var(--splitter-width) !important;
                margin-inline: calc(-1 * var(--splitter-width)) 0px !important;
                border: none !important;

                :is(#sidebar-main, #sidebar-box)[sidebar-positionend] + &
                {
                    margin-inline: 0px calc(-1 * var(--splitter-width)) !important;
                }
            }

            #sidebar-box
            {
                padding-block: 0px !important;

                #sidebar
                {
                    outline: none !important;
                    margin-block: 0px var(--space-small) !important;
                    border: 1px solid var(--sidebar-border-color) !important;
                    box-shadow: var(--content-area-shadow) !important;
                    background-clip: padding-box !important;
                }
            }

            #tabbrowser-tabbox
            {
                outline: none !important;
                box-shadow: none !important;

                #tabbrowser-tabpanels
                {
                    overflow: clip !important;
                    margin-block: 0px var(--space-small) !important;
                    margin-inline: var(--space-small) !important;
                    border-radius: var(--border-radius-medium) !important;
                    border: 1px solid var(--sidebar-border-color) !important;
                    box-shadow: var(--content-area-shadow) !important;
                    background-clip: padding-box !important;
                }
            }
            
            #sidebar-main:not([sidebar-positionend], [hidden]) ~ #tabbrowser-tabbox > #tabbrowser-tabpanels
            {
                margin-inline-start: 0px !important;
            }
            
            #sidebar-main[sidebar-positionend]:not([hidden]) ~ #tabbrowser-tabbox > #tabbrowser-tabpanels
            {
                margin-inline-end: 0px !important;
            }
        }
    }
}
