:root
{
    --space-xsmall: 2px !important;
    --tab-min-height: 36px !important;

    &[uidensity="compact"]
    {
        --tab-min-height: 32px !important;
    }

    &[uidensity="touch"]
    {
        --tab-min-height: 40px !important;
    }

    --tab-pinned-expanded-background-width: var(--tab-min-height) !important;
    --tab-height-with-margin-padding: auto !important;
    --tab-icon-end-margin: 8px !important;

    #tabbrowser-tabs
    {
        --tab-icon-end-margin: 8px !important;
    }
}

.tabbrowser-tab
{
    --tab-icon-end-margin: 8px !important;
    padding-block: 2px !important;

    &:not([visuallyselected], :hover, [multiselected])
    {
        .tab-background
        {
            background-color: transparent !important;
        }
    }
    .tab-background
    {
        margin-block: 0px !important;
    }

    .tab-content
    {
        background-position: 50% calc(50% + 12px) !important;
    }
}
