/* -------------------- Media Icons -------------------- */

/* Collapsed tabs / Expanded pinned tabs */

#tabbrowser-tabs:not([expanded]) .tabbrowser-tab:not([crashed]),
#tabbrowser-tabs[expanded] .tabbrowser-tab[pinned]:not([crashed])
{
    .tab-icon-overlay
    {
        background-color: transparent !important;
        background-image: none !important;
        fill: currentColor !important;
        border-radius: 50px !important;
        top: -8px !important;
        inset-inline-end: -8px !important;
        
        &:hover
        {
            background-color: color-mix(in srgb, currentColor 15%, transparent) !important;
        }
        
        &:hover:active
        {
            background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
        }
    }
        
    &:where([soundplaying], [muted], [activemedia-blocked]) .tab-icon-stack > :not(.tab-icon-overlay)
    {
        mask-image: linear-gradient(to bottom, black, black), radial-gradient(circle at right top, black 8px, transparent 9px) !important;
        mask-size: 16px 16px !important;
        mask-position: center center !important;
        mask-repeat: no-repeat !important;
        mask-composite: exclude !important;
        mask-mode: alpha !important;
            
        :root:-moz-locale-dir(rtl) &
        {
            mask-image: linear-gradient(to bottom, black, black), radial-gradient(circle at left top, black 8px, transparent 9px) !important;
        }
    }
}

/* Expanded tabs */

#tabbrowser-tabs[expanded] .tabbrowser-tab:not([pinned], [crashed])
{
    .tab-icon-overlay
    {
        background-color: currentColor !important;
        background-image: none !important;
        border-radius: 50px !important;
        top: 0px !important;
        inset-inline-end: 0px !important;
        mask-image: var(--mask-overlay-background, none), var(--mask-overlay-image, none) !important;
        mask-size: 16px 16px, 12px 12px !important;
        mask-position: center center !important;
        mask-repeat: no-repeat !important;
        mask-mode: alpha !important;
        
        &:hover
        {
            --mask-overlay-background: linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
        }

        &:hover:active
        {
            --mask-overlay-background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
        }
    }
    
    &[soundplaying] .tab-icon-overlay
    {
        --mask-overlay-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg");
    }

    &[muted] .tab-icon-overlay
    {
        --mask-overlay-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
    }

    &[activemedia-blocked] .tab-icon-overlay
    {
        --mask-overlay-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg");
    }
    
    .tab-icon-overlay
    {
        top: -8px !important;
        inset-inline-end: -8px !important;
    }
    
    &:where([soundplaying], [muted], [activemedia-blocked])
    {
        .tab-icon-stack > :not(.tab-icon-overlay)
        {
            mask-image: linear-gradient(to bottom, black, black), radial-gradient(circle at right top, black 8px, transparent 9px) !important;
            mask-size: 16px 16px !important;
            mask-position: center center !important;
            mask-repeat: no-repeat !important;
            mask-composite: exclude !important;
            mask-mode: alpha !important;

            :root:-moz-locale-dir(rtl) &
            {
                mask-image: linear-gradient(to bottom, black, black), radial-gradient(circle at left top, black 8px, transparent 9px) !important;
            }
        }

        .tab-icon-overlay
        {
            display: revert !important;
        }
    }
}

#tabbrowser-tabs[expanded] .tabbrowser-tab:not([pinned])
{
    .tab-icon-stack > *
    {
        margin-inline-end: 10px !important;
    }
    
    .tab-audio-button
    {
        display: none !important;
    }
}

/* ---------- Picture-In-Picture ---------- */

#tabbrowser-tabs:is([expanded], :not([expanded])) .tabbrowser-tab[pictureinpicture]:not([crashed], [busy])
{
    .tab-icon-stack::before
    {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: currentColor;
        mask-size: 16px 16px;
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-mode: alpha;
        
        :root:-moz-locale-dir(rtl) &
        {
            transform: rotateY(180deg);
        }
    }
    
    .tab-icon-stack > :not(.tab-icon-overlay)
    {
        position: relative !important;
        padding: 2px !important;
        inset-inline-start: 8px !important;
        top: 8px !important;
        mask-image: none !important;
        box-sizing: border-box !important;
        z-index: 1 !important;
    }
    
    &:not([soundplaying], [muted], [activemedia-blocked]) .tab-icon-stack::before
    {
        mask-image: linear-gradient(to bottom, black, black), linear-gradient(to bottom, black, black), url("chrome://global/skin/media/picture-in-picture-open.svg");
        mask-size: 8px 8px, 8px 8px, 16px 16px;
        mask-position: right bottom, right bottom, center center;
        mask-repeat: no-repeat;
        mask-composite: exclude, add;
    }
    
    &:is([soundplaying], [muted], [activemedia-blocked]) .tab-icon-stack::before
    {
        mask-image: linear-gradient(to bottom, black, black), linear-gradient(to bottom, black, black), url("chrome://global/skin/media/picture-in-picture-open.svg");
        mask-size: 8px 16px, 8px 16px, 16px 16px;
        mask-position: right bottom, right bottom, center center;
        mask-repeat: no-repeat;
        mask-composite: exclude, add;
    }
}

/* -------------------- Tab Text -------------------- */

.tab-label-container
{
    height: auto !important;
    font-size: clamp(0px, 1em, 16px) !important;
    mask-image: none !important;
}

.tab-label
{
    width: 100% !important;
    height: auto !important;
    line-height: normal !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    margin-block: 0px !important;
}

/* -------------------- Tab content / Temporary solution -------------------- */

.tab-content
{
    background-position: 50% calc(50% + 12px) !important;
}
