@media -moz-pref("WaveFox.VerticalTabs.Toolbar.Autohide.Enabled")
{
    .browser-toolbox-background:not(#navigator-toolbox)
    {
        @media not -moz-pref("WaveFox.VerticalTabs.WebPage.Floating.Enabled") /* Backdrop-filter issue fix */
        {
            overflow: clip !important;
            border-radius: 0.01px !important;
        }
    }
    
    .browser-toolbox-background:not(#navigator-toolbox) :is(#sidebar-main, #sidebar-launcher-splitter, #sidebar-splitter, #sidebar, #tabbrowser-tabpanels)
    {
        margin-top: 6px !important;
    }

    #navigator-toolbox
    {
        overflow: clip !important;
        position: absolute !important;
        width: 75% !important;
        align-self: center !important;
        background-color: color-mix(in srgb, var(--sidebar-text-color) 50%, var(--sidebar-background-color) 50%) !important;
        border-radius: 0px 0px var(--border-radius-medium) var(--border-radius-medium) !important;
        box-shadow: var(--content-area-shadow) !important;
        transition-property: all !important;
        transition-duration: 0.5s !important;
        clip-path: inset(0px 40% calc(100% - 6px) 40% round 50px) !important;
        z-index: 3 !important;
      
        :root[sizemode="normal"] &
        {
            top: 6px !important;
        }
        
        #urlbar
        {
            opacity: 0 !important;
            pointer-events: none !important;
        }

        &:hover,
        &:has(*[open], *[_moz-menuactive], *:focus, *:focus-visible)
        {
            background-color: color-mix(in srgb, var(--sidebar-background-color) 75%, transparent) !important;
            clip-path: inset(-100%) !important;
            backdrop-filter: blur(8px) !important;
          
            :root[sizemode="normal"] &
            {
                border-radius: var(--border-radius-medium) !important;
            }

            #urlbar
            {
                opacity: 1 !important;
                pointer-events: auto !important;
            }
        }
    }
}
