body
{
    background-image: var(--toolbox-background-image) !important;
    background-repeat: var(--toolbox-background-repeat) !important;
    background-position: var(--toolbox-background-position) !important;
    background-size: var(--toolbox-background-size) !important;
}

#navigator-toolbox
{
    background-color: transparent !important;
    background-image: none !important;
    margin: 0px !important;
    border: none !important;
    border-radius: 0px !important;
    
    & > *
    {
        background-color: transparent !important;
        border: none !important;
    }
}

/* OS System Theme */

@media -moz-pref("WaveFox.VerticalTabs.OS.SystemTheme") and
       -moz-pref("extensions.activeThemeID", 'default-theme@mozilla.org')
{
    #main-window,
    body
    {
        background-color: transparent !important;
        background-image: none !important;
    }
}
