:root:not([inFullscreen], [inDOMFullscreen])
{
    #browser
    {
        overflow: auto !important;
        margin-block: 0px 4px !important;
        margin-inline: 4px !important;
        border-radius: var(--border-radius-medium) !important;
        border: 1px solid var(--chrome-content-separator-color) !important;
        box-shadow: var(--content-area-shadow) !important;
        background-clip: padding-box !important;
    
        #sidebar-main
        {
            background-color: color-mix(in srgb, var(--toolbar-bgcolor) 75%, transparent) !important;
            background-image: none !important;
            color: var(--toolbar-color) !important;
            border-radius: 0px !important;
            background-clip: padding-box !important;

            @media -moz-pref("sidebar.visibility", 'expand-on-hover')
            {
                &[sidebar-launcher-expanded],
                &[sidebar-ongoing-animations]:not([sidebar-launcher-expanded])
                {
                    backdrop-filter: blur(8px) !important;
                    box-shadow: var(--content-area-shadow) !important;
                }
            }
        }

        #sidebar-launcher-splitter,
        #sidebar-splitter
        {
            width: var(--splitter-width) !important;
            margin-inline-start: calc(-1 * var(--splitter-width)) !important;
            border: none !important;
        }

        #sidebar-box
        {
            padding: 0px !important;
            
            #sidebar
            {
                background-color: color-mix(in srgb, var(--toolbar-bgcolor) 75%, transparent) !important;
                color: var(--toolbar-color) !important;
                border-radius: 0px !important;
                box-shadow: none !important;
                outline: none !important;
            }
        }

        #tabbrowser-tabbox
        {
            outline: none !important;
            box-shadow: none !important;
        }
    }
}
