:root:not([inDOMFullscreen])
{
    --content-area-shadow: 0px 0px 1px light-dark(rgba(0,0,0,0.125), rgba(0,0,0,0.5)), 0px 2px 6px light-dark(rgba(0,0,0,0.125), rgba(0,0,0,0.5)) !important;

    @media -moz-pref("sidebar.visibility", 'expand-on-hover')
    {
        &[sidebar-expand-on-hover]
        {
            #browser
            {
                will-change: background-color, backdrop-filter !important;

                #sidebar-main[sidebar-launcher-expanded],
                #sidebar-main[sidebar-ongoing-animations]:not([sidebar-launcher-expanded])
                {
                    background-color: color-mix(in srgb, var(--sidebar-background-color) 75%, transparent) !important;
                    backdrop-filter: blur(8px) !important;
                }
            }
        }
    }

    #browser
    {
        #sidebar-main
        {
            margin-top: 0px !important;
            margin-bottom: 6px !important;
            background-color: var(--toolbar-bgcolor) !important;
            background-image: none !important;
            color: var(--toolbar-color) !important;
            border: none !important;
            box-shadow: var(--content-area-shadow) !important;
            z-index: 3 !important;
            transition-property: background-color !important;
            transition-duration: 0.5s !important;
                
            :root[sizemode="fullscreen"] &
            {
                margin-top: 6px !important;
            }
                
            &:not([sidebar-positionend])
            {
                border-start-end-radius: var(--border-radius-medium) !important;
                border-end-end-radius: var(--border-radius-medium) !important;
            }
                
            &[sidebar-positionend]
            {
                border-start-start-radius: var(--border-radius-medium) !important;
                border-end-start-radius: var(--border-radius-medium) !important;
            }
        }

        #sidebar-launcher-splitter,
        #sidebar-splitter
        {
            width: 6px !important;
            margin-top: 0px !important;
            margin-inline: 0px !important;
            margin-bottom: 6px !important;
            border: none !important;
            border-radius: var(--border-radius-medium) !important;
            
            :root[sizemode="fullscreen"] &
            {
                margin-top: 6px !important;
            }
        }

        #sidebar-box
        {
            padding: 0px !important;

            #sidebar
            {
                outline: none !important;
                margin-top: 0px !important;
                margin-bottom: 6px !important;
                box-shadow: var(--content-area-shadow) !important;
                
                :root[sizemode="fullscreen"] &
                {
                    margin-top: 6px !important;
                }
            }
        }

        #tabbrowser-tabbox
        {
            &:not([sidebar-positionend]) > #tabbrowser-tabpanels
            {
                margin-inline-end: 6px !important;
            }
                
            &[sidebar-positionend] > #tabbrowser-tabpanels
            {
                margin-inline-start: 6px !important;
            }

            #tabbrowser-tabpanels
            {
                overflow: clip !important;
                margin-top: 0px !important;
                margin-bottom: 6px !important;
                border-radius: var(--border-radius-medium) !important;
                box-shadow: var(--content-area-shadow) !important;

                :root[sizemode="fullscreen"] &
                {
                    margin-top: 6px !important;
                }

                .browserContainer
                {
                    outline: none !important;
                    box-shadow: var(--content-area-shadow) !important;
                }
            }
        }
    }
}
