/* ---------------------------------------- Density ---------------------------------------- */

:root
{
    --tab-min-height: 36px !important;

    &[uidensity="compact"]
    {
        --tab-min-height: 32px !important;
    }

    &[uidensity="touch"]
    {
        --tab-min-height: 40px !important;
    }
}

/* ---------------------------------------- Titlebar ---------------------------------------- */

:root[tabsintitlebar]
{
    .browser-titlebar
    {
        will-change: auto !important;
        transition: color var(--inactive-window-transition) !important;

        &:-moz-window-inactive
        {
            color: color-mix(in srgb, currentColor calc(var(--inactive-titlebar-opacity) * 100%), transparent) !important;
            opacity: 1 !important;
        }
    }
}

/* ---------------------------------------- Tabs ---------------------------------------- */

.tabbrowser-tab
{
    &[pinned] .tab-content
    {
        padding-inline: calc((var(--tab-min-height) - 16px) / 2) !important;
    }

    &:not([pinned]) .tab-content
    {
        padding-inline: 10px !important;
    }

    &[pending] .tab-icon-image
    {
        filter: saturate(0) !important;
    }

    .tab-background
    {
        border-radius: var(--wavefox-tab-border-radius, 4px) !important;
    }

    .tab-close-button
    {
        width: 16px !important;
        height: 16px !important;
        border-radius: 50% !important;
        padding: 2px !important;
        margin: 0px !important;
    }
}

/* ---------------------------------------- Indents ---------------------------------------- */

#tabbrowser-tabs:not([overflow]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))
{
    margin-inline-start: 0px !important;
}

/* ---------------------------------------- Floating tabs ---------------------------------------- */

@media (-moz-bool-pref: "userChrome.Tabs.Option1.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option2.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option3.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option4.Enabled")
{
    /* -------------------- Tab shapes -------------------- */

    @media (-moz-bool-pref: "userChrome.Tabs.Option1.Enabled")
    {
        :root
        {
            --wavefox-tab-border-radius: 8px;
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option2.Enabled")
    {
        :root
        {
            --wavefox-tab-border-radius: 12px;
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option3.Enabled")
    {
        :root
        {
            --wavefox-tab-border-radius: 16px;
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option4.Enabled")
    {
        :root
        {
            --wavefox-tab-border-radius: 50px;
        }
    }
}











/* ---------------------------------------- Attached tabs ---------------------------------------- */

@media (-moz-bool-pref: "userChrome.Tabs.Option5.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled")
{
    /* -------------------- Tab shapes -------------------- */

    @media (-moz-bool-pref: "userChrome.Tabs.Option5.Enabled")
    {
        :root
        {
            --wavefox-tab-border-radius: 0px;
        }
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_6/left_corners.svg");
            --center-svg: url("svg_files/option_6/center.svg");
            --right-svg:  url("svg_files/option_6/right_corners.svg");
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_7/left_corners.svg");
            --center-svg: url("svg_files/option_7/center.svg");
            --right-svg:  url("svg_files/option_7/right_corners.svg");
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_8/left_corners.svg");
            --center-svg: url("svg_files/option_8/center.svg");
            --right-svg:  url("svg_files/option_8/right_corners.svg");
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_9/left_corners.svg");
            --center-svg: url("svg_files/option_9/center.svg");
            --right-svg:  url("svg_files/option_9/right_corners.svg");
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_10/left_corners.svg");
            --center-svg: url("svg_files/option_10/center.svg");
            --right-svg:  url("svg_files/option_10/right_corners.svg");
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_11/left_corners.svg");
            --center-svg: url("svg_files/option_11/center.svg");
            --right-svg:  url("svg_files/option_11/right_corners.svg");
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_12/left_corners.svg");
            --center-svg: url("svg_files/option_12/center.svg");
            --right-svg:  url("svg_files/option_12/right_corners.svg");
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    



/* ---------------------------------------- Tabs ---------------------------------------- */

:root
{
    @media (-moz-bool-pref: "userChrome.Tabs.Option5.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4); /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2 - 6px);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    }
}

/* ---------------------------------------- Main Window ---------------------------------------- */

:root
{
    --tab-shadow-max-size: 0px !important;
    --tab-attention-indicator-position: 50% calc(50% + 12px);
    --tabstrip-min-height: auto !important;
}

/* ---------------------------------------- Nav Bar ---------------------------------------- */

#nav-bar
{
    border: none !important;
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
/* ---------------------------------------- Tabs ---------------------------------------- */

.tabbrowser-tab
{
    overflow: visible !important;
    padding-inline: 0px !important;

    &[pinned] .tab-content
    {
        padding-inline: calc((var(--tab-min-height) - 16px) / 2 + 2px) !important;
    }
    
    &[visuallyselected]
    {
        position: relative;
        z-index: 2 !important;
        color: var(--toolbar-color) !important;
        
        .tab-background
        {
            background-color: var(--toolbar-bgcolor) !important;
            
            &::before,
            &::after
            {
                background-color: var(--toolbar-bgcolor) !important;
            }
        }
    }
    
    &:not([visuallyselected])
    {
        &:hover
        {
            .tab-background
            {
                background-color: var(--toolbarbutton-hover-background) !important;
                
                &::before,
                &::after
                {
                    background-color: var(--toolbarbutton-hover-background) !important;
                }
            }
        }
        
        &[multiselected]
        {
            .tab-background
            {
                background-color: var(--toolbarbutton-active-background) !important;
                
                &::before,
                &::after
                {
                    background-color: var(--toolbarbutton-active-background) !important;
                }
            }
        }
    }
    
    .tab-background
    {
        position: relative !important;
        margin-inline: calc(var(--tab-min-height) / 2) !important;
        margin-block: 0px !important;
        border-radius: 0px !important;
        box-shadow: none !important;
        outline: none !important;
        pointer-events: none !important;
        
        &::before,
        &::after
        {
            content: "";
            display: block;
            position: absolute;
            width: var(--tab-min-height);
            height: var(--tab-min-height);
            mask-size: var(--tab-min-height);
            mask-position: center;
            mask-repeat: no-repeat;
            z-index: -1;
        }
        
        &::before
        {
            inset-inline-end: 100%;
            mask-image: var(--left-svg);
        }
        
        &::after
        {
            inset-inline-start: 100%;
            mask-image: var(--right-svg);
        }
    }
}
    

    
    
    
    
    /*
    
    .tab-background
    {
        display: grid !important;
    }
    
    .tab-context-line, 
    .tab-loading-burst,
    .tab-group-line
    {
        grid-area: 1 / 1 / auto / auto !important;
    }
    
    .tab-context-line,
    .tab-loading-burst
    .tab-group-line
    {
        min-height: var(--tab-min-height) !important;
        mask-image: var(--left-svg), var(--center-svg), var(--right-svg);
        mask-size: auto 100%, calc(100% - var(--tab-min-height) * 2) 100%, auto 100%;
        mask-position: left center, center center, right center;
        mask-repeat: no-repeat, no-repeat, no-repeat;
        margin-block: 0px !important;
        margin-inline: calc(-1 * var(--tab-min-height)) !important;
    }

    .tab-group-line
    {
        min-height var(--tab-min-height) !important;
        margin-block auto 0px !important;
        margin-inline 0px !important;
    }

    */

        


    
    
    
    
    
    
#tabbrowser-tabs[overflow] .tab-drop-indicator
{
    inset-inline-start: var(--tab-first-last-inline-margin) !important;
}
    
    
    
    
    


/* -------------------- Tab Icon Indicators -------------------- */

.tabbrowser-tab:is([image], [pinned]) .tab-content[attention]:not([selected]),
.tab-content[pinned][titlechanged]:not([selected])
{
    background-position: var(--tab-attention-indicator-position) !important;
}

/* ---------------------------------------- Tab Bar ---------------------------------------- */

#TabsToolbar #search-container
{
    padding-block: 0 !important;
}

/* ---------------------------------------- Indents ---------------------------------------- */

#tabbrowser-tabs:not([overflow]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([hidden])),
#tabbrowser-tabs[overflow] .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden])),
#tabbrowser-tabs[overflow][haspinnedtabs]
{
    margin-inline-start: var(--tab-first-last-inline-margin) !important;
}

.tabbrowser-tab:nth-last-child(1 of .tabbrowser-tab:not([hidden]))
{
    margin-inline-end: var(--tab-first-last-inline-margin) !important;
}

/* ---------------------------------------- Tab Scroll Animation ---------------------------------------- */
       
#tabbrowser-tabs[overflow] .tabbrowser-tab:not([pinned])
{
    box-sizing: content-box !important;
}

#tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([pinned])
{
    pointer-events: none !important;
    box-sizing: content-box !important;
    padding-inline: var(--tab-first-last-inline-margin) !important;
    margin-inline: calc(-1 * var(--tab-first-last-inline-margin)) !important;
    overflow-clip-margin: 0px !important;
}

#tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([pinned]) .tab-stack
{
    pointer-events: auto !important;
}

#tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))
{
    margin-inline-start: 0px !important;
}

#tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:nth-last-child(1 of .tabbrowser-tab:not([hidden]))
{
    margin-inline-end: 0px !important;
}















}
