/* Attached tabs */

@media -moz-pref("WaveFox.Tabs.Shape", 5)  or
       -moz-pref("WaveFox.Tabs.Shape", 6)  or
       -moz-pref("WaveFox.Tabs.Shape", 7)  or
       -moz-pref("WaveFox.Tabs.Shape", 8)  or
       -moz-pref("WaveFox.Tabs.Shape", 9)  or
       -moz-pref("WaveFox.Tabs.Shape", 10) or
       -moz-pref("WaveFox.Tabs.Shape", 11) or
       -moz-pref("WaveFox.Tabs.Shape", 12)
{
    .tabbrowser-tab:not([hidden]):has(+ tab-group),
    .tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab[hidden] + tab-group)
    {
        margin-inline-end: var(--tab-first-last-inline-margin) !important;
        padding-inline-end: 0px !important;
    }

    tab-group[collapsed] + .tabbrowser-tab:not([hidden]),
    tab-group[collapsed] + .tabbrowser-tab[hidden] + .tabbrowser-tab:not([hidden])
    {
        margin-inline-start: var(--tab-first-last-inline-margin) !important;
        padding-inline-start: 0px !important;
    }
        
    tab-group:not([collapsed]) + .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([hidden], [pinned]))
    {
        margin-inline-start: 0px !important;
        padding-inline-start: 0px !important;
    }
}
