@media -moz-pref("WaveFox.Windows10.Transparency.Enabled")                and
       -moz-pref("extensions.activeThemeID", 'default-theme@mozilla.org') and
       -moz-pref("browser.tabs.inTitlebar", 1)
{
    :root
    {
        background-color: transparent !important;

        #navigator-toolbox
        {
            background-color: transparent !important;
            border-top-color: transparent !important;
        }
    }
}
