body
{
    background-image: var(--toolbox-background-image) !important;
    background-repeat: var(--toolbox-background-repeat) !important;
    background-position: var(--toolbox-background-position) !important;
    background-size: var(--toolbox-background-size) !important;
}

#navigator-toolbox
{
    background-color: transparent !important;
    background-image: none !important;
    margin: 0px !important;
    border: none !important;
    border-radius: 0px !important;
    
    #nav-bar
    {
        background-color: transparent !important;
    }
}

#navigator-toolbox:has(#PersonalToolbar:not([collapsed])) + #browser
{
    background-color: var(--toolbar-background-color) !important;
    color: var(--toolbar-text-color) !important;
}

@media -moz-pref("WaveFox.HorizontalTabs.AttachedTabs")
{
    #navigator-toolbox
    {
        & > *
        {
            border: none !important;
        }

        #nav-bar
        {
            background-color: var(--toolbar-background-color) !important;
        }
    }
    
    #browser
    {
        background-color: var(--toolbar-background-color) !important;
        color: var(--toolbar-text-color) !important;
    }
}

/* Web Page */

#browser
{
    #sidebar-splitter
    {
        width: 4px !important;
        margin-block: 0px !important;
        margin-inline: -4px !important;
    }
    
    #tabbrowser-tabbox
    {
        .split-view-panel
        {
            margin: 0px !important;
        }

        .split-view-splitter
        {
            width: 4px !important;
            margin: 0px !important;
        }

        .browserContainer
        {
            outline: none !important;
            border: 1px solid var(--chrome-content-separator-color) !important;
            box-shadow: none !important;
        }
    }
}

/* OS System Theme */

@media -moz-pref("WaveFox.HorizontalTabs.OS.SystemTheme") and
       -moz-pref("extensions.activeThemeID", 'default-theme@mozilla.org')
{
    #main-window,
    body
    {
        background-color: transparent !important;
        background-image: none !important;
    }
}

/* Web Page */

@media -moz-pref("WaveFox.HorizontalTabs.WebPage.Compact")
{
    #browser
    {
        padding: 0px !important;
        gap: 0px !important;
        border-top: 1px solid var(--chrome-content-separator-color) !important;
        

        #sidebar-container
        {
            border: none !important;
            border-radius: 0px !important;
        }

        #sidebar-box
        {
            margin: 0px !important;
            border: none !important;
            border-radius: 0px !important;
        }

        #sidebar-splitter
        {
            margin: 0px !important;
            margin-inline: -2px !important;
        }

        #tabbrowser-tabbox
        {
            .split-view-splitter
            {
                margin-inline: -2px !important;
                z-index: 1 !important;
            }

            .browserContainer
            {
                border: none !important;
                border-radius: 0px !important;
            }
        }
    }
}
