@media -moz-pref("WaveFox.WebPage.Floating")
{
    :root:not([inFullscreen], [inDOMFullscreen])
    {
        #navigator-toolbox
        {
            border-bottom: none !important;
        }

        #browser > #tabbrowser-tabbox
        {
            margin-block-start: 0px !important;
            margin-block-end: 8px !important;
            margin-inline: 8px !important;
            border: 1px solid var(--chrome-content-separator-color) !important;
            border-radius: 10px !important;
            overflow: hidden !important;
            clip-path: border-box !important;
            outline: none !important;
            box-shadow: none !important;
        }

        &:is([style*="--lwt-header-image"], [style*="--lwt-additional-images"]) #browser > #tabbrowser-tabbox
        {
            margin-block-start: 8px !important;
        }

        #browser > #sidebar-wrapper
        {
            &:has(#sidebar-main:not([hidden], [positionend])) + #tabbrowser-tabbox
            {
                margin-inline-start: 0px !important;
            }
            
            &:has(#sidebar-main[positionend]:not([hidden])) + #tabbrowser-tabbox
            {
                margin-inline-end: 0px !important;
            }
        }
    }
}
