@media (-moz-bool-pref: "userChrome.Windows.Transparency.Enabled")
{
    :root[tabsintitlebar]:not([lwtheme])
    {
        background-color: transparent !important;

        #navigator-toolbox
        {
            background-color: transparent !important;
            border-top: none !important;
        }

        .titlebar-buttonbox-container
        {
            align-items: start !important;
        }
    }
}
