@media (-moz-bool-pref: "userChrome.WebPage.Rounding.Enabled")
{
    :root:is(:not([lwtheme]),
             [style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26)"],
             [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254)"])
    {
        &:not([inFullscreen], [inDOMFullscreen])
        {
            #navigator-toolbox
            {
                border-bottom: none !important;
            }
            
            #browser
            {
                background-color: var(--toolbar-bgcolor) !important;

                #tabbrowser-tabbox
                {
                    margin-block: 0 8px !important;
                    margin-inline: 8px !important;
                    border: 1px solid var(--chrome-content-separator-color) !important;
                    border-radius: 8px !important;
                    overflow: hidden !important;
                    clip-path: border-box !important;

                    @media (-moz-bool-pref: "userChrome.Tabs.TabsOnBottom.Enabled")   or
                           (-moz-bool-pref: "userChrome.OneLine.TabBarFirst.Enabled") or
                           (-moz-bool-pref: "userChrome.OneLine.NavBarFirst.Enabled")
                    {
                        margin-block-start: 8px !important;
                    }
                }
            }
        }
    }
}
