@media -moz-pref("WaveFox.HorizontalTabs.FloatingTabs.TabsBelowURL")
{
    @media not -moz-pref("WaveFox.HorizontalTabs.AttachedTabs")
    {
        #toolbar-menubar
        {
            order: 0 !important;
        }

        #nav-bar
        {
            order: 1 !important;
        }

        #PersonalToolbar
        {
            order: 2 !important;
        }

        #TabsToolbar
        {
            order: 3 !important;
        }
    }
}
