@media -moz-pref("WaveFox.Toolbar.Transparency", 1) or
       -moz-pref("WaveFox.Toolbar.Transparency", 2) or
       -moz-pref("WaveFox.Toolbar.Transparency", 3)
{
    :root:not([lwtheme])
    {
        --wavefox-selected-tab-shadow: none !important;
        --wavefox-inner-tabbar-shadow: none !important;
        --toolbarbutton-hover-background: color-mix(in srgb, currentColor 17%, transparent) !important;
        --toolbarbutton-active-background: color-mix(in srgb, currentColor 30%, transparent) !important;
        
        @media -moz-pref("WaveFox.Toolbar.Transparency", 1)
        {
            --toolbar-transparency-level: 25%;
        }
        
        @media -moz-pref("WaveFox.Toolbar.Transparency", 2)
        {
            --toolbar-transparency-level: 50%;
        }
        
        @media -moz-pref("WaveFox.Toolbar.Transparency", 3)
        {
            --toolbar-transparency-level: 75%;
        }

        #nav-bar,
        #PersonalToolbar
        {
            background-color: color-mix(in srgb, var(--toolbar-bgcolor), transparent var(--toolbar-transparency-level)) !important;
        }

        .tabbrowser-tab[visuallyselected] .tab-background
        {
            background-color: color-mix(in srgb, var(--toolbar-bgcolor), transparent var(--toolbar-transparency-level)) !important;
        }
    }
}

@media -moz-pref("WaveFox.Toolbar.Transparency", 4)
{
    :root:not([lwtheme])
    {
        --toolbarbutton-hover-background: color-mix(in srgb, currentColor 17%, transparent) !important;
        --toolbarbutton-active-background: color-mix(in srgb, currentColor 30%, transparent) !important;

        #nav-bar,
        #PersonalToolbar
        {
            background-color: transparent !important;
        }
        
        #TabsToolbar::before,
        #nav-bar
        {
            box-shadow: none !important;
        }
    }
}
