@media (-moz-bool-pref: "userChrome.Toolbar.Transparency.Low.Enabled")    or
       (-moz-bool-pref: "userChrome.Toolbar.Transparency.Medium.Enabled") or
       (-moz-bool-pref: "userChrome.Toolbar.Transparency.High.Enabled")
{
    :root:not([lwtheme])
    {
        --outer-box-shadow: initial !important;
        --inner-box-shadow: initial !important;
        --outer-drop-shadow: initial !important;
        --toolbarbutton-hover-background: color-mix(in srgb, currentColor 17%, transparent) !important;
        --toolbarbutton-active-background: color-mix(in srgb, currentColor 30%, transparent) !important;
        --urlbar-box-hover-bgcolor: color-mix(in srgb, currentColor 17%, transparent) !important;
        --urlbar-box-active-bgcolor: color-mix(in srgb, currentColor 30%, transparent) !important;
        
        @media (-moz-bool-pref: "userChrome.Toolbar.Transparency.Low.Enabled")
        {
            --toolbar-transparency-level: 25%;
        }
        
        @media (-moz-bool-pref: "userChrome.Toolbar.Transparency.Medium.Enabled")
        {
            --toolbar-transparency-level: 50%;
        }
        
        @media (-moz-bool-pref: "userChrome.Toolbar.Transparency.High.Enabled")
        {
            --toolbar-transparency-level: 75%;
        }
        
        .tabbrowser-tab[visuallyselected] .tab-background,
        #nav-bar,
        #PersonalToolbar
        {
            background-color: color-mix(in srgb, var(--toolbar-bgcolor), transparent var(--toolbar-transparency-level)) !important;
            background-image: none !important;
        }

        #urlbar:not([focused], [open]) > #urlbar-background,
        #searchbar:not(:focus-within)
        {
            background-color: color-mix(in srgb, var(--toolbar-field-background-color), transparent var(--toolbar-transparency-level)) !important;
        }
    }
}

@media (-moz-bool-pref: "userChrome.Toolbar.Transparency.VeryHigh.Enabled")
{
    :root:not([lwtheme])
    {
        --toolbarbutton-hover-background: color-mix(in srgb, currentColor 17%, transparent) !important;
        --toolbarbutton-active-background: color-mix(in srgb, currentColor 30%, transparent) !important;

        #nav-bar
        {
            --toolbar-field-background-color: var(--toolbar-bgcolor) !important;
            --toolbar-field-color: var(--toolbar-color) !important;
            --toolbar-field-border-color: transparent !important;
            background-color: transparent !important;
        }

        #urlbar:not([focused], [open]) > #urlbar-background,
        #searchbar:not(:focus-within)
        {
            box-shadow: var(--outer-box-shadow) !important;
        }

        #PersonalToolbar
        {
            background-color: transparent !important;
        }
        
        #TabsToolbar::before
        {
            display: none !important;
        }
    }
}
