/* ---------------------------------------- Density ---------------------------------------- */

:root
{
    --tab-min-height: 36px !important;

    &[uidensity="compact"]
    {
        --tab-min-height: 32px !important;
    }

    &[uidensity="touch"]
    {
        --tab-min-height: 40px !important;
    }
}

/* ---------------------------------------- Titlebar ---------------------------------------- */

:root[tabsintitlebar]
{
    .browser-titlebar
    {
        will-change: auto !important;
        transition: none !important;
        opacity: 1 !important;
    }
}

.browser-titlebar
{
    font-size: clamp(0em, 1em, 12px) !important;
}

/* ---------------------------------------- Tabs ---------------------------------------- */

.tabbrowser-tab
{
    &[pinned] .tab-content
    {
        padding-inline: calc((var(--tab-min-height) - 16px) / 2) !important;
    }

    &:not([pinned]) .tab-content
    {
        padding-inline: 10px !important;
    }

    &[pending] .tab-icon-image
    {
        filter: saturate(0) !important;
    }

    .tab-background
    {
        border-radius: var(--wavefox-tab-border-radius, 4px) !important;
        box-shadow: none !important;
    }

    .tab-close-button
    {
        width: 16px !important;
        height: 16px !important;
        border-radius: 50% !important;
        padding: 2px !important;
        margin: 0px !important;
    }
}

/* ---------------------------------------- Indents ---------------------------------------- */

#tabbrowser-tabs:not([overflow]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))
{
    margin-inline-start: 0px !important;
}

/* ---------------------------------------- Floating tabs ---------------------------------------- */

@media (-moz-bool-pref: "userChrome.Tabs.Option1.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option2.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option3.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option4.Enabled")
{
    /* -------------------- Tab shapes -------------------- */

    @media (-moz-bool-pref: "userChrome.Tabs.Option1.Enabled")
    {
        :root
        {
            --wavefox-tab-border-radius: 8px;
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option2.Enabled")
    {
        :root
        {
            --wavefox-tab-border-radius: 12px;
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option3.Enabled")
    {
        :root
        {
            --wavefox-tab-border-radius: 16px;
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option4.Enabled")
    {
        :root
        {
            --wavefox-tab-border-radius: 50px;
        }
    }
}

/* ---------------------------------------- Attached tabs ---------------------------------------- */

@media (-moz-bool-pref: "userChrome.Tabs.Option5.Enabled")
{
    /* -------------------- Tab shapes -------------------- */

    :root
    {
        --wavefox-tab-border-radius: 0px;
        
        .tabbrowser-tab
        {
            overflow: visible !important;
            padding-inline: 0px !important;
            
            .tab-background
            {
                margin-block: 0px !important;
            }
        }
    }
}

@media (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled")
{
    /* -------------------- Tab shapes -------------------- */

    @media (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_6/left_corners.svg");
            --center-svg: url("svg_files/option_6/center.svg");
            --right-svg:  url("svg_files/option_6/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_7/left_corners.svg");
            --center-svg: url("svg_files/option_7/center.svg");
            --right-svg:  url("svg_files/option_7/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_8/left_corners.svg");
            --center-svg: url("svg_files/option_8/center.svg");
            --right-svg:  url("svg_files/option_8/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2 - 6px);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_9/left_corners.svg");
            --center-svg: url("svg_files/option_9/center.svg");
            --right-svg:  url("svg_files/option_9/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_10/left_corners.svg");
            --center-svg: url("svg_files/option_10/center.svg");
            --right-svg:  url("svg_files/option_10/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_11/left_corners.svg");
            --center-svg: url("svg_files/option_11/center.svg");
            --right-svg:  url("svg_files/option_11/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_12/left_corners.svg");
            --center-svg: url("svg_files/option_12/center.svg");
            --right-svg:  url("svg_files/option_12/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
        }
    }

    /* ---------------------------------------- Main Window ---------------------------------------- */

    :root
    {
        --tab-shadow-max-size: 0px !important;
        --tabstrip-min-height: auto !important;
    }

    /* ---------------------------------------- Nav Bar ---------------------------------------- */

    #nav-bar
    {
        border: none !important;
    }

    /* ---------------------------------------- Tabs ---------------------------------------- */

    .tabbrowser-tab
    {
        overflow: visible !important;
        padding-inline: 0px !important;

        &[pinned]
        {
            .tab-content
            {
                padding-inline: calc((var(--tab-min-height) - 16px) / 2 + 2px) !important;
            }

            .tab-context-line
            {
                height: 4px !important;
                margin: 0px !important;
            }
        }
        
        &:not([pinned])
        {
            .tab-context-line
            {
                margin: 0px !important;
            }
        }

        &[visuallyselected]
        {
            position: relative;
            z-index: 2 !important;
            color: var(--toolbar-color) !important;

            .tab-background
            {
                background-color: var(--toolbar-bgcolor) !important;

                &::before,
                &::after
                {
                    background-color: var(--toolbar-bgcolor) !important;
                }
            }
        }

        &:not([visuallyselected])
        {
            z-index: 0 !important;

            &:hover
            {
                .tab-background
                {
                    &::before,
                    &::after
                    {
                        background-color: var(--tab-hover-background-color) !important;
                    }
                }
            }

            &[multiselected]
            {
                z-index: 1 !important;

                .tab-background
                {
                    filter: drop-shadow(0 0 2px var(--focus-outline-color)) !important;
                    backdrop-filter: drop-shadow(0 0 1px transparent) !important;

                    &::before,
                    &::after
                    {
                        background-color: var(--tab-selected-bgcolor) !important;
                        backdrop-filter: drop-shadow(0 0 1px transparent) !important;
                    }
                }
            }
        }

        .tab-background
        {
            position: relative !important;
            margin-inline: calc(var(--tab-min-height) / 2) !important;
            margin-block: 0px !important;
            border-radius: 0px !important;
            outline: none !important;
            pointer-events: none !important;

            &::before,
            &::after
            {
                content: "";
                display: block;
                position: absolute;
                aspect-ratio: 1 / 1;
                height: 100%;
                mask-size: contain;
                z-index: -1;
            }

            &::before
            {
                inset-inline-end: 100%;
                mask-image: var(--left-svg);
            }

            &::after
            {
                inset-inline-start: 100%;
                mask-image: var(--right-svg);
            }

            .tab-loading-burst
            {
                opacity: 0 !important;
            }
        }
    }

    #tabbrowser-tabs[overflow] .tab-drop-indicator
    {
        inset-inline-start: var(--tab-first-last-inline-margin) !important;
    }

    /* -------------------- Tab Icon Indicators -------------------- */

    .tabbrowser-tab:is([image], [pinned]) .tab-content[attention]:not([selected]),
    .tab-content[pinned][titlechanged]:not([selected])
    {
        background-position: 50% calc(50% + 12px) !important;
    }

    /* ---------------------------------------- Tab Bar ---------------------------------------- */

    #TabsToolbar #search-container
    {
        padding-block: 0 !important;
    }

    /* ---------------------------------------- Indents ---------------------------------------- */

    #tabbrowser-tabs:not([overflow]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([hidden])),
    #tabbrowser-tabs[overflow] .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden])),
    #tabbrowser-tabs[overflow][haspinnedtabs]
    {
        margin-inline-start: var(--tab-first-last-inline-margin) !important;
    }

    .tabbrowser-tab:nth-last-child(1 of .tabbrowser-tab:not([hidden]))
    {
        margin-inline-end: var(--tab-first-last-inline-margin) !important;
    }

    /* ---------------------------------------- Tab Scroll Animation ---------------------------------------- */

    #tabbrowser-tabs[overflow] .tabbrowser-tab:not([pinned])
    {
        box-sizing: content-box !important;
    }

    #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([pinned])
    {
        pointer-events: none !important;
        box-sizing: content-box !important;
        padding-inline: var(--tab-first-last-inline-margin) !important;
        margin-inline: calc(-1 * var(--tab-first-last-inline-margin)) !important;
    }

    #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([pinned]) .tab-stack
    {
        pointer-events: auto !important;
    }

    #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))
    {
        margin-inline-start: 0px !important;
    }

    #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:nth-last-child(1 of .tabbrowser-tab:not([hidden]))
    {
        margin-inline-end: 0px !important;
    }
}
