@media -moz-pref("WaveFox.HorizontalTabs.AttachedTabs.DragSpace", 1)  or
       -moz-pref("WaveFox.HorizontalTabs.AttachedTabs.DragSpace", 2)  or
       -moz-pref("WaveFox.HorizontalTabs.AttachedTabs.DragSpace", 3)
{
    @media -moz-pref("WaveFox.HorizontalTabs.AttachedTabs")
    {
        @media -moz-pref("WaveFox.HorizontalTabs.AttachedTabs.DragSpace", 1)
        {
            :root[sizemode="normal"]
            {
                --drag-space: 8px;
            }
        }

        @media -moz-pref("WaveFox.HorizontalTabs.AttachedTabs.DragSpace", 2)
        {
            :root:is([sizemode="normal"], [sizemode="maximized"])
            {
                --drag-space: 8px;
            }
        }

        @media -moz-pref("WaveFox.HorizontalTabs.AttachedTabs.DragSpace", 3)
        {
            :root:is([sizemode="normal"], [sizemode="maximized"], [sizemode="fullscreen"])
            {
                --drag-space: 8px;
            }
        }
        
        #TabsToolbar > *:not(.titlebar-buttonbox-container)
        {
            margin-top: var(--drag-space) !important;
        }
    }
}
