@media (-moz-bool-pref: "userChrome.OneLine.TabBarFirst.Enabled") or
       (-moz-bool-pref: "userChrome.OneLine.NavBarFirst.Enabled")
{
    @media (-moz-bool-pref: "userChrome.OneLine.TabBarFirst.Enabled")
    {
        #navigator-toolbox
        {
            grid-template-columns: auto minmax(auto, 0%) !important;
        }

        #TabsToolbar
        {
            grid-area: 2 / 1 / auto / auto !important;
        }

        #nav-bar
        {
            grid-area: 2 / 2 / auto / auto !important;
        }
    }

    @media (-moz-bool-pref: "userChrome.OneLine.NavBarFirst.Enabled")
    {
        #navigator-toolbox
        {
            grid-template-columns: minmax(auto, 0%) auto !important;
        }
        
        #TabsToolbar
        {
            grid-area: 2 / 2 / auto / auto !important;
        }

        #nav-bar
        {
            grid-area: 2 / 1 / auto / auto !important;
        }
    }

    #navigator-toolbox
    {
        display: grid !important;
        -moz-window-dragging: drag !important;
    }

    /* -------------------- Nav Bar -------------------- */

    #nav-bar
    {
        width: fit-content !important;
        background-color: transparent !important;
        margin-top: var(--drag-space) !important;
        box-shadow: var(--inner-box-shadow) !important;
    }

    #urlbar-container,
    #search-container
    {
        padding-block: 0px !important;
    }

    /* -------------------- Bookmarks Bar / Notifications -------------------- */

    #navigator-toolbox > *:not(#TabsToolbar, #nav-bar)
    {
        grid-column: 1 / span 2 !important;
    }

    /* -------------------- Customization -------------------- */

    #customization-panelWrapper
    {
        --panel-arrow-offset: 0px !important;
    }
}
