/* ---------------------------------------- Density ---------------------------------------- */

:root
{
    --tab-min-height: 36px !important;

    &[uidensity="compact"]
    {
        --tab-min-height: 32px !important;
    }

    &[uidensity="touch"]
    {
        --tab-min-height: 40px !important;
    }
}

/* ---------------------------------------- Titlebar ---------------------------------------- */

:root[customtitlebar]
{
    .browser-titlebar
    {
        will-change: auto !important;
        transition: none !important;
        opacity: 1 !important;
    }
}

/* ---------------------------------------- Tabs ---------------------------------------- */

.tabbrowser-tab
{
    &[pinned] .tab-content
    {
        padding-inline: calc((var(--tab-min-height) - 16px) / 2) !important;
    }

    &:not([pinned]) .tab-content
    {
        padding-inline: 10px !important;
    }

    &[pending] .tab-content
    {
        opacity: 0.75 !important;
    }

    .tab-background
    {
        border-radius: var(--wavefox-tab-border-radius, 4px) !important;
        box-shadow: none !important;
    }

    .tab-close-button
    {
        width: 16px !important;
        height: 16px !important;
        border-radius: 50% !important;
        padding: 2px !important;
        margin: 0px !important;
    }
}

/* ---------------------------------------- Indents ---------------------------------------- */

#tabbrowser-tabs:not([overflow]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))
{
    margin-inline-start: 0px !important;
}

/* ---------------------------------------- Floating tabs ---------------------------------------- */

@media -moz-pref("WaveFox.Tabs.Shape", 1) or
       -moz-pref("WaveFox.Tabs.Shape", 2) or
       -moz-pref("WaveFox.Tabs.Shape", 3) or
       -moz-pref("WaveFox.Tabs.Shape", 4)
{
    /* -------------------- Tab shapes -------------------- */

    @media -moz-pref("WaveFox.Tabs.Shape", 1)
    {
        :root
        {
            --wavefox-tab-border-radius: 8px;
        }
    }
    
    @media -moz-pref("WaveFox.Tabs.Shape", 2)
    {
        :root
        {
            --wavefox-tab-border-radius: 12px;
        }
    }
    
    @media -moz-pref("WaveFox.Tabs.Shape", 3)
    {
        :root
        {
            --wavefox-tab-border-radius: 16px;
        }
    }
    
    @media -moz-pref("WaveFox.Tabs.Shape", 4)
    {
        :root
        {
            --wavefox-tab-border-radius: 50px;
        }
    }
}

/* ---------------------------------------- Attached tabs ---------------------------------------- */

@media (-moz-bool-pref: "userChrome.Tabs.Option5.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")  or
       (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled") or
       (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled")
{
    /* -------------------- Tab shapes -------------------- */

    @media (-moz-bool-pref: "userChrome.Tabs.Option5.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_5/left_corners.svg");
            --right-svg:  url("svg_files/option_5/right_corners.svg");
            --tab-first-last-inline-margin: 0px;
        }
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_6/left_corners.svg");
            --right-svg:  url("svg_files/option_6/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_7/left_corners.svg");
            --right-svg:  url("svg_files/option_7/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_8/left_corners.svg");
            --right-svg:  url("svg_files/option_8/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2 - 6px);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_9/left_corners.svg");
            --right-svg:  url("svg_files/option_9/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_10/left_corners.svg");
            --right-svg:  url("svg_files/option_10/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_11/left_corners.svg");
            --right-svg:  url("svg_files/option_11/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
        }
    }
    
    @media (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled")
    {
        :root
        {
            --left-svg:   url("svg_files/option_12/left_corners.svg");
            --right-svg:  url("svg_files/option_12/right_corners.svg");
            --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
        }
    }

    /* ---------------------------------------- Main Window ---------------------------------------- */

    :root
    {
        --tab-selected-shadow-size: 0px !important;
        --tabstrip-min-height: auto !important;
    }

    /* ---------------------------------------- Nav Bar ---------------------------------------- */

    #nav-bar
    {
        border: none !important;
    }

    /* ---------------------------------------- Tabs ---------------------------------------- */

    .tabbrowser-tab
    {
        padding-inline: 0px !important;

        &[pinned]
        {
            .tab-content
            {
                padding-inline: calc((var(--tab-min-height) - 16px) / 2 + 2px) !important;
            }
        }

        &[fadein]
        {
            overflow: visible !important;
            
            #tabbrowser-tabs:not([movingtab]) &
            {
                transition: max-width 100ms ease-out !important;
            }
        }

        &[visuallyselected]
        {
            z-index: 2 !important;

            .tab-background
            {
                background-color: var(--toolbar-bgcolor) !important;
            }

            .tab-content
            {
                color: var(--toolbar-color) !important;
            }
        }

        &:not([visuallyselected])
        {
            z-index: 0 !important;

            &[multiselected]
            {
                z-index: 1 !important;

                .tab-background
                {
                    background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
                }
                
                .tab-content
                {
                    color: inherit !important;
                }
            }
        }

        .tab-background
        {
            margin-inline: calc(-1 * var(--tab-min-height) / 2) !important;
            margin-block: 0px !important;
            border-radius: 0px !important;
            outline: none !important;
            pointer-events: none !important;
            mask-image: var(--left-svg), linear-gradient(to bottom, black, black), var(--right-svg) !important;
            mask-size: contain !important;
            mask-position: left center, center center, right center !important;
            mask-repeat: no-repeat !important;
            mask-composite: exclude !important;
            mask-mode: alpha !important;

            .tab-context-line
            {
                margin: 0px !important;
            }
            
            .tab-loading-burst::before
            {
                margin-inline-start: 0px !important;
            }
        }
    }

    #tabbrowser-tabs[overflow] .tab-drop-indicator
    {
        inset-inline-start: var(--tab-first-last-inline-margin) !important;
    }

    /* -------------------- Tab Groups (Alpha) -------------------- */

    @media (-moz-bool-pref: "browser.tabs.groups.enabled")
    {
        .tab-group-line
        {
            margin-block: auto 0px !important;
            margin-inline: 0px !important;
        }

        tab-group[collapsed] > .tabbrowser-tab
        {
            --tab-first-last-inline-margin: 0px !important;
            overflow: hidden !important;
        }

        tab-group > .tab-group-label-container
        {
            order: -1 !important;
        }
        
        tab-group:first-of-type > .tab-group-label-container
        {
            margin-inline-start: var(--tab-first-last-inline-margin) !important;
        }

        /*
        
        #tabbrowser-tabs:not([overflow]) tab-group + .tabbrowser-tab:not([hidden]),
        #tabbrowser-tabs:not([overflow]) tab-group + .tabbrowser-tab[hidden] + .tabbrowser-tab:not([hidden]),
        #tabbrowser-tabs:not([overflow]) tab-group + .tabbrowser-tab[hidden] ~ .tabbrowser-tab[hidden] + .tabbrowser-tab:not([hidden])
        {
            margin-inline-start: var(--tab-first-last-inline-margin) !important;
        }

        #tabbrowser-tabs:not([overflow]) .tabbrowser-tab:not([hidden]):has(+ tab-group),
        #tabbrowser-tabs:not([overflow]) .tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab[hidden] + tab-group),
        #tabbrowser-tabs:not([overflow]) .tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab[hidden] ~ .tabbrowser-tab[hidden] + tab-group)
        {
            margin-inline-end: var(--tab-first-last-inline-margin) !important;
        }

        .toolbarbutton-1:has(+ #tabbrowser-tabs:not([overflow]) tab-group)
        {
            margin-inline-end: 0px !important;
        }

        #tabbrowser-tabs:not([overflow]) tab-group + #tabbrowser-arrowscrollbox-periphery > .toolbarbutton-1
        {
            margin-inline-start: 0px !important;
        }
        
        #tabbrowser-tabs:first-child tab-group:first-of-type > .tab-group-label-container
        {
            margin-inline-start: calc(var(--tab-block-margin) * 2) !important;
        }
        
        #tabbrowser-tabs:not(:first-child) tab-group:first-of-type > .tab-group-label-container
        {
            margin-inline-start: var(--tab-first-last-inline-margin) !important;
        }

        .tabbrowser-tab:not(:nth-last-child(1 of .tabbrowser-tab:not([hidden])), [hidden]) + tab-group > .tab-group-label-container
        {
            margin-inline-start: calc(var(--tab-first-last-inline-margin) + 3px) !important;
        }

        tab-group[collapsed]:has(+ .tabbrowser-tab:not([hidden])) > .tab-group-label-container,
        tab-group[collapsed]:has(+ .tabbrowser-tab[hidden] + .tabbrowser-tab:not([hidden])) > .tab-group-label-container,
        tab-group[collapsed]:has(+ .tabbrowser-tab[hidden] ~ .tabbrowser-tab[hidden] + .tabbrowser-tab:not([hidden])) > .tab-group-label-container
        {
            margin-inline-end: var(--tab-first-last-inline-margin) !important;
        }

        tab-group[collapsed]:last-of-type > .tab-group-label-container
        {
            margin-inline-end: var(--tab-first-last-inline-margin) !important;
        }

        */

        tab-group > .tab-group-label-container
        {
            margin-top: var(--drag-space, 0px) !important;
        }
    }

    /* -------------------- Tab Icon Indicators -------------------- */

    .tabbrowser-tab:is([image], [pinned]) .tab-content[attention]:not([selected]),
    .tab-content[pinned][titlechanged]:not([selected])
    {
        background-position: 50% calc(50% + 12px) !important;
    }

    /* ---------------------------------------- Tab Bar ---------------------------------------- */

    #TabsToolbar #search-container
    {
        padding-block: 0 !important;
    }

    /* ---------------------------------------- Indents ---------------------------------------- */

    #tabbrowser-tabs:not([overflow]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([hidden])),
    #tabbrowser-tabs[overflow] .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden])),
    #tabbrowser-tabs[overflow][haspinnedtabs]
    {
        margin-inline-start: var(--tab-first-last-inline-margin) !important;
    }

    .tabbrowser-tab:nth-last-child(1 of .tabbrowser-tab:not([hidden]))
    {
        margin-inline-end: var(--tab-first-last-inline-margin) !important;
    }

    /* ---------------------------------------- Tab Scroll Animation ---------------------------------------- */

    #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([pinned])
    {
        pointer-events: none !important;
        box-sizing: content-box !important;
        padding-inline: var(--tab-first-last-inline-margin) !important;
        margin-inline: calc(-1 * var(--tab-first-last-inline-margin)) !important;
    }

    #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([pinned]) .tab-stack
    {
        pointer-events: auto !important;
    }

    #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))
    {
        margin-inline-start: 0px !important;
    }

    #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:nth-last-child(1 of .tabbrowser-tab:not([hidden]))
    {
        margin-inline-end: 0px !important;
    }
}
