@media -moz-pref("browser.tabs.groups.enabled")
{

/* Media icons */

tab-group[collapsed] > .tabbrowser-tab[fadein]
{
    min-width: 0px !important;
}

/* Drag space */

tab-group > .tab-group-label-container
{
    margin-top: var(--drag-space, 0px) !important;
}
    
/* Attached tabs */

@media -moz-pref("WaveFox.Tabs.Shape", 5)  or
       -moz-pref("WaveFox.Tabs.Shape", 6)  or
       -moz-pref("WaveFox.Tabs.Shape", 7)  or
       -moz-pref("WaveFox.Tabs.Shape", 8)  or
       -moz-pref("WaveFox.Tabs.Shape", 9)  or
       -moz-pref("WaveFox.Tabs.Shape", 10) or
       -moz-pref("WaveFox.Tabs.Shape", 11) or
       -moz-pref("WaveFox.Tabs.Shape", 12)
{
    .tab-group-line
    {
        margin-block: 0px !important;
        margin-inline: calc(var(--tab-min-height) / 2) !important;
    }
    
    tab-group[collapsed] > .tabbrowser-tab
    {
        overflow-clip-margin: 0px !important;
        margin-inline: 0px !important;
        padding-inline: 0px !important;
    }

    .tab-group-label-container
    {
        margin-inline: var(--toolbar-start-end-padding) !important;
        padding-inline: 0px !important;
        
        tab-group:not([collapsed]) > &
        {
            margin-inline-end: 0px !important;
        }

        tab-group + tab-group > &,
        tab-group + .tabbrowser-tab[hidden] + tab-group > &
        {
            margin-inline-start: 0px !important;
        }
    }
}

}
