@property --outer-box-shadow
{
    syntax: "*";
    inherits: true;
    initial-value: 0 0 0 transparent;
}

@property --drag-space
{
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}
