@media (-moz-bool-pref: "userChrome.OneLine.TabBarFirst.Enabled") or
       (-moz-bool-pref: "userChrome.OneLine.NavBarFirst.Enabled")
{
    @media (-moz-bool-pref: "userChrome.OneLine.TabBarFirst.Enabled")
    {
        #navigator-toolbox
        {
            grid-template-columns: auto minmax(auto, 0%) !important;
        }

        #TabsToolbar
        {
            grid-area: 2 / 1 / auto / auto !important;
        }

        #nav-bar
        {
            grid-area: 2 / 2 / auto / auto !important;
        }
    }

    @media (-moz-bool-pref: "userChrome.OneLine.NavBarFirst.Enabled")
    {
        #navigator-toolbox
        {
            grid-template-columns: minmax(auto, 0%) auto !important;
        }
        
        #TabsToolbar
        {
            grid-area: 2 / 2 / auto / auto !important;
        }

        #nav-bar
        {
            grid-area: 2 / 1 / auto / auto !important;
        }
    }

    #navigator-toolbox
    {
        display: grid !important;
        -moz-window-dragging: drag !important;
    }

    /* -------------------- Nav Bar -------------------- */

    #nav-bar
    {
        width: fit-content !important;
        background-color: transparent !important;
        margin-top: var(--drag-space, 0px) !important;
        box-shadow: var(--wavefox-inner-tabbar-shadow) !important;
    }

    #urlbar-container,
    #search-container
    {
        padding-block: 0px !important;
    }

    /* -------------------- Bookmarks Bar / Notifications -------------------- */

    #navigator-toolbox > *:not(#TabsToolbar, #nav-bar)
    {
        grid-column: 1 / span 2 !important;
    }

    /* -------------------- Customization -------------------- */

    #customization-panelWrapper
    {
        --panel-arrow-offset: 0px !important;
    }

    /* -------------------- Windows -------------------- */

    @media (-moz-platform: windows)
    {
        @media (-moz-windows-accent-color-in-titlebar) or (-moz-windows-mica)
        {
            :root[tabsintitlebar]:not([lwtheme]) #nav-bar
            {
                color: inherit !important;
                --toolbarbutton-icon-fill: currentColor !important;
                --toolbarbutton-hover-background: color-mix(in srgb, currentColor 17%, transparent) !important;
                --toolbarbutton-active-background: color-mix(in srgb, currentColor 30%, transparent) !important;
            }
        }
        
        :root[tabsintitlebar] #nav-bar
        {
            will-change: auto !important;
            transition: color var(--inactive-window-transition) !important;

            &:-moz-window-inactive
            {
                color: color-mix(in srgb, currentColor calc(var(--inactive-titlebar-opacity) * 100%), transparent) !important;
            }
        }
    }
    
    /* -------------------- Linux -------------------- */

    @media (-moz-platform: linux)
    {
        :root[tabsintitlebar]:not([lwtheme]) #nav-bar
        {
            color: inherit !important;
        }
        
        :root[tabsintitlebar] #nav-bar
        {
            will-change: auto !important;
            transition: color var(--inactive-window-transition) !important;

            &:-moz-window-inactive
            {
                color: color-mix(in srgb, currentColor calc(var(--inactive-titlebar-opacity) * 100%), transparent) !important;
            }
        }
    }
        
    /* -------------------- MacOS -------------------- */

    @media (-moz-platform: macos)
    {
        :root[tabsintitlebar] #nav-bar
        {
            will-change: auto !important;
            transition: color var(--inactive-window-transition) !important;

            &:-moz-window-inactive
            {
                color: color-mix(in srgb, currentColor calc(var(--inactive-titlebar-opacity) * 100%), transparent) !important;
            }
        }
    }
}
