@media -moz-pref("WaveFox.HorizontalTabs.TabsBelowURL")
{
    #toolbar-menubar
    {
        order: 0 !important;
        background-color: var(--toolbar-bgcolor) !important;
        color: var(--toolbar-color) !important;
    }

    #nav-bar
    {
        order: 1 !important;
    }

    #PersonalToolbar
    {
        order: 2 !important;
    }

    #TabsToolbar
    {
        order: 3 !important;
    }
}
