@media -moz-pref("WaveFox.HorizontalTabs.Tabs.Separators", 1) or 
       -moz-pref("WaveFox.HorizontalTabs.Tabs.Separators", 2)
{
    @scope (:root) to (tab-group, tab-split-view-wrapper)
    {
        @media -moz-pref("WaveFox.HorizontalTabs.Tabs.Separators", 1)
        {
            .tabbrowser-tab:not([hidden])
            {
                & > .tab-stack
                {
                    &::before
                    {
                        content: "";
                        display: block;
                        position: absolute;
                        width: var(--tab-overflow-clip-margin);
                        height: 50%;
                        top: 25%;
                        pointer-events: none;
                        inset-inline-start: calc(-1 * var(--tab-overflow-clip-margin) - var(--tab-overflow-clip-margin) / 2);
                        border-radius: 8px;
                        border-inline-start: var(--tab-overflow-clip-margin) solid color-mix(in srgb, currentColor 25%, transparent);
                        box-sizing: border-box;

                        @media -moz-pref("WaveFox.HorizontalTabs.AttachedTabs")
                        {
                            inset-inline-start: calc(-1 * var(--tab-overflow-clip-margin) / 2);
                        }
                    }
                }
                
                &:nth-last-child(1 of .tabbrowser-tab:not([hidden])),
                &:has(+ :is(tab-group, tab-split-view-wrapper)),
                &:has(+ .tabbrowser-tab[hidden] + :is(tab-group, tab-split-view-wrapper))
                {
                    > .tab-stack
                    {
                        &::after
                        {
                            content: "";
                            display: block;
                            position: absolute;
                            width: var(--tab-overflow-clip-margin);
                            height: 50%;
                            top: 25%;
                            pointer-events: none;
                            inset-inline-end: calc(-1 * var(--tab-overflow-clip-margin) - var(--tab-overflow-clip-margin) / 2);
                            border-radius: 8px;
                            border-inline-end: var(--tab-overflow-clip-margin) solid color-mix(in srgb, currentColor 25%, transparent);
                            box-sizing: border-box;

                            @media -moz-pref("WaveFox.HorizontalTabs.AttachedTabs")
                            {
                                inset-inline-end: calc(-1 * var(--tab-overflow-clip-margin) / 2);
                            }
                        }
                    }
                }

                &:is([selected], :hover, [multiselected], [dragover-groupTarget])
                {
                    & > .tab-stack
                    {
                        &::before,
                        &::after
                        {
                            opacity: 0;
                        }
                    }

                    & + .tabbrowser-tab:not([hidden]) > .tab-stack,
                    & + .tabbrowser-tab[hidden] + .tabbrowser-tab:not([hidden]) > .tab-stack
                    {
                        &::before
                        {
                            opacity: 0;
                        }
                    }
                }
            }
        }

        @media -moz-pref("WaveFox.HorizontalTabs.Tabs.Separators", 2)
        {
            .tabbrowser-tab > .tab-stack > .tab-background
            {
                background-color: color-mix(in srgb, currentColor 17%, transparent);
            }
        }
    }
}
