@media -moz-pref("WaveFox.Windows10.Transparency.Enabled")
{
    :root[customtitlebar]:not([lwtheme])
    {
        background-color: transparent !important;

        #navigator-toolbox
        {
            background-color: transparent !important;
            border-top-color: transparent !important;
        }
    }
}
