@media -moz-pref("WaveFox.DragSpace.Tabs", 1)  or
       -moz-pref("WaveFox.DragSpace.Tabs", 2)  or
       -moz-pref("WaveFox.DragSpace.Tabs", 3)
{
    @media -moz-pref("WaveFox.DragSpace.Tabs", 1)
    {
        :root[sizemode="normal"]
        {
            --drag-space: 8px;
        }
    }

    @media -moz-pref("WaveFox.DragSpace.Tabs", 2)
    {
        :root:is([sizemode="normal"], [sizemode="maximized"])
        {
            --drag-space: 8px;
        }
    }

    @media -moz-pref("WaveFox.DragSpace.Tabs", 3)
    {
        :root:is([sizemode="normal"], [sizemode="maximized"], [sizemode="fullscreen"])
        {
            --drag-space: 8px;
        }
    }

    #TabsToolbar :is(.tabbrowser-tab, .toolbarbutton-1, separator, #personal-bookmarks, #search-container, .tab-group-label-container)
    {
        margin-top: var(--drag-space, 0px) !important;
    }

    /* ---------- Shadow DOM ---------- */

    #tabbrowser-arrowscrollbox
    {
        --drag-space-only-tabs: var(--drag-space, 0px) !important;
    }

    #scrollbutton-up,
    #scrollbutton-down,
    spacer[part="overflow-start-indicator"],
    spacer[part="overflow-end-indicator"]
    {
        margin-top: var(--drag-space-only-tabs, revert) !important;
    }
}

@media -moz-pref("WaveFox.DragSpace.TabBarLeftSide.Disabled")
{
    .titlebar-spacer[type="pre-tabs"]
    {
        display: none !important;
    }
}

@media -moz-pref("WaveFox.DragSpace.TabBarRightSide.Disabled")
{
    .titlebar-spacer[type="post-tabs"]
    {
        display: none !important;
    }
}
