/* ---------------------------------------- Tabs ---------------------------------------- */

:root
{
    @media (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 4);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2 - 6px);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option13.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-min-height) / 2);
    }

    /* -------------------- Floating Tabs -------------------- */

    @media (-moz-bool-pref: "userChrome.Tabs.Option1.Enabled") or
           (-moz-bool-pref: "userChrome.Tabs.Option2.Enabled") or
           (-moz-bool-pref: "userChrome.Tabs.Option3.Enabled") or
           (-moz-bool-pref: "userChrome.Tabs.Option4.Enabled") or
           (-moz-bool-pref: "userChrome.Tabs.Option5.Enabled")
    {
        --tab-first-last-inline-margin: calc(var(--tab-block-margin) / 2);
        --tab-scroll-animation-inline-margin: calc(-1 * var(--tab-first-last-inline-margin));
        --tab-scroll-animation-inline-padding: calc(var(--tab-first-last-inline-margin) * 2);
        --tab-bg-block-margin: var(--tab-block-margin);
        --tab-inline-padding: var(--tab-first-last-inline-margin);
        --tab-separator-offset: var(--tab-first-last-inline-margin);
    }

    /* -------------------- Attached Tabs -------------------- */

    @media (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")  or
           (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")  or
           (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")  or
           (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")  or
           (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled") or
           (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled") or
           (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled") or
           (-moz-bool-pref: "userChrome.Tabs.Option13.Enabled")
    {
        --tab-scroll-animation-inline-margin: calc(-1 * var(--tab-first-last-inline-margin));
        --tab-scroll-animation-inline-padding: var(--tab-first-last-inline-margin);
        --tab-bg-block-margin: 0px;
        --tab-inline-padding: 0px;
        --tab-separator-offset: 0px;
        --pinned-tabs-width-offset: 2px;
    }
}

/* ---------------------------------------- Main Window ---------------------------------------- */

:root
{
    --tab-shadow-max-size: 0px !important;
    --tab-attention-indicator-position: 50% calc(50% + 12px);
}

/* ---------------------------------------- Nav Bar ---------------------------------------- */

#nav-bar
{
    border: none !important;
}

/* ---------------------------------------- Titlebar ---------------------------------------- */

:root[tabsintitlebar]
{
    #titlebar
    {
        will-change: auto !important;
        transition: none !important;
        opacity: 1 !important;
    }

    .titlebar-color
    {
        will-change: auto !important;
        transition: color var(--inactive-window-transition) !important;
    }

    &:-moz-window-inactive .titlebar-color
    {
        color: color-mix(in srgb, currentColor calc(var(--inactive-titlebar-opacity) * 100%), transparent) !important;
    }
}

/* ---------------------------------------- Density ---------------------------------------- */

:root[uidensity="compact"]
{
    --tab-min-height: 32px !important;
}

:root[uidensity="touch"]
{
    --tab-min-height: 40px !important;
}

/* ---------------------------------------- Tabs ---------------------------------------- */

.tabbrowser-tab
{
    --tab-label-mask-size: 0px !important;
    overflow-clip-margin: var(--tab-min-height) !important;
    padding-inline: var(--tab-inline-padding) !important;

    &[visuallyselected]
    {
        color: var(--toolbar-color) !important;
        position: relative;
        z-index: 2 !important;

        .tab-background
        {
            --gradient-background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor));
            --gradient-background-attachment: fixed;
            --gradient-background-size: auto auto;
            --gradient-background-position: left top;
            --gradient-background-repeat: no-repeat;

            --amo-background-image-1: var(--lwt-header-image, none);
            --amo-background-attachment-1: fixed;
            --amo-background-size-1: auto auto;
            --amo-background-position-1: right top;
            --amo-background-repeat-1: no-repeat;

            --amo-background-image-2: var(--lwt-additional-images, none);
            --amo-background-attachment-2: fixed, fixed, fixed;
            --amo-background-size-2: auto auto, auto auto, auto auto;
            --amo-background-position-2: var(--lwt-background-alignment);
            --amo-background-repeat-2: var(--lwt-background-tiling);

            background-color: transparent !important;
            background-image: var(--gradient-background-image), var(--amo-background-image-1), var(--amo-background-image-2) !important;
            background-attachment: var(--gradient-background-attachment), var(--amo-background-attachment-1), var(--amo-background-attachment-2) !important;
            background-size: var(--gradient-background-size), var(--amo-background-size-1), var(--amo-background-size-2) !important;
            background-position: var(--gradient-background-position), var(--amo-background-position-1), var(--amo-background-position-2) !important;
            background-repeat: var(--gradient-background-repeat), var(--amo-background-repeat-1), var(--amo-background-repeat-2) !important;
        }
    }

    &:not([visuallyselected])
    {
        color: inherit !important;

        &:hover .tab-background
        {
            background-color: var(--toolbarbutton-hover-background) !important;
        }

        &[multiselected] .tab-background
        {
            background-color: var(--toolbarbutton-active-background) !important;
        }

        #tabbrowser-tabs[movingtab] &
        {
            z-index: 0 !important;
        }
    }

    .tab-background
    {
        mask-image: var(--left-svg), var(--center-svg), var(--right-svg);
        mask-size: auto 100%, calc(100% - var(--tab-min-height) * 2) 100%, auto 100%;
        mask-position: left center, center center, right center;
        mask-repeat: no-repeat, no-repeat, no-repeat;
        box-shadow: none !important;
        outline: none !important;
        margin-block: var(--tab-bg-block-margin) !important;
        margin-inline: calc(-1 * (var(--tab-min-height) / 2)) !important;
        border-radius: 0px !important;
        pointer-events: none !important;
    }

    &[pinned] .tab-content
    {
        padding-inline: calc((var(--tab-min-height) - 16px) / 2 + var(--pinned-tabs-width-offset, 0px)) !important;
    }

    &:not([pinned]) .tab-content
    {
        padding-inline: 10px !important;
    }
}

.tab-drop-indicator
{
    opacity: 0 !important;
}

.tabbrowser-tab[pending] .tab-icon-image
{
    filter: saturate(0) !important;
}

.tab-close-button
{
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    padding: 2px !important;
    margin: 0px !important;
}

.tab-close-button:hover
{
    background-color: var(--toolbarbutton-hover-background) !important;
}

.tab-close-button:hover:active
{
    background-color: var(--toolbarbutton-active-background) !important;
}

/* -------------------- Container Indicators -------------------- */

.tab-context-line
{
    margin: 0px !important;
}

/* -------------------- Tab Icon Indicators -------------------- */

.tabbrowser-tab:is([image], [pinned]) .tab-content[attention]:not([selected]),
.tab-content[pinned][titlechanged]:not([selected])
{
    background-position: var(--tab-attention-indicator-position) !important;
}

/* -------------------- Media Icons -------------------- */

.tab-icon-overlay:not([crashed])
{
    stroke: transparent !important;
    background-color: transparent !important;
    border-radius: 50% !important;
    color: inherit !important;
    fill: currentColor !important;
    fill-opacity: 1 !important;
    z-index: 1 !important;
}

.tab-icon-overlay:not([crashed]):hover
{
    background-color: var(--toolbarbutton-hover-background) !important;
}

.tab-icon-overlay:not([crashed]):hover:active
{
    background-color: var(--toolbarbutton-active-background) !important;
}

.tabbrowser-tab:is([pinned], [image], [sharing], [pictureinpicture]):not([crashed]) .tab-icon-overlay
{
    top: -8px !important;
    inset-inline-end: -8px !important;
}

.tab-icon-overlay[indicator-replaces-favicon],
.tab-icon-stack[indicator-replaces-favicon] > :not(.tab-icon-overlay)
{
    opacity: 1 !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-stack > *
{
    margin-inline-end: 10px !important;
}

.tabbrowser-tab[busy] .tab-icon-overlay
{
    display: none !important;
}

.tabbrowser-tab:is([pinned], [image], [sharing], [pictureinpicture]):is([soundplaying], [muted], [activemedia-blocked]):not([busy], [crashed]) .tab-icon-stack > :not(.tab-icon-overlay)
{
    mask-image: url("svg_files/media/Media.svg");
    mask-size: 16px 16px;
}

:root:-moz-locale-dir(rtl) .tabbrowser-tab:is([pinned], [image], [sharing], [pictureinpicture]):is([soundplaying], [muted], [activemedia-blocked]):not([busy], [crashed]) .tab-icon-stack > :not(.tab-icon-overlay)
{
    mask-image: url("svg_files/media/Media_rtl.svg");
}

/* ---------- Picture-In-Picture ---------- */

.tabbrowser-tab[pictureinpicture]:not([busy], [crashed]) .tab-icon-stack::before
{
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: currentColor;
    mask-size: 16px 16px;
    mask-position: center center;
    mask-repeat: no-repeat;
}

:root:-moz-locale-dir(rtl) .tabbrowser-tab[pictureinpicture]:not([busy], [crashed]) .tab-icon-stack::before
{
    transform: rotateY(180deg);
}

.tabbrowser-tab[pictureinpicture]:not([busy], [crashed]) .tab-icon-stack > :not(.tab-icon-overlay)
{
    position: relative !important;
    padding: 2px !important;
    inset-inline-start: 8px !important;
    top: 8px !important;
    mask-image: none !important;
    box-sizing: border-box !important;
    z-index: 1 !important;
}

.tabbrowser-tab[pictureinpicture]:not([busy], [crashed]):not([soundplaying], [muted], [activemedia-blocked]) .tab-icon-stack::before
{
    mask-image: url("svg_files/media/PIP.svg");
}

.tabbrowser-tab[pictureinpicture]:not([busy], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) .tab-icon-stack::before
{
    mask-image: url("svg_files/media/PIP_Sound.svg");
}

/* -------------------- Tab Text -------------------- */

.tab-label-container
{
    height: var(--tab-min-height) !important;
}

.tab-label
{
    width: 100% !important;
    height: 16px !important;
    line-height: 16px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin-block: 0px !important;
}

#tabbrowser-tabs[secondarytext-unsupported] .tab-label
{
    height: var(--tab-min-height) !important;
    line-height: var(--tab-min-height) !important;
}

.tab-secondary-label
{
    width: 100% !important;
    height: 16px !important;
    line-height: 16px !important;
    margin-block: 0px !important;
    order: -1 !important;
}

.tab-secondary-label > *
{
    width: 100% !important;
    height: 16px !important;
    line-height: 16px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* ---------------------------------------- Tab Bar ---------------------------------------- */

#TabsToolbar #search-container
{
    padding-block: 0 !important;
}

/* ---------------------------------------- Indents ---------------------------------------- */

#tabbrowser-tabs:not([overflow]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))
{
    margin-inline-start: 0px !important;
}

#tabbrowser-tabs:not([overflow]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([hidden])),
#tabbrowser-tabs[overflow] .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden])),
#tabbrowser-tabs[overflow][haspinnedtabs]
{
    margin-inline-start: var(--tab-first-last-inline-margin) !important;
}

.tabbrowser-tab:nth-last-child(1 of .tabbrowser-tab:not([hidden]))
{
    margin-inline-end: var(--tab-first-last-inline-margin) !important;
}

/* ---------------------------------------- Tab Scroll Animation ---------------------------------------- */
       
#tabbrowser-tabs[overflow] .tabbrowser-tab:not([pinned])
{
    box-sizing: content-box !important;
}

#tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([pinned])
{
    pointer-events: none !important;
    box-sizing: content-box !important;
    padding-inline: var(--tab-scroll-animation-inline-padding) !important;
    margin-inline: var(--tab-scroll-animation-inline-margin) !important;
    overflow-clip-margin: 0px !important;
}

#tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([pinned]) .tab-stack
{
    pointer-events: auto !important;
}

#tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))
{
    margin-inline-start: 0px !important;
}

#tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:nth-last-child(1 of .tabbrowser-tab:not([hidden]))
{
    margin-inline-end: 0px !important;
}
