/* -------------------- Media Icons -------------------- */

@scope (#pinned-tabs-container, #tabbrowser-arrowscrollbox) to (tab-group, tab-split-view-wrapper)
{
    /* Pinned Tabs */

    .tabbrowser-tab[pinned]:not([crashed])
    {
        .tab-icon-overlay
        {
            background-color: var(--toolbar-background-color) !important;
            background-image: none !important;
            color: var(--toolbar-text-color) !important;
            fill: currentColor !important;
            top: -8px !important;
            inset-inline-end: -8px !important;
            padding: 1px !important;

            &:hover
            {
                background-color: color-mix(in srgb, currentColor 17%, var(--toolbar-background-color)) !important;
            }

            &:hover:active
            {
                background-color: color-mix(in srgb, currentColor 30%, var(--toolbar-background-color)) !important;
            }
        }
    }

    /* Regular Tabs */

    .tabbrowser-tab:not([pinned], [crashed])
    {
        .tab-audio-button
        {
            --icon-size: 14px !important;
            --button-size-icon-small: 16px !important;
            --button-min-height-small: 16px !important;
            --button-border-radius: var(--border-radius-circle) !important;
            margin: 0px !important;
            position: relative !important;
            top: -8px !important;
            inset-inline-end: -8px !important;
            background-color: var(--toolbar-background-color) !important;
            border-radius: var(--border-radius-circle) !important;
            color: var(--toolbar-text-color) !important;
            box-shadow: var(--box-shadow-level-1) !important;
        }
        
        .tab-content
        {
            display: grid !important;
            grid-template-rows: auto !important;
            grid-template-columns: auto 1fr auto !important;

            .tab-icon-stack,
            .tab-audio-button
            {
                grid-area: 1 / 1 / auto / auto !important;
            }
            
            .tab-icon-image:not([src], [pinned], [crashed], [sharing], [pictureinpicture], [busy])
            {
                display: block !important;
            }
        }
    }

    .tabbrowser-tab:not([pinned])
    {
        &[fadein]
        {
            min-width: var(--tab-min-width-pref, var(--tab-min-width)) !important;
        }

        .tab-icon-stack > *
        {
            margin-inline-end: 6px !important;
        }
    }
}

/* Picture-In-Picture */

.tabbrowser-tab[pictureinpicture]:not([crashed], [busy])
{
    .tab-icon-stack::before
    {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: currentColor;
        mask-image: url("chrome://global/skin/media/picture-in-picture-open.svg");
        mask-size: 16px 16px;
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-mode: alpha;
        
        :root:-moz-locale-dir(rtl) &
        {
            transform: rotateY(180deg);
        }
    }
    
    .tab-icon-stack > *
    {
        background-color: var(--toolbar-background-color) !important;
        border-radius: var(--border-radius-circle) !important;
        box-shadow: var(--box-shadow-level-1) !important;
        position: relative !important;
        padding: 2px !important;
        inset-inline-start: 8px !important;
        top: 8px !important;
        box-sizing: border-box !important;
        z-index: 1 !important;
    }
}

/* Tab Text */

.tab-label-container
{
    height: auto !important;
    font-size: clamp(0px, 1em, 16px) !important;
}

.tab-label
{
    width: 100% !important;
    height: auto !important;
    line-height: normal !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    margin-block: 0px !important;
}
