#navigator-toolbox
{
    & > *
    {
        border: none !important;
    }
}

/* OS System Theme */

@media -moz-pref("WaveFox.HorizontalTabs.OS.SystemTheme") and
       -moz-pref("extensions.activeThemeID", 'default-theme@mozilla.org')
{
    #main-window,
    body,
    #navigator-toolbox
    {
        background-color: transparent !important;
        background-image: none !important;
    }
}
