/* ---------------------------------------- Firefox View ---------------------------------------- */

#tabbrowser-tabs::before
{
    display: none !important;
}

/* -------------------- Extensions menu -------------------- */

#unified-extensions-panel .unified-extensions-item
{
    margin-block: 0px !important;
}

#unified-extensions-panel :is(
                              .unified-extensions-item-name,
                              .unified-extensions-item-message-deck > *
                             )
{
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

/* -------------------- Tab Counter -------------------- */

#tabbrowser-tabs
{
    counter-reset: TabCounter;
}

.tabbrowser-tab
{
    counter-increment: TabCounter;
}

#tabbrowser-tabs ~ #alltabs-button > .toolbarbutton-badge-stack > .toolbarbutton-icon
{
    opacity: 0 !important;
}

#tabbrowser-tabs ~ #alltabs-button::after
{
    content: counter(TabCounter);
    position: absolute;
}

/* ---------------------------------------- Tab Bar ---------------------------------------- */

#TabsToolbar
{
    --toolbarbutton-padding-inner: inherit !important;
}

/* ---------------------------------------- Indents ---------------------------------------- */

#TabsToolbar-customization-target > :is(toolbarbutton, toolbaritem):first-child,
#TabsToolbar-customization-target > toolbarpaletteitem:first-child > :is(toolbarbutton, toolbaritem)
{
    padding-inline-start: var(--toolbar-padding-inline) !important;
}

#TabsToolbar-customization-target > :is(toolbarbutton, toolbaritem):last-child,
#TabsToolbar-customization-target > toolbarpaletteitem:last-child > :is(toolbarbutton, toolbaritem)
{
    padding-inline-end: var(--toolbar-padding-inline) !important;
}
