@media (-moz-bool-pref: "userChrome.Tabs.TabsOnBottom.Enabled")
{
    /* -------------------- Title Bar -------------------- */

    #TabsToolbar
    {
        order: 3 !important;
    }

    #toolbar-menubar
    {
        order: 0 !important;
        background-color: var(--toolbar-bgcolor) !important;
        color: var(--toolbar-color) !important;
        --toolbarbutton-icon-fill: inherit !important;
        --toolbarbutton-hover-background: inherit !important;
        --toolbarbutton-active-background: inherit !important;
    }

    #TabsToolbar::before
    {
        transform: rotateX(180deg);
    }

    /* -------------------- Nav Bar -------------------- */

    #nav-bar
    {
        order: 1 !important;
    }

    /* -------------------- Personal Bar -------------------- */

    #PersonalToolbar
    {
        order: 2 !important;
    }

    /* -------------------- Tabs -------------------- */

    :root
    {
        --drag-space: 0px !important;
    }

    .tab-background
    {
        transform: rotateX(180deg);
    }
    
    /* -------------------- Window Control Buttons -------------------- */

    #TabsToolbar > :is(.titlebar-buttonbox-container, .titlebar-spacer)
    {
        display: none !important;
    }

    #toolbar-menubar[inactive] ~ #nav-bar > .titlebar-buttonbox-container
    {
        display: block !important;
    }

    :root[customtitlebar]:not([inFullscreen]) #toolbar-menubar[inactive] ~ #nav-bar > .titlebar-spacer[type="post-tabs"]
    {
        display: block !important;
    }

    /* -------------------- Shadows -------------------- */
    
    @media not ((-moz-bool-pref: "userChrome.Tabs.Option5.Enabled")  or
                (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")  or
                (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")  or
                (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")  or
                (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")  or
                (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled") or
                (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled") or
                (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled"))
    {
        #TabsToolbar
        {
            box-shadow: var(--wavefox-inner-tabbar-shadow-inverted, none) !important;
    
            --wavefox-inner-tabbar-shadow-inverted: inset
                                                    0
                                                    var(--wavefox-ft-tab-shadow-blur)
                                                    var(--wavefox-ft-tab-shadow-blur)
                                                    calc(-1 * var(--wavefox-ft-tab-shadow-blur))
                                                    color-mix(in srgb, var(--wavefox-ft-tab-shadow-color) var(--wavefox-ft-tab-shadow-saturation), transparent) !important;
        }
    }
}
