/* ---------------------------------------- Firefox View ---------------------------------------- */

:where(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs
{
    border-inline-start: none !important;
    padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
    margin-inline-start: 0px !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon
{
    background-color: var(--toolbarbutton-active-background) !important;
    color: inherit !important;
    box-shadow: none !important;
    outline: none !important;
}

#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon
{
    background-color: var(--toolbarbutton-hover-background) !important;
}

/* -------------------- Extensions menu -------------------- */

#unified-extensions-panel
{
    --uei-icon-size: 24px !important;
}

#unified-extensions-panel .unified-extensions-item
{
    margin-block: 0px !important;
}

#unified-extensions-panel :is(
                              .unified-extensions-item-name,
                              .unified-extensions-item-message-deck > *
                             )
{
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

/* -------------------- Tab Counter -------------------- */

#tabbrowser-tabs
{
    counter-reset: TabCounter;
}

.tabbrowser-tab
{
    counter-increment: TabCounter;
}

#tabbrowser-tabs ~ #alltabs-button > .toolbarbutton-badge-stack > .toolbarbutton-icon
{
    opacity: 0 !important;
}

#tabbrowser-tabs ~ #alltabs-button::after
{
    content: counter(TabCounter);
    position: absolute;
}

/* ---------------------------------------- Tab Bar ---------------------------------------- */

#TabsToolbar
{
    --toolbarbutton-inner-padding: inherit !important;
}

/* ---------------------------------------- Indents ---------------------------------------- */

#TabsToolbar-customization-target > :is(toolbarbutton, toolbaritem):first-child,
#TabsToolbar-customization-target > toolbarpaletteitem:first-child > :is(toolbarbutton, toolbaritem)
{
    margin-inline-start: calc(var(--toolbar-start-end-padding) - var(--toolbarbutton-outer-padding)) !important;
}

#TabsToolbar-customization-target > :is(toolbarbutton, toolbaritem):last-child,
#TabsToolbar-customization-target > toolbarpaletteitem:last-child > :is(toolbarbutton, toolbaritem)
{
    margin-inline-end: calc(var(--toolbar-start-end-padding) - var(--toolbarbutton-outer-padding)) !important;
}

.tabbrowser-tab:not([hidden]) + #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button
{
    margin-inline-start: calc(-1 * var(--tab-first-last-inline-margin, 0px) / 2) !important;
}
