@media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 1) or
       -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 2) or
       -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 3) or
       -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 4)
{
    @media not (-moz-pref("WaveFox.Tabs.Shape", 5)  or
                -moz-pref("WaveFox.Tabs.Shape", 6)  or
                -moz-pref("WaveFox.Tabs.Shape", 7)  or
                -moz-pref("WaveFox.Tabs.Shape", 8)  or
                -moz-pref("WaveFox.Tabs.Shape", 9)  or
                -moz-pref("WaveFox.Tabs.Shape", 10) or
                -moz-pref("WaveFox.Tabs.Shape", 11) or
                -moz-pref("WaveFox.Tabs.Shape", 12))
    {
        @media (prefers-color-scheme: light)
        {
            :root:is(:not([lwtheme]), [style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26)"])
            {
                --wavefox-ft-tab-shadow-blur: 4px;
                --wavefox-ft-tab-shadow-color: rgb(0,0,0);

                --wavefox-selected-tab-shadow: 0
                                               0
                                               var(--wavefox-ft-tab-shadow-blur)
                                               color-mix(in srgb, var(--wavefox-ft-tab-shadow-color) var(--wavefox-ft-tab-shadow-saturation), transparent);

                --wavefox-inner-tabbar-shadow: inset
                                               0
                                               calc(-1 * var(--wavefox-ft-tab-shadow-blur))
                                               var(--wavefox-ft-tab-shadow-blur)
                                               calc(-1 * var(--wavefox-ft-tab-shadow-blur))
                                               color-mix(in srgb, var(--wavefox-ft-tab-shadow-color) var(--wavefox-ft-tab-shadow-saturation), transparent);

                /* ---------- Blur ---------- */

                @media -moz-pref("WaveFox.LightTheme.Tabs.Borders.Enabled")
                {
                    --wavefox-ft-tab-shadow-blur: 1px;
                }

                /* ---------- Saturation ---------- */

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 1)
                {
                    --wavefox-ft-tab-shadow-saturation: 10%;
                }

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 2)
                {
                    --wavefox-ft-tab-shadow-saturation: 25%;
                }

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 3)
                {
                    --wavefox-ft-tab-shadow-saturation: 50%;
                }

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 4)
                {
                    --wavefox-ft-tab-shadow-saturation: 100%;
                }
            
                /* ---------- Tab Bar ---------- */
       
                #TabsToolbar
                {
                    box-shadow: var(--wavefox-inner-tabbar-shadow) !important;
                }

                /* ---------- Tabs ---------- */
       
                .tabbrowser-tab[visuallyselected] .tab-background
                {
                    box-shadow: var(--wavefox-selected-tab-shadow) !important;
                }
            }
        }
    }

    @media -moz-pref("WaveFox.Tabs.Shape", 5)  or
           -moz-pref("WaveFox.Tabs.Shape", 6)  or
           -moz-pref("WaveFox.Tabs.Shape", 7)  or
           -moz-pref("WaveFox.Tabs.Shape", 8)  or
           -moz-pref("WaveFox.Tabs.Shape", 9)  or
           -moz-pref("WaveFox.Tabs.Shape", 10) or
           -moz-pref("WaveFox.Tabs.Shape", 11) or
           -moz-pref("WaveFox.Tabs.Shape", 12)
    {
        @media (prefers-color-scheme: light)
        {
            :root:is(:not([lwtheme]), [style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26)"])
            {
                --wavefox-at-tab-shadow-blur: 4px;
                --wavefox-at-tab-shadow-color: rgb(0,0,0);

                --wavefox-selected-tab-shadow: drop-shadow(
                                               0
                                               0
                                               calc(var(--wavefox-at-tab-shadow-blur) / 2)
                                               color-mix(in srgb, var(--wavefox-at-tab-shadow-color) var(--wavefox-at-tab-shadow-saturation), transparent));

                --wavefox-inner-tabbar-shadow: inset
                                               0
                                               calc(-1 * var(--wavefox-at-tab-shadow-blur))
                                               var(--wavefox-at-tab-shadow-blur)
                                               calc(-1 * var(--wavefox-at-tab-shadow-blur))
                                               color-mix(in srgb, var(--wavefox-at-tab-shadow-color) var(--wavefox-at-tab-shadow-saturation), transparent);

                /* ---------- Blur ---------- */

                @media -moz-pref("WaveFox.LightTheme.Tabs.Borders.Enabled")
                {
                    --wavefox-at-tab-shadow-blur: 2px;
                }

                /* ---------- Saturation ---------- */

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 1)
                {
                    --wavefox-at-tab-shadow-saturation: 10%;
                }

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 2)
                {
                    --wavefox-at-tab-shadow-saturation: 25%;
                }

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 3)
                {
                    --wavefox-at-tab-shadow-saturation: 50%;
                }

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 4)
                {
                    --wavefox-at-tab-shadow-saturation: 100%;
                }
            
                /* ---------- Tab Bar ---------- */
       
                #TabsToolbar
                {
                    position: relative !important;
                    clip-path: inset(0px) !important;
                }
       
                #TabsToolbar::before
                {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0px;
                    inset-inline-start: 0px;
                    box-shadow: var(--wavefox-inner-tabbar-shadow);
                    pointer-events: none;
                    z-index: 2;
                }
       
                /* ---------- Tabs ---------- */
       
                .tabbrowser-tab[visuallyselected]
                {
                    filter: var(--wavefox-selected-tab-shadow) !important;
                }
            }
        }
    }
}

@media -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 1) or
       -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 2) or
       -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 3) or
       -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 4)
{
    @media not (-moz-pref("WaveFox.Tabs.Shape", 5)  or
                -moz-pref("WaveFox.Tabs.Shape", 6)  or
                -moz-pref("WaveFox.Tabs.Shape", 7)  or
                -moz-pref("WaveFox.Tabs.Shape", 8)  or
                -moz-pref("WaveFox.Tabs.Shape", 9)  or
                -moz-pref("WaveFox.Tabs.Shape", 10) or
                -moz-pref("WaveFox.Tabs.Shape", 11) or
                -moz-pref("WaveFox.Tabs.Shape", 12))
    {
        @media (prefers-color-scheme: dark)
        {
            :root:is(:not([lwtheme]), [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254)"])
            {
                --wavefox-ft-tab-shadow-blur: 4px;
                --wavefox-ft-tab-shadow-color: rgb(0,0,0);

                --wavefox-selected-tab-shadow: 0
                                               0
                                               var(--wavefox-ft-tab-shadow-blur)
                                               color-mix(in srgb, var(--wavefox-ft-tab-shadow-color) var(--wavefox-ft-tab-shadow-saturation), transparent);

                --wavefox-inner-tabbar-shadow: inset
                                               0
                                               calc(-1 * var(--wavefox-ft-tab-shadow-blur))
                                               var(--wavefox-ft-tab-shadow-blur)
                                               calc(-1 * var(--wavefox-ft-tab-shadow-blur))
                                               color-mix(in srgb, var(--wavefox-ft-tab-shadow-color) var(--wavefox-ft-tab-shadow-saturation), transparent);

                /* ---------- Blur ---------- */

                @media -moz-pref("WaveFox.DarkTheme.Tabs.Borders.Enabled")
                {
                    --wavefox-ft-tab-shadow-blur: 1px;
                }

                /* ---------- Saturation ---------- */

                @media -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 1)
                {
                    --wavefox-ft-tab-shadow-saturation: 25%;
                }

                @media -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 2)
                {
                    --wavefox-ft-tab-shadow-saturation: 50%;
                }

                @media -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 3)
                {
                    --wavefox-ft-tab-shadow-saturation: 75%;
                }

                @media -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 4)
                {
                    --wavefox-ft-tab-shadow-saturation: 100%;
                }
            
                /* ---------- Tab Bar ---------- */

                #TabsToolbar
                {
                    box-shadow: var(--wavefox-inner-tabbar-shadow) !important;
                }

                /* ---------- Tabs ---------- */

                .tabbrowser-tab[visuallyselected] .tab-background
                {
                    box-shadow: var(--wavefox-selected-tab-shadow) !important;
                }
            }
        }
    }

    @media -moz-pref("WaveFox.Tabs.Shape", 5)  or
           -moz-pref("WaveFox.Tabs.Shape", 6)  or
           -moz-pref("WaveFox.Tabs.Shape", 7)  or
           -moz-pref("WaveFox.Tabs.Shape", 8)  or
           -moz-pref("WaveFox.Tabs.Shape", 9)  or
           -moz-pref("WaveFox.Tabs.Shape", 10) or
           -moz-pref("WaveFox.Tabs.Shape", 11) or
           -moz-pref("WaveFox.Tabs.Shape", 12)
    {
        @media (prefers-color-scheme: dark)
        {
            :root:is(:not([lwtheme]), [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254)"])
            {
                --wavefox-at-tab-shadow-blur: 4px;
                --wavefox-at-tab-shadow-color: rgb(0,0,0);

                --wavefox-selected-tab-shadow: drop-shadow(
                                               0
                                               0
                                               calc(var(--wavefox-at-tab-shadow-blur) / 2)
                                               color-mix(in srgb, var(--wavefox-at-tab-shadow-color) var(--wavefox-at-tab-shadow-saturation), transparent));

                --wavefox-inner-tabbar-shadow: inset
                                               0
                                               calc(-1 * var(--wavefox-at-tab-shadow-blur))
                                               var(--wavefox-at-tab-shadow-blur)
                                               calc(-1 * var(--wavefox-at-tab-shadow-blur))
                                               color-mix(in srgb, var(--wavefox-at-tab-shadow-color) var(--wavefox-at-tab-shadow-saturation), transparent);

                /* ---------- Blur ---------- */

                @media -moz-pref("WaveFox.DarkTheme.Tabs.Borders.Enabled")
                {
                    --wavefox-at-tab-shadow-blur: 2px;
                }

                /* ---------- Saturation ---------- */

                @media -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 1)
                {
                    --wavefox-at-tab-shadow-saturation: 25%;
                }

                @media -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 2)
                {
                    --wavefox-at-tab-shadow-saturation: 50%;
                }

                @media -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 3)
                {
                    --wavefox-at-tab-shadow-saturation: 75%;
                }

                @media -moz-pref("WaveFox.DarkTheme.Tabs.Shadows", 4)
                {
                    --wavefox-at-tab-shadow-saturation: 100%;
                }
            
                /* ---------- Tab Bar ---------- */

                #TabsToolbar
                {
                    position: relative !important;
                    clip-path: inset(0px) !important;
                }

                #TabsToolbar::before
                {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0px;
                    inset-inline-start: 0px;
                    box-shadow: var(--wavefox-inner-tabbar-shadow);
                    pointer-events: none;
                    z-index: 2;
                }

                /* ---------- Tabs ---------- */

                .tabbrowser-tab[visuallyselected]
                {
                    filter: var(--wavefox-selected-tab-shadow) !important;
                }
            }
        }
    }
}










/*

@media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 1) or
       -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 2) or
       -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 3) or
       -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 4)
{
    @media -moz-pref("extensions.activeThemeID", 'default-theme@mozilla.org') or
           -moz-pref("extensions.activeThemeID", 'firefox-compact-light@mozilla.org')
    {
        @media (prefers-color-scheme: light)
        {
            :root
            {
                --wavefox-ft-tab-shadow-blur: 4px;
                --wavefox-ft-tab-shadow-color: rgb(0,0,0);
                
                --wavefox-selected-tab-shadow: drop-shadow(
                                               0
                                               0
                                               calc(var(--wavefox-at-tab-shadow-blur) / 2)
                                               color-mix(in srgb, var(--wavefox-at-tab-shadow-color) var(--wavefox-at-tab-shadow-saturation), transparent));

                --wavefox-selected-tab-shadow: 0
                                               0
                                               var(--wavefox-ft-tab-shadow-blur)
                                               color-mix(in srgb, var(--wavefox-ft-tab-shadow-color) var(--wavefox-ft-tab-shadow-saturation), transparent);

                --wavefox-inner-tabbar-shadow: inset
                                               0
                                               calc(-1 * var(--wavefox-ft-tab-shadow-blur))
                                               var(--wavefox-ft-tab-shadow-blur)
                                               calc(-1 * var(--wavefox-ft-tab-shadow-blur))
                                               color-mix(in srgb, var(--wavefox-ft-tab-shadow-color) var(--wavefox-ft-tab-shadow-saturation), transparent);

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 1)
                {
                    --wavefox-ft-tab-shadow-saturation: 10%;
                }

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 2)
                {
                    --wavefox-ft-tab-shadow-saturation: 25%;
                }

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 3)
                {
                    --wavefox-ft-tab-shadow-saturation: 50%;
                }

                @media -moz-pref("WaveFox.LightTheme.Tabs.Shadows", 4)
                {
                    --wavefox-ft-tab-shadow-saturation: 100%;
                }
            }

            @media -moz-pref("WaveFox.Tabs.Shape", 0)  or
                   -moz-pref("WaveFox.Tabs.Shape", 1)  or
                   -moz-pref("WaveFox.Tabs.Shape", 2)  or
                   -moz-pref("WaveFox.Tabs.Shape", 3)  or
                   -moz-pref("WaveFox.Tabs.Shape", 4)
            {
                #TabsToolbar
                {
                    box-shadow: var(--wavefox-inner-tabbar-shadow) !important;
                }
       
                .tabbrowser-tab[visuallyselected] .tab-background
                {
                    box-shadow: var(--wavefox-selected-tab-shadow) !important;
                }
            }
            
            @media -moz-pref("WaveFox.Tabs.Shape", 5)  or
                   -moz-pref("WaveFox.Tabs.Shape", 6)  or
                   -moz-pref("WaveFox.Tabs.Shape", 7)  or
                   -moz-pref("WaveFox.Tabs.Shape", 8)  or
                   -moz-pref("WaveFox.Tabs.Shape", 9)  or
                   -moz-pref("WaveFox.Tabs.Shape", 10) or
                   -moz-pref("WaveFox.Tabs.Shape", 11) or
                   -moz-pref("WaveFox.Tabs.Shape", 12)
            {
                #TabsToolbar
                {
                    position: relative !important;
                    clip-path: inset(0px) !important;
                }
       
                #TabsToolbar::before
                {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0px;
                    inset-inline-start: 0px;
                    box-shadow: var(--wavefox-inner-tabbar-shadow);
                    pointer-events: none;
                    z-index: 2;
                }
       
                .tabbrowser-tab[visuallyselected]
                {
                    filter: var(--wavefox-selected-tab-shadow) !important;
                }
            }
        }
    }
}

*/









