@media -moz-pref("WaveFox.WebPage.Floating.Enabled")
{
    :root:not([inFullscreen], [inDOMFullscreen])
    {
        #navigator-toolbox
        {
            border-bottom: none !important;
        }

        #browser > #tabbrowser-tabbox
        {
            margin-block-start: 0px !important;
            margin-block-end: 8px !important;
            margin-inline: 8px !important;
            border: 1px solid var(--chrome-content-separator-color) !important;
            border-radius: 8px !important;
            overflow: hidden !important;
            clip-path: border-box !important;
            outline: none !important;
            box-shadow: none !important;

            &[sidebar-shown]:not([sidebar-positionend])
            {
                margin-inline-start: 0px !important;
            }
            
            &[sidebar-shown][sidebar-positionend]
            {
                margin-inline-end: 0px !important;
            }

            @media (-moz-pref("WaveFox.TabsBelowURL.Enabled") and -moz-pref("browser.tabs.inTitlebar", 0)) or
                    -moz-pref("WaveFox.OneLine", 1) or 
                    -moz-pref("WaveFox.OneLine", 2)
            {
                margin-block-start: 8px !important;
            }
        }

        &:is([style*="--lwt-header-image"], [style*="--lwt-additional-images"]) #browser > #tabbrowser-tabbox
        {
            margin-block-start: 8px !important;
        }
    }
}
