@media (-moz-bool-pref: "userChrome.Toolbar.Transparency.Low.Enabled")    or
       (-moz-bool-pref: "userChrome.Toolbar.Transparency.Medium.Enabled") or
       (-moz-bool-pref: "userChrome.Toolbar.Transparency.High.Enabled")
{
    :root:not([lwtheme])
    {
        --outer-box-shadow: initial !important;
        --inner-box-shadow: initial !important;
        --outer-drop-shadow: initial !important;
        --toolbarbutton-hover-background: color-mix(in srgb, currentColor 17%, transparent) !important;
        --toolbarbutton-active-background: color-mix(in srgb, currentColor 30%, transparent) !important;
        
        @media (-moz-bool-pref: "userChrome.Toolbar.Transparency.Low.Enabled")
        {
            --toolbar-transparency-level: 25%;
        }
        
        @media (-moz-bool-pref: "userChrome.Toolbar.Transparency.Medium.Enabled")
        {
            --toolbar-transparency-level: 50%;
        }
        
        @media (-moz-bool-pref: "userChrome.Toolbar.Transparency.High.Enabled")
        {
            --toolbar-transparency-level: 75%;
        }
        
        .tabbrowser-tab[visuallyselected] .tab-background,
        #nav-bar,
        #PersonalToolbar
        {
            background-color: color-mix(in srgb, var(--toolbar-bgcolor), transparent var(--toolbar-transparency-level)) !important;
            background-image: none !important;
        }
    }
}

@media (-moz-bool-pref: "userChrome.Toolbar.Transparency.VeryHigh.Enabled")
{
    :root:not([lwtheme])
    {
        --toolbarbutton-hover-background: color-mix(in srgb, currentColor 17%, transparent) !important;
        --toolbarbutton-active-background: color-mix(in srgb, currentColor 30%, transparent) !important;

        #nav-bar,
        #PersonalToolbar
        {
            background-color: transparent !important;
        }
        
        #TabsToolbar::before,
        #nav-bar
        {
            box-shadow: none !important;
        }
    }
}
