@media (-moz-bool-pref: "userChrome.TabSeparators.Saturation.Low.Enabled")    or
       (-moz-bool-pref: "userChrome.TabSeparators.Saturation.Medium.Enabled")
{
    .tab-stack
    {
        margin-inline-end: 1px !important;
    }

    .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([hidden])) .tab-stack::before,
    #tabbrowser-tabs[overflow][haspinnedtabs] .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden])) .tab-stack::before,
    .tab-stack::after
    {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 50%;
        border-inline-end: 1px solid currentColor;
        top: 25%;
        opacity: var(--separators-color-saturation);
        box-sizing: border-box;
        pointer-events: none;
    }

    .tab-stack::before
    {
        inset-inline-end: 100%;
        transform: translateX(calc(-1 * var(--tab-separator-offset)));
    }

    :root:-moz-locale-dir(rtl) .tab-stack::before
    {
        transform: translateX(var(--tab-separator-offset));
    }

    .tab-stack::after
    {
        inset-inline-start: 100%;
        transform: translateX(var(--tab-separator-offset));
    }

    :root:-moz-locale-dir(rtl) .tab-stack::after
    {
        transform: translateX(calc(-1 * var(--tab-separator-offset)));
    }

    .tabbrowser-tab:not([hidden]):is([selected], :hover, [multiselected]) .tab-stack::before,
    .tabbrowser-tab:not([hidden]):is([selected], :hover, [multiselected]) .tab-stack::after,
    #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab:is([selected], :hover, [multiselected]):not([hidden])) .tab-stack::after,
    #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab[hidden] + .tabbrowser-tab:is([selected], :hover, [multiselected]):not([hidden])) .tab-stack::after,
    #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab[hidden] ~ .tabbrowser-tab[hidden] + .tabbrowser-tab:is([selected], :hover, [multiselected]):not([hidden])) .tab-stack::after
    {
        opacity: 0 !important;
    }

    #tabbrowser-tabs[overflow] .tabbrowser-tab[pinned]:not([selected], :hover, [multiselected]):has(+ .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))) .tab-stack::after,
    #tabbrowser-tabs[overflow] .tabbrowser-tab[pinned]:not([selected], :hover, [multiselected]):has(+ .tabbrowser-tab[hidden] + .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))) .tab-stack::after,
    #tabbrowser-tabs[overflow] .tabbrowser-tab[pinned]:not([selected], :hover, [multiselected]):has(+ .tabbrowser-tab[hidden] ~ .tabbrowser-tab[hidden] + .tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([pinned], [hidden]))) .tab-stack::after
    {
        opacity: var(--separators-color-saturation) !important;
    }

    @media (-moz-bool-pref: "userChrome.TabSeparators.Saturation.Low.Enabled")
    {
        :root
        {
            --separators-color-saturation: 0.25;
        }
    }

    @media (-moz-bool-pref: "userChrome.TabSeparators.Saturation.Medium.Enabled")
    {
        :root
        {
            --separators-color-saturation: 0.5;
        }
    }
}
