:root
{
    @media (-moz-bool-pref: "userChrome.Tabs.Option1.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_1/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_1/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_1/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option2.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_2/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_2/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_2/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option3.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_3/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_3/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_3/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option4.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_4/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_4/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_4/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option5.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_5/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_5/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_5/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option6.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_1/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_1/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_1/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option7.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_6/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_6/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_6/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option8.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_7/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_7/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_7/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option9.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_8/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_8/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_8/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option10.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_9/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_9/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_9/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option11.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_10/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_10/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_10/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option12.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_11/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_11/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_11/right_corners.svg");
    }

    @media (-moz-bool-pref: "userChrome.Tabs.Option13.Enabled")
    {
        --left-svg:   url("modules/horizontal_tabs/svg_files/option_12/left_corners.svg");
        --center-svg: url("modules/horizontal_tabs/svg_files/option_12/center.svg");
        --right-svg:  url("modules/horizontal_tabs/svg_files/option_12/right_corners.svg");
    }
}
