@media (-moz-bool-pref: "userChrome.WebPage.Rounding.Enabled")
{
    :root:not([inFullscreen], [inDOMFullscreen])
    {
        #navigator-toolbox
        {
            border-bottom: none !important;
        }

        #browser > #tabbrowser-tabbox
        {
            margin-block: 0px 8px !important;
            margin-inline: 8px !important;
            border: 1px solid var(--chrome-content-separator-color) !important;
            border-radius: 10px !important;
            overflow: hidden !important;
            clip-path: border-box !important;

            @media (-moz-bool-pref: "userChrome.Tabs.TabsOnBottom.Enabled")   or
                   (-moz-bool-pref: "userChrome.OneLine.TabBarFirst.Enabled") or
                   (-moz-bool-pref: "userChrome.OneLine.NavBarFirst.Enabled")
            {
                margin-block-start: 8px !important;
            }
        }
    }
}
